








































.windowDialog {
  padding: 12px;
  font: -moz-dialog;
}

.paneSelector {
  list-style-image: url("chrome://browser/skin/preferences/Options.png");
}



radio[pane=paneGeneral],
radio[pane=paneMain] {
	-moz-image-region: rect(0px, 32px, 32px, 0px)
} 
radio[pane=paneGeneral]:active,
radio[pane=paneMain]:active:hover {
	-moz-image-region: rect(32px, 32px, 64px, 0px)
}



radio[pane=paneTabs] {
	-moz-image-region: rect(0px, 64px, 32px, 32px);
}

radio[pane=paneTabs]:active:hover {
	-moz-image-region: rect(32px, 64px, 64px, 32px);
}



radio[pane=paneContent] {
	-moz-image-region: rect(0px, 96px, 32px, 64px);
}

radio[pane=paneContent]:active:hover {
	-moz-image-region: rect(32px, 96px, 64px, 64px);
}



radio[pane=paneApplications] {
	-moz-image-region: rect(0px, 128px, 32px, 96px);
}

radio[pane=paneApplications]:active:hover {
	-moz-image-region: rect(32px, 128px, 64px, 96px);
}



radio[pane=panePrivacy] {
	-moz-image-region: rect(0px, 160px, 32px, 128px);
}

radio[pane=panePrivacy]:active:hover {
	-moz-image-region: rect(32px, 160px, 64px, 128px);
}



radio[pane=paneSecurity] {
	-moz-image-region: rect(0px, 192px, 32px, 160px);
}

radio[pane=paneSecurity]:active:hover {
	-moz-image-region: rect(32px, 192px, 64px, 160px);
}



radio[pane=paneAdvanced] {
	-moz-image-region: rect(0px, 224px, 32px, 192px);
}

radio[pane=paneAdvanced]:active:hover {
	-moz-image-region: rect(32px, 224px, 64px, 192px);
}




#BrowserPreferences[animated="true"] #handlersView {
  height: 25em;
}

#BrowserPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}

description {
  font: small-caption;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 4px !important;
}

prefpane .groupbox-body {
  -moz-appearance: none;
  padding: 8px 4px 4px 4px;
}

#paneTabs > groupbox {
  margin: 0;
}

#tabPrefsBox {
  margin: 12px 4px;
}

prefpane .groupbox-title {
  background: url("chrome://global/skin/50pct_transparent_grey.png") repeat-x bottom left;
  margin-bottom: 4px;
}

tabpanels {
  padding: 20px 7px 7px;
}

caption {
  -moz-padding-start: 5px;
  padding-top: 4px;
  padding-bottom: 2px;
}

#paneMain description,
#paneContent description,
#paneAdvanced description,
#paneSecurity description {
  font: -moz-dialog;
}

#paneContent {
  padding-top: 8px;
}

#paneContent row {
  padding: 2px 4px;
  -moz-box-align: center;
}

#popupPolicyRow,
#enableSoftwareInstallRow,
#enableImagesRow {
  margin-bottom: 4px !important;
  padding-bottom: 4px !important;
  border-bottom: 1px solid #ccc;
}

#browserUseCurrent,
#browserUseBookmark,
#browserUseBlank {
  margin-top: 10px;
}

#advancedPrefs {
  margin: 0 8px;
}

#privacyPrefs {
  padding: 0 4px;
}

#privacyPrefs > tabpanels {
  padding: 18px 10px 10px 10px;
}

#OCSPDialogPane {
  font: message-box !important;
}






.inline-link {
  color: -moz-nativehyperlinktext;
  text-decoration: underline;
}
  
.inline-link:not(:focus) {
  outline: 1px dotted transparent;
}




#autoInstallOptions {
  -moz-margin-start: 20px;
}

.updateControls {
  -moz-margin-start: 10px;
}




#SanitizeDialogPane > groupbox {
  margin-top: 0;
}
