



%include ../../../shared/incontentprefs/preferences.css

prefpane .groupbox-title {
  background: none;
  margin-bottom: 0;
}

spinbuttons {
  -moz-appearance: none;
}

.spinbuttons-up {
  margin-top: 0 !important;
  border-radius: 4px 4px 0 0;
}

.spinbuttons-down  {
  margin-bottom: 0 !important;
  border-radius: 0 0 4px 4px;
}

.spinbuttons-button > .button-box {
  -moz-padding-start: 2px !important;
  -moz-padding-end: 3px !important;
}

.spinbuttons-button > .button-box > .button-text {
  display: none;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin-top: 2px;
  -moz-margin-start: 2px;
  -moz-margin-end: 8px !important;
}

#downloadFolder > .fileFieldContentBox {
  -moz-padding-start: 3px;
}

textbox + button {
  -moz-margin-start: -4px;
}

filefield + button {
  -moz-margin-start: -8px;
}

#dialogTitle {
  -moz-margin-start: 6px !important;
}

#popupPolicyRow {
  

  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none;
}
