



%include ../../../shared/incontentprefs/preferences.inc.css

prefpane .groupbox-title {
  background: none;
  margin-bottom: 0;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  margin-top: 2px;
  -moz-margin-start: 2px;
  -moz-margin-end: 8px !important;
}

#downloadFolder > .fileFieldContentBox {
  -moz-padding-start: 3px;
}

textbox + button {
  -moz-margin-start: -4px;
}

filefield + button {
  -moz-margin-start: -8px;
}

#popupPolicyRow {
  

  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none;
}

#advancedPrefs {
  margin-right: 0; 
  margin-left: 0;
}





#dialogTitle {
  font-size: 1.1em;
}
