






































html *:not(embed):focus, *:focus > font {
  outline: 2px solid #8db8d8 !important;
  



}

html *|*:link:focus, *|*:visited:focus {
  outline-offset: -2px;
}


scrollbar {
  -moz-appearance: none !important;
  display: none !important;
}

scrollbarbutton {
  -moz-appearance: none !important;
  display: none !important;
}

thumb {
  min-width: 10px !important;
  -moz-appearance: none !important;
  background-color: gray !important;
  border: 1px solid gray !important;
  -moz-border-radius: 4px !important;
}

select:not([size]):not([multiple]) > scrollbar,
select[size="1"] > scrollbar,
select:not([size]):not([multiple]) scrollbarbutton,
select[size="1"] scrollbarbutton {
  display: block !important;
}


html select,
html button,
html textarea,
html input:not([type="image"]) {
  -moz-border-radius: 0.25em;
}

html select[size],
html select[multiple],
html select[size][multiple],
html textarea,
html input:not([type="image"]) {
  border-style: solid;
  border-color: #7d7d7d;
  color: #414141;
  background: -moz-linear-gradient(top, rgb(185,185,185) 0, rgb(235,235,235) 3px, rgb(255,255,255) 16px);
}

html select:not([size]):not([multiple]),
html select[size="0"],
html select[size="1"],
html input[type="button"],
html input[type="submit"],
html input[type="reset"],
html button {
  border-style: solid;
  border-color: #7d7d7d;
  color: #414141;
  background: -moz-linear-gradient(top, rgb(255,255,255) 0, rgb(235,235,235) 18px, rgb(185,185,185) 100%);
}

html input[type="checkbox"] {
  background: -moz-linear-gradient(top, rgb(185,185,185) 0, rgb(235,235,235) 2px, rgb(255,255,255) 6px);
}

html input[type="radio"] {
  background: -moz-radial-gradient(6px 6px, cover, rgb(255,255,255) 3px, rgb(225,225,225) 5px, rgb(185,185,185) 100%);
}

html select {
  border-width: 1px;
  padding: 1px;
}

html select:not([size]):not([multiple]),
html select[size="0"],
html select[size="1"] {
  padding: 2px 1px 2px 1px;
}

html input:not([type="image"]),
html textarea {
  border-width: 1px;
  padding: 2px 1px 2px 1px;
}

html input[type="button"],
html input[type="submit"],
html input[type="reset"],
html button {
  border-width: 1px;
  padding: 1px 7px 1px 7px;
}

html input[type="radio"],
html input[type="checkbox"] {
  max-width: 14px;
  max-height: 14px;
  border: 1px solid #a7a7a7 !important;
  padding: 2px 1px 2px 1px;
}

html select input[type="button"] {
  border-width: 0px !important;
  -moz-border-radius: 0;
  -moz-background-size: 100% 90%;
  color: #414141;

  background-image: -moz-radial-gradient(bottom left, #bbbbbb 40%, #f5f5f5) !important;
  background-position: -15px center !important;
  background-repeat: no-repeat !important;
  -moz-binding: url("chrome://browser/content/bindings.xml#select-button");
}

html select input[type="button"] > svg {
  margin-left: -3px;
  margin-top: 6px;
}

html select[size]:focus,
html select[multiple]:focus,
html select[size][multiple]:focus,
html input[type="file"]:focus > input[type="text"],
html textarea:focus,
html input:not([type="image"]):focus {
  outline: 0px !important;
  border-style: solid;
  border-color: rgb(94,128,153);
  background: -moz-linear-gradient(top, rgb(141,184,216) 0, rgba(198,225,246,0.2) 3px, rgb(255,255,255) 16px);
}

html select:not([size]):not([multiple]):focus,
html select[size="0"]:focus,
html select[size="1"]:focus,
html input[type="button"]:focus,
html input[type="submit"]:focus,
html input[type="reset"]:focus,
html button:focus {
  outline: 0px !important;
  border-style: solid;
  border-color: rgb(94,128,153);
  background: -moz-linear-gradient(top, rgb(255,255,255) 0, rgba(198,2225,256,0.2) 18px, rgb(141,184,216) 100%);
}

html input[type="checkbox"]:focus,
html input[type="radio"]:focus {
  border-color: #99c6e0 !important;
}

html input[type="checkbox"]:focus {
  background: -moz-linear-gradient(top, rgb(141,184,216) 0, rgba(198,225,246,0.2) 2px, rgb(255,255,255) 6px);
}

html input[type="radio"]:focus {
  background: -moz-radial-gradient(6px 6px, cover, rgb(255,255,255) 3px, rgba(198,225,246,0.2) 5px, rgb(141,184,216) 100%);
}

html textarea[disabled],
html select[disabled],
html button[disabled],
html input:not([type="image"])[disabled="true"] {
  color: rgba(0,0,0,0.3);
  border-color: rgba(125,125,125,0.4);
  border-style: solid;
  border-width: 1px;
  background: transparent -moz-linear-gradient(top, rgba(185,185,185,0.4) 0, rgba(235,235,235,0.4) 3px, rgba(255,255,255,0.4) 100%);
}

html input[type="button"][disabled],
html input[type="submit"][disabled],
html input[type="reset"][disabled],
html button[disabled="true"] {
  padding: 1px 7px 1px 7px;
  background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.4) 0, rgba(235,235,235,0.4) 3px, rgba(185,185,185,0.4) 100%);
}


html input[type="checkbox"][disabled],
html input[type="radio"][disabled] {
  border:1px solid rgba(125,125,125,0.4) !important;
}

html select[disabled] input[type="button"] {
  opacity: 0.6;
  padding: 1px 7px 1px 7px;
}
