





































scrollbar {
  -moz-appearance: none !important;
  display: none !important;
}

scrollbarbutton {
  -moz-appearance: none !important;
  display: none !important;
}

thumb {
  min-width: 10px !important;
  -moz-appearance: none !important;
  background-color: gray !important;
  border: 1px solid gray !important;
  -moz-border-radius: 4px !important;
}

select:not([size]) > scrollbar,
select[size="1"] > scrollbar,
select:not([size]) scrollbarbutton,
select[size="1"] scrollbarbutton {
  display:block !important;
}


textarea,
select, select[size], select[multiple], select[size][multiple],
input:not([type]),
input[type="text"],
input[type="file"],
input[type="password"] {
  color: black;
  background-color: white;
  border: 1px solid silver;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: black;
  background-color: silver;
  border: 2px outset silver;
}


input[type="radio"],
input[type="checkbox"] {
  color: black !important;
  background-color: white !important;
  border: 2px inset gray;
}


input[disabled],
textarea[disabled],
option[disabled],
optgroup[disabled],
select[disabled] {
  color: silver;
  background-color: white;
}


button[disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
select[disabled] > input[type="button"],
input[type="submit"][disabled] {
  border: 2px outset silver;
  color: gray;
}


input[type="radio"][disabled],
input[type="checkbox"][disabled] {
  border: 1px inset silver;
}
