














richlistitem.download {
  -moz-binding: none;
}

richlistitem.download[active] {
  -moz-binding: url('chrome://browser/content/downloads/download.xml#download-full-ui');
}

.download-state:not(          [state="0"]  )
                                           .downloadPauseMenuItem,
.download-state:not(          [state="4"]  )
                                           .downloadResumeMenuItem,
.download-state:not(:-moz-any([state="2"], 
                              [state="4"]) )
                                           .downloadCancelMenuItem,


.download-state:not(          [state="8"]  )
                                           .downloadUnblockMenuItem,
.download-state[state="8"]:not(.temporary-block)
                                           .downloadUnblockMenuItem,
.download-state[state]:not(:-moz-any([state="1"], 
                                     [state="2"], 
                                     [state="3"], 
                                     [state="6"], 
                                     [state="8"], 
                                     [state="9"]) )
                                           .downloadRemoveFromHistoryMenuItem,
.download-state:not(:-moz-any([state="-1"],
                              [state="0"], 
                              [state="1"], 
                              [state="4"], 
                              [state="5"]) )
                                           .downloadShowMenuItem,
.download-state[state="7"]                 .downloadCommandsSeparator
{
  display: none;
}
