





richlistitem[type="download"] {
  -moz-binding: url('chrome://browser/content/downloads/download.xml#download');
}

richlistitem[type="download"]:not([selected]) button {
  
  -moz-user-focus: none;
}



.download-state:-moz-any(     [state="6"], 
                              [state="8"], 
                              [state="9"]) 
                                           .downloadTypeIcon:not(.blockedIcon),

.download-state:not(:-moz-any([state="6"], 
                              [state="8"], 
                              [state="9"]) )
                                           .downloadTypeIcon.blockedIcon,

.download-state:not(:-moz-any([state="-1"],
                              [state="5"], 
                              [state="0"], 
                              [state="4"], 
                              [state="7"]) )
                                           .downloadProgress,

.download-state:not(          [state="0"]  )
                                           .downloadPauseMenuItem,

.download-state:not(          [state="4"]  )
                                           .downloadResumeMenuItem,



.download-state:not(          [state="8"]  )
                                           .downloadUnblockMenuItem,
.download-state[state="8"]:not(.temporary-block)
                                           .downloadUnblockMenuItem,

.download-state:not(:-moz-any([state="2"], 
                              [state="4"]) )
                                           .downloadCancelMenuItem,

.download-state:not(:-moz-any([state="1"], 
                              [state="2"], 
                              [state="3"], 
                              [state="6"], 
                              [state="8"], 
                              [state="9"]) )
                                           .downloadRemoveFromHistoryMenuItem,

.download-state:not(:-moz-any([state="-1"],
                              [state="0"], 
                              [state="1"], 
                              [state="4"], 
                              [state="5"]) )
                                           .downloadShowMenuItem,

.download-state[state="7"]                 .downloadCommandsSeparator

{
  display: none;
}



.download-state:not(:-moz-any([state="-1"],
                              [state="5"], 
                              [state="0"], 
                              [state="4"]) )
                                           .downloadCancel,



.download-state:not(          [state="8"]  )
                                           .downloadConfirmBlock,
.download-state[state="8"]:not(.temporary-block)
                                           .downloadConfirmBlock,

.download-state:not(:-moz-any([state="2"], 
                              [state="3"]) )
                                           .downloadRetry,

.download-state:not(          [state="1"]  )
                                           .downloadShow

{
  visibility: hidden;
}

.download-state[state="1"]:not([exists]) .downloadShow
{
  display: none;
}

#downloadsSummary:not([inprogress]) > vbox > #downloadsSummaryProgress,
#downloadsSummary:not([inprogress]) > vbox > #downloadsSummaryDetails,
#downloadsFooter[showingsummary] > #downloadsHistory,
#downloadsFooter:not([showingsummary]) > #downloadsSummary
{
  display: none;
}
