





#downloads-indicator:-moz-any([progress],
                              [counter],
                              [paused])    #downloads-indicator-icon,

#downloads-indicator:not(:-moz-any([progress],
                                   [counter],
                                   [paused]))
                                           #downloads-indicator-progress-area

{
  visibility: hidden;
}



toolbar[mode="text"] > #downloads-indicator {
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
}

toolbar[mode="text"] > #downloads-indicator > .toolbarbutton-text {
  -moz-box-ordinal-group: 1;
}

toolbar[mode="text"] > #downloads-indicator > .toolbarbutton-icon {
  display: -moz-box;
  -moz-box-ordinal-group: 2;
  visibility: collapse;
}
