<!DOCTYPE html>














<html>
<head>
  <style>
    div.flexbox {
      display: flex;
      background: lightgray;
      float: left;
      height: 60px;
      margin-right: 10px;
    }
    div.flexbox > * {
      outline: 1px dashed black;
      margin: 0;
      vertical-align: top;
      height: auto;
      align-self: stretch;
    }
    br { clear: left; }
  </style>
</head>
<body>
  <div class="flexbox"><input type="button"></div>
  <div class="flexbox"><input type="checkbox"></div>
  <br>
  <div class="flexbox"><input type="image"></div>
  <div class="flexbox"><input type="radio"></div>
  <br>
  <div class="flexbox"><input type="reset"></div>
  <div class="flexbox"><input type="submit"></div>
</body>
</html>
