







.theme-body {
  background: #131c26;
  color: #8fa1b2
}

.theme-twisty {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: -28px -14px;
}

.theme-twisty:-moz-focusring {
  outline-style: none;
}

.theme-twisty[open] {
  background-position: -42px -14px;
}

.theme-checkbox {
  display: inline-block;
  border: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  outline: none;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: -28px 0;
}

.theme-checkbox[checked] {
  background-position: -42px 0;
}

.theme-selected {
  background: #26394D;
}

.theme-bg-darker {
  background-color: rgba(0,0,0,0.5);
}

.theme-bg-contrast { 
  background: #a18650;
}

.theme-link { 
  color: #3689b2;
}

.theme-comment { 
  color: #5c6773;
}

.theme-gutter {
  background-color: #0f171f;
  color: #667380;
  border-color: #303b47;
}

.theme-separator { 
  border-color: #303b47;
}

.theme-fg-color1 { 
  color: #5c9966;
}

.theme-fg-color2 { 
  color: #3689b2;
}

.theme-fg-color3 { 
  color: #a673bf;
}

.theme-fg-color4 { 
  color: #6270b2;
}

.theme-fg-color5 { 
  color: #a18650;
}

.theme-fg-color6 { 
  color: #b26b47;
}

.theme-fg-color7 { 
  color: #bf5656;
}

.theme-fg-contrast { 
  color: black;
}

.ruleview-colorswatch,
.computedview-colorswatch,
.markupview-colorswatch {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
}
