%if 0



%endif



.highlighter-outline {
  box-shadow: 0 0 0 1px black;
  outline: 1px dashed white;
  outline-offset: -1px;
}

.highlighter-outline[locked]  {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
  outline-color: rgba(255,255,255,0.7);
}



.highlighter-nodeinfobar {
  color: hsl(216,33%,97%);
  border-radius: 3px;
  background: hsl(214,13%,24%) no-repeat padding-box;
}



.highlighter-nodeinfobar-text {
  
  max-width: calc(100% - 2 * (26px + 6px));
  padding-bottom: 1px;
}

html|*.highlighter-nodeinfobar-tagname {
  color: hsl(285,100%,75%);
}

html|*.highlighter-nodeinfobar-id {
  color: hsl(103,46%,54%);
}

html|*.highlighter-nodeinfobar-classes,
html|*.highlighter-nodeinfobar-pseudo-classes {
  color: hsl(200,74%,57%);
}



.highlighter-nodeinfobar-button {
  -moz-appearance: none;
  padding: 0;
  width: 26px;
  min-height: 26px;
%ifndef XP_LINUX
  background-color: transparent;
%endif
}

.highlighter-nodeinfobar-inspectbutton {
  -moz-margin-end: 6px;
  list-style-image: url("chrome://browser/skin/devtools/inspect-button.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.highlighter-nodeinfobar-inspectbutton:active:hover,
.highlighter-nodeinfobar-container:not([locked]) >  .highlighter-nodeinfobar >  .highlighter-nodeinfobar-inspectbutton {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.highlighter-nodeinfobar-menu {
  -moz-margin-start: 6px;
}

.highlighter-nodeinfobar-menu > .toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
  -moz-box-align: center;
  -moz-margin-start: -1px;
}



.highlighter-nodeinfobar-arrow {
  width: 14px;
  height: 14px;
  -moz-margin-start: calc(50% - 7px);
  transform: rotate(-45deg);
  background-clip: padding-box;
  background-repeat: no-repeat;
}

.highlighter-nodeinfobar-arrow-top {
  margin-bottom: -8px;
  margin-top: 8px;
  background-image: linear-gradient(to top right, transparent 50%, hsl(210,2%,22%) 50%);
}

.highlighter-nodeinfobar-arrow-bottom {
  margin-top: -8px;
  margin-bottom: 8px;
  background-image: linear-gradient(to bottom left, transparent 50%, hsl(210,2%,22%) 50%);
}

.highlighter-nodeinfobar-container[hide-arrow] > .highlighter-nodeinfobar {
  margin: 7px 0;
}
