%if 0



%endif



.highlighter-outline {
  box-shadow: 0 0 0 1px black;
  outline: 1px dashed white;
  outline-offset: -1px;
}



.highlighter-nodeinfobar {
  color: hsl(216,33%,97%);
  border-radius: 3px;
  background: hsl(214,13%,24%) no-repeat padding-box;
  padding: 5px;
  

  min-width: 75px;
}



.highlighter-nodeinfobar-text {
  text-align: center;
  
  max-width: calc(100% - 2 * (26px + 6px));
  padding-bottom: 1px;
}

html|*.highlighter-nodeinfobar-tagname {
  color: hsl(285,100%,75%);
}

html|*.highlighter-nodeinfobar-id {
  color: hsl(103,46%,54%);
}

html|*.highlighter-nodeinfobar-classes,
html|*.highlighter-nodeinfobar-pseudo-classes {
  color: hsl(200,74%,57%);
}



.highlighter-nodeinfobar-arrow {
  width: 14px;
  height: 14px;
  -moz-margin-start: calc(50% - 7px);
  transform: rotate(-45deg);
  background-clip: padding-box;
  background-repeat: no-repeat;
}

.highlighter-nodeinfobar-arrow-top {
  margin-bottom: -8px;
  margin-top: 8px;
  background-image: linear-gradient(to top right, transparent 50%, hsl(210,2%,22%) 50%);
}

.highlighter-nodeinfobar-arrow-bottom {
  margin-top: -8px;
  margin-bottom: 8px;
  background-image: linear-gradient(to bottom left, transparent 50%, hsl(210,2%,22%) 50%);
}

.highlighter-nodeinfobar-container[hide-arrow] > .highlighter-nodeinfobar {
  margin: 7px 0;
}
