



.theme-sidebar {
  box-sizing: border-box;
}

#main {
  background-color: white;
  border-color: hsla(210,100%,85%,0.7);
  border-style: dotted;
  color: var(--theme-selection-color);
}

.margin,
.size {
  color: var(--theme-highlight-blue);
}

#content {
  background-color: #87ceeb;
  border-color: hsl(210,100%,85%);
  border-style: dotted;
}

#padding,
#margins {
  border-color: hsla(210,100%,85%,0.2);
  outline: dotted 1px hsl(210,100%,85%);
}

#padding {
  background-color: #6a5acd;
}

#borders {
  background-color: #444444;
  border-style: dotted;
  border-color: hsl(210,100%,85%);
}

#margins {
  background-color: #edff64;
  
  opacity: .8;
}

.editable {
  border: 1px dashed transparent;
}

.editable:hover {
  border-bottom-color: hsl(0,0%,50%);
}

.styleinspector-propertyeditor {
  border: 1px solid #CCC;
  padding: 0;
}
