







.theme-body {
  background: white;
  color: black;
}

.theme-twisty {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: 0 -14px;
}

.theme-twisty:-moz-focusring {
  outline-style: none;
}

.theme-twisty[open] {
  background-position: -14px -14px;
}

.theme-checkbox {
  display: inline-block;
  border: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  outline: none;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: 0 0;
}

.theme-checkbox[checked] {
  background-position: -14px 0;
}

.theme-selected {
  background-color: #CCC;
}

.theme-bg-darker,
.cm-s-mozilla .CodeMirror-gutters {
  background: #EFEFEF;
}

.theme-bg-contrast { 
  background: #a18650;
}

.theme-link,
.cm-s-mozilla .cm-link { 
  color: hsl(208,56%,40%);
}

.theme-comment,
.cm-s-mozilla .cm-meta,
.cm-s-mozilla .cm-hr { 
  color: hsl(90,2%,46%);
}

.theme-gutter {
  background-color: hsl(0,0%,90%);
  color: #667380;
  border-color: hsl(0,0%,65%);
}

.theme-separator { 
  border-color: #cddae5;
}

.theme-fg-color1,
.cm-s-mozilla .cm-variable-2,
.cm-s-mozilla .cm-quote,
.cm-s-mozilla .CodeMirror-matchingbracket { 
  color: hsl(72,100%,27%);
}

.theme-fg-color2,
.cm-s-mozilla .cm-attribute,
.cm-s-mozilla .cm-builtin,
.cm-s-mozilla .cm-variable,
.cm-s-mozilla .cm-def,
.cm-s-mozilla .cm-variable-3,
.cm-s-mozilla .cm-property,
.cm-s-mozilla .cm-qualifier { 
  color: hsl(208,56%,40%);
}

.theme-fg-color3,
.cm-s-mozilla .cm-tag,
.cm-s-mozilla .cm-header { 
  color: hsl(208,81%,21%)
}

.theme-fg-color4,
.cm-s-mozilla .cm-comment { 
  color: hsl(24,85%,39%);
}

.theme-fg-color5,
.cm-s-mozilla .cm-bracket,
.cm-s-mozilla .cm-keyword,
.cm-s-mozilla .cm-atom { 
  color: #a18650;
}

.theme-fg-color6,
.cm-s-mozilla .cm-string { 
  color: hsl(24,85%,39%);
}

.theme-fg-color7,
.cm-s-mozilla .CodeMirror-nonmatchingbracket,
.cm-s-mozilla .cm-string-2,
.cm-s-mozilla .cm-error { 
  color: #bf5656;
}

.theme-fg-contrast { 
  color: black;
}

.ruleview-colorswatch,
.computedview-colorswatch,
.markupview-colorswatch {
  box-shadow: 0 0 0 1px #EFEFEF;
}





.CodeMirror { 
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

.CodeMirror pre,
.cm-s-mozilla .cm-operator,
.cm-s-mozilla .cm-special,
.cm-s-mozilla .cm-number { 
  color: black;
}

.cm-s-mozilla .CodeMirror-lines .CodeMirror-cursor {
  border-left: solid 1px black;
}

.cm-s-mozilla.CodeMirror-focused .CodeMirror-selected { 
  background: rgb(185, 215, 253);
}

.cm-s-mozilla .CodeMirror-selected { 
  background: rgb(176, 176, 176);
}

.CodeMirror-activeline-background { 
  background: rgba(185, 215, 253, .4);
}

.cm-s-markup-view pre {
  line-height: 1.4em;
  min-height: 1.4em;
}
