







.theme-body {
  background: white;
  color: black;
}

.theme-twisty {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: 0 -14px;
}

.theme-twisty:-moz-focusring {
  outline-style: none;
}

.theme-twisty[open] {
  background-position: -14px -14px;
}

.theme-checkbox {
  display: inline-block;
  border: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  outline: none;
  background-image: url("chrome://browser/skin/devtools/controls.png");
  background-position: 0 0;
}

.theme-checkbox[checked] {
  background-position: -14px 0;
}

.theme-selected {
  background-color: #CCC;
}

.theme-bg-darker {
  background: #EFEFEF;
}

.theme-bg-contrast { 
  background: #a18650;
}

.theme-link { 
  color: hsl(208,56%,40%);
}

.theme-comment { 
  color: hsl(90,2%,46%);
}

.theme-gutter {
  background-color: hsl(0,0%,90%);
  color: #667380;
  border-color: hsl(0,0%,65%);
}

.theme-separator { 
  border-color: #cddae5;
}

.theme-fg-color1 { 
  color: hsl(72,100%,27%);
}

.theme-fg-color2 { 
  color: hsl(208,56%,40%);
}

.theme-fg-color3 { 
  color: hsl(208,81%,21%)
}

.theme-fg-color4 { 
  color: hsl(24,85%,39%);
}

.theme-fg-color5 { 
  color: #a18650;
}

.theme-fg-color6 { 
  color: hsl(24,85%,39%);
}

.theme-fg-color7 { 
  color: #bf5656;
}

.theme-fg-contrast { 
  color: black;
}
