





#storage-tree {
  min-width: 220px;
  max-width: 500px;
  overflow: auto;
}

.theme-dark #storage-tree {
  background: #343c45; 
}

#storage-tree .tree-widget-item[type="store"]:after {
  background-image: url(chrome://browser/skin/devtools/filetype-store.svg);
  background-size: 18px 18px;
  background-position: -1px 0;
}


#expires, #lastAccessed, #creationTime {
  min-width: 150px;
}



#storage-sidebar {
  max-width: 500px;
  min-width: 250px;
}


@media (max-width: 700px) {
  #storage-tree {
    max-width: 100%;
  }

  #storage-table #path {
    display: none;
  }

  #storage-table .table-widget-cell {
    min-width: 100px;
  }
}
