




.notice-container {
  margin-top: -50vh;
  background-color: var(--theme-toolbar-background);
  color: var(--theme-body-color-alt);
}

#reload-notice {
  font-size: 120%;
}

#waiting-notice {
  font-size: 110%;
}


svg {
  overflow: hidden;
  -moz-box-flex: 1;
}


.edgePath path {
  stroke-width: 1px;
  fill: none;
}

.theme-dark .edgePath path {
  stroke: #b6babf; 
}
.theme-light .edgePath path {
  stroke: #aaaaaa; 
}


g.edgePath.param-connection {
  stroke-dasharray: 5,5;
}

.theme-dark .edgePath.param-connection path {
  stroke: #b6babf; 
}
.theme-light .edgePath.param-connection path {
  stroke: #aaaaaa; 
}




.theme-dark g.edgeLabel rect {
  fill: #14171a;
}
.theme-light g.edgeLabel rect {
  fill: #fcfcfc; 
}
.theme-dark g.edgeLabel tspan {
  fill: var(--theme-body-color-alt);
}
.theme-light g.edgeLabel tspan {
  fill: #585959; 
}


.nodes rect {
  stroke-width: 1px;
  cursor: pointer;
}

.nodes rect {
  stroke: var(--theme-tab-toolbar-background);
}
.theme-light rect {
  fill: var(--theme-tab-toolbar-background);
}
.theme-dark rect {
  fill: var(--theme-toolbar-background);
}





.theme-light .nodes g.bypassed rect {
  fill: url(chrome://browser/skin/devtools/filters.svg#bypass-light);
}
.theme-dark .nodes g.bypassed rect {
  fill: url(chrome://browser/skin/devtools/filters.svg#bypass-dark);
}
.nodes g.bypassed.selected rect {
  stroke: var(--theme-selection-background);
}










.nodes g.selected rect {
  fill: var(--theme-selection-background);
}


.theme-light g.selected:not(.bypassed) text {
  fill: var(--theme-toolbar-background);
}



text {
  cursor: default; 
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

text {
  fill: var(--theme-body-color-alt);
}


.nodes text {
  cursor: pointer;
}







.variables-view-scope > .title {
  display: none;
}

#web-audio-inspector-title {
  margin: 6px;
}

.web-audio-inspector .error {
  background-image: url(alerticon-warning.png);
  background-size: 13px 12px;
  -moz-appearance: none;
  opacity: 0;
  transition: opacity .5s ease-out 0s;
}

#inspector-pane-toggle {
  background: none;
  box-shadow: none;
  border: none;
  list-style-image: url(debugger-collapse.png);
  -moz-image-region: rect(0px,16px,16px,0px);
}

#inspector-pane-toggle > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

#inspector-pane-toggle[pane-collapsed] {
  list-style-image: url(debugger-expand.png);
}

#inspector-pane-toggle:active {
  -moz-image-region: rect(0px,32px,16px,16px);
}





#automation-param-toolbar .automation-param-button[selected] {
  color: var(--theme-selection-color);
  background-color: var(--theme-selection-background);
}

#automation-graph {
  overflow: hidden;
  -moz-box-flex: 1;
}

@media (min-resolution: 1.25dppx) {
  #inspector-pane-toggle {
    list-style-image: url(debugger-collapse@2x.png);
    -moz-image-region: rect(0px,32px,32px,0px);
  }

  #inspector-pane-toggle[pane-collapsed] {
    list-style-image: url(debugger-expand@2x.png);
  }

  #inspector-pane-toggle:active {
    -moz-image-region: rect(0px,64px,32px,32px);
  }

  .web-audio-inspector .error {
    background-image: url(alerticon-warning@2x.png);
  }
}





#audio-node-toolbar .bypass {
  list-style-image: url(power.svg);
}

#audio-node-toolbar toolbarbutton[disabled] {
  opacity: 0.5;
  background-color: transparent;
}

.theme-dark #audio-node-toolbar toolbarbutton[checked] {
  background-color: #1d4f73; 
}
.theme-light #audio-node-toolbar toolbarbutton[checked] {
  background-color: #4c9ed9; 
}


#audio-node-toolbar toolbarbutton[checked] > .toolbarbutton-icon {
  filter: none;
}







@media (max-width: 700px) {
  



  #inspector-pane-toggle {
    display: none;
  }

  #web-audio-inspector {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
