




.notice-container {
  margin-top: -50vh;
}

.theme-dark .notice-container {
  background: url(background-noise-toolbar.png), #343c45; 
  color: #f5f7fa; 
}

.theme-light .notice-container {
  background: url(background-noise-toolbar.png), #f0f1f2; 
  color: #585959; 
}

#reload-notice {
  font-size: 120%;
}

#waiting-notice {
  font-size: 110%;
}

#waiting-notice::before {
  display: inline-block;
  content: "";
  background: url("chrome://global/skin/icons/loading_16.png") center no-repeat;
  width: 16px;
  height: 16px;
  -moz-margin-end: 6px;
}

#requests-menu-reload-notice-button {
  min-height: 2em;
}


svg {
  position: fixed;
  overflow: hidden;
}


.edgePath path {
  stroke-width: 1.5px;
  fill: none;
}

.theme-dark .edgePath path { stroke: #f5f7fa; }
.theme-light .edgePath path { stroke: #585959; }


.nodes rect {
  stroke-width: 2px;
  cursor: pointer;
}

.theme-dark .nodes rect {
  stroke: #585959;
  fill: #f5f7fa;
}

.theme-light .nodes rect {
  fill: #585959;
  stroke: #f5f7fa;
}

.nodes g.selected rect {
  stroke-width: 1.5px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.theme-dark .nodes g.selected rect { animation-name: dark-selected-glow; }
.theme-light .nodes g.selected rect { animation-name: light-selected-glow; }


text {
  cursor: pointer;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.theme-dark text {
  fill: #333;
  
}
.theme-light text {
  fill: #111;
}




@keyframes dark-selected-glow {
  0% { fill: #1d4f73; }
  100% { fill: #3CA3ED; }
}
@keyframes light-selected-glow {
  0% { fill: #4c9ed9; }
  100% { fill: #59BAFF; }
}





.web-audio-inspector .error {
  background-image: url(alerticon-warning.png);
  background-size: 13px 12px;
  -moz-appearance: none;
  opacity: 0;
  transition: opacity .5s ease-out 0s;
}

@media (min-resolution: 2dppx) {
  .web-audio-inspector .error {
    background-image: url(alerticon-warning@2x.png);
  }
}

#inspector-pane-toggle {
  background: none;
  box-shadow: none;
  border: none;
  list-style-image: url(debugger-collapse.png);
  -moz-image-region: rect(0px,16px,16px,0px);
}

#inspector-pane-toggle[pane-collapsed] {
  list-style-image: url(debugger-expand.png);
}

#inspector-pane-toggle:active {
  -moz-image-region: rect(0px,32px,16px,16px);
}
