<!DOCTYPE html>
<html class="reftest-wait">
<head>




<style type="text/css">
#in-flow-top {
 height: 20px;
 margin-bottom: 20px;
 background-color: green;
}
#abs-pos {
 width: 20px; height: 20px;
 background-color: blue;
 margin-top: 10px;
 margin-bottom: 10px;
}
#in-flow-bottom {
 height: 20px;
 margin-top: 20px;
 background-color: lightgreen;
}
</style>
<script type="text/javascript">
function test() {
 document.getElementById('abs-pos').style.position = 'absolute';
 document.documentElement.removeAttribute('class');
}
document.addEventListener('MozReftestInvalidate', test, false);
</script>
</head>
<body>
<div id="in-flow-top"></div>
<div id="abs-pos"></div>
<div id="in-flow-bottom"></div>
</body>
</html>
