




































@namespace xhtml "http://www.w3.org/1999/xhtml";


xhtml|link {
  display: none;
}

#categories {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#categories-list");
}

.category {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#category");
}

.sort-controls {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#sorters");
}

.addon[status="installed"] {
  -moz-box-orient: vertical;
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#addon-generic");
}

.addon[status="installing"] {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#addon-installing");
}

.addon[pending="uninstall"] {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#addon-uninstalled");
}

.creator {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#creator-link");
}

.meta-rating {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#rating");
}

.download-progress {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#download-progress");
}

.install-status {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#install-status");
}

.detail-row {
  -moz-binding: url("chrome://mozapps/content/extensions/extensions.xml#detail-row");
}

#addonitem-popup > menuitem[disabled="true"] {
  display: none;
}

#addonitem-popup[addontype="theme"] > #menuitem_enableItem,
#addonitem-popup[addontype="theme"] > #menuitem_disableItem,
#addonitem-popup:not([addontype="theme"]) > #menuitem_enableTheme,
#addonitem-popup:not([addontype="theme"]) > #menuitem_disableTheme {
  display: none;
}

#header-searching:not([active]) {
  visibility: hidden;
}

#search-list[local="false"]  > .addon[remote="false"],
#search-list[remote="false"] > .addon[remote="true"] {
  visibility: collapse;
}

#detail-view {
  overflow-y: auto;
}

.addon:not([notification="warning"]) .warning,
.addon:not([notification="error"]) .error,
.addon:not([notification="info"]) .info,
.addon:not([pending]) .pending,
.addon:not([upgrade="true"]) .update-postfix,
.addon[active="true"] .disabled-postfix,
.addon[pending="install"] .update-postfix,
.addon[pending="install"] .disabled-postfix,
#detail-view:not([notification="warning"]) .warning,
#detail-view:not([notification="error"]) .error,
#detail-view:not([notification="info"]) .info,
#detail-view:not([pending]) .pending,
#detail-view:not([upgrade="true"]) .update-postfix,
#detail-view[active="true"] .disabled-postfix,
#detail-view[loading] > .detail-view-container,
.detail-row:not([value]),
#search-list[remote="false"] #search-allresults-link {
  display: none;
}

.view-pane:not(#updates-view) .addon .relnotes-toggle {
  display: none;
}

#addons-page:not([warning]) .global-warning,
#addons-page:not([warning="safemode"]) .global-warning-safemode,
#addons-page:not([warning="checkcompatibility"]) .global-warning-checkcompatibility,
#addons-page:not([warning="updatesecurity"]) .global-warning-updatesecurity {
  display: none;
}
