




































#select .addon {
  -moz-binding: url("chrome://mozapps/content/extensions/selectAddons.xml#addon-select");
}

#confirm .addon {
  -moz-binding: url("chrome://mozapps/content/extensions/selectAddons.xml#addon-confirm");
}

#select-scrollbox,
#confirm-scrollbox {
  overflow-y: auto;
  -moz-box-orient: vertical;
}

.addon:not([optionalupdate]) .addon-action-update,
.addon[optionalupdate] .addon-action-message {
  display: none;
}
