


































GOOD { background-color: blue; }
GOOD { background-color: rgb(0, 0, 0); }
GOOD { background-color: rGb(110%, 23, 9123784328342834); }
GOOD { BackGround-Color: Transparent; }
BAD { BackGround-Color: beeble; }
BAD { BackGround-Color: 27; }
BAD { BackGround-Color: #23; }
BAD { BackGround-Color: url(fish; }
