


































GOOD { background: red; }
GOOD { background: red repeat-x; }
GOOD { background: red fixed; }
GOOD { background: fixed 20% 30%; }
GOOD { background: red none repeat scroll 20% 30%; }
GOOD { background: none repeat scroll 20% 30% red; }
GOOD { background: repeat scroll 20% 30% red none; }
GOOD { background: scroll 20% 30% red none repeat; }
GOOD { background: 20% 30% red none repeat scroll; }
BAD { background: 20% 30% red none repeat scroll fish; }
BAD { background: 20% 30% red none repeat fish scroll; }
BAD { background: 20% 30% red none fish repeat scroll; }
BAD { background: 20% 30% red fish none repeat scroll; }
BAD { background: 20% 30% fish red none repeat scroll; }
BAD { background: 20% fish 30% red none repeat scroll; }
BAD { background: fish 20% 30% red none repeat scroll; }
