


































GOOD { background-position: 73%; }
GOOD { background-position: -73%; }
GOOD { background-position: +3%; }
GOOD { background-position: +3.5%; }
GOOD { background-position: 10% 20%; }
GOOD { background-position: 10% 23in; }
GOOD { background-position: 23in; }
GOOD { background-position: 23in 10%; }
GOOD { Background-Position: 23IN 30CM; }
GOOD { Background-Position: top left; }
GOOD { Background-Position: left top; }
GOOD { Background-Position: top; }
GOOD { Background-Position: top center; }
GOOD { Background-Position: center top; }
GOOD { Background-Position: right top; }
GOOD { Background-Position: top right; }
GOOD { Background-Position: left; }
GOOD { Background-Position: left center; }
GOOD { Background-Position: center left; }
GOOD { Background-Position: right; }
GOOD { Background-Position: right center; }
GOOD { Background-Position: center right; }
GOOD { Background-Position: bottom; }
GOOD { Background-Position: bottom center; }
GOOD { Background-Position: center bottom; }
GOOD { Background-Position: bottom right; }
GOOD { Background-Position: right bottom; }
