





































GOOD { border-top-color: inherit; } 
GOOD { border-top-color: green; } 
GOOD { border-top-color: #f00; } 
GOOD { border-top-color: #0000ea; } 
GOOD { border-top-color: rgb(50,50,50); } 
BAD { border-top-color: bleu; }
BAD { border-top-color: blue red; }
BAD { border-top-color: #-f00; }
