


































GOOD { border-right: 3.0in; }
GOOD { border-right: thin; }
GOOD { border-right: 3.0in dashed; }
GOOD { border-right: thin dotted; }
GOOD { border-right: 3.0in dashed red; }
GOOD { border-right: thin dotted green; }
GOOD { border-right: green thin dotted; }
GOOD { border-right: green dotted thin; }
