


































GOOD { border-width: thin; }
GOOD { border-width: medium; }
GOOD { border-width: thick; }
GOOD { border-width: 3.0in; }
GOOD { border-width: thin thin; }
GOOD { border-width: 3.0in thin; }
GOOD { border-width: thin 3.0in thin; }
GOOD { border-width: 3.0in thin thin; }
GOOD { border-width: 3.0in thin medium; }
