





































GOOD { border-right-color: inherit; } 
GOOD { border-right-color: green; } 
GOOD { border-right-color: #f00; } 
GOOD { border-right-color: #0000ea; } 
GOOD { border-right-color: rgb(50,50,50); } 
BAD { border-right-color: bleu; }
BAD { border-right-color: blue red; }
BAD { border-right-color: #-f00; }
