


































GOOD { border-bottom: 3.0in; }
GOOD { border-bottom: thin; }
GOOD { border-bottom: 3.0in dashed; }
GOOD { border-bottom: thin dotted; }
GOOD { border-bottom: 3.0in dashed red; }
GOOD { border-bottom: thin dotted green; }
GOOD { border-bottom: green thin dotted; }
GOOD { border-bottom: green dotted thin; }
