


































GOOD { border-bottom-width: thin; }
GOOD { border-bottom-width: medium; }
GOOD { border-bottom-width: thick; }
GOOD { border-bottom-width: 3.0in; }
BAD { border-bottom-width: narrow; }
BAD { border-bottom-width: "foo"; }
BAD { border-bottom-width: center; }
