


































GOOD { border: 3.0in; }
GOOD { border: thin; }
GOOD { border: 3.0in dashed; }
GOOD { border: thin dotted; }
GOOD { border: 3.0in dashed red; }
GOOD { border: thin dotted green; }
GOOD { border: green thin dotted; }
GOOD { border: green dotted thin; }
