


































GOOD { border-left: 3.0in; }
GOOD { border-left: thin; }
GOOD { border-left: 3.0in dashed; }
GOOD { border-left: thin dotted; }
GOOD { border-left: 3.0in dashed red; }
GOOD { border-left: thin dotted green; }
GOOD { border-left: green thin dotted; }
GOOD { border-left: green dotted thin; }
