


































GOOD { border-top: 3.0in; }
GOOD { border-top: thin; }
GOOD { border-top: 3.0in dashed; }
GOOD { border-top: thin dotted; }
GOOD { border-top: 3.0in dashed red; }
GOOD { border-top: thin dotted green; }
GOOD { border-top: green thin dotted; }
GOOD { border-top: green dotted thin; }
