





































GOOD { bottom: inherit; } 
GOOD { bottom: auto; } 
GOOD { bottom: +130%; } 
GOOD { bottom: 120%; } 
GOOD { bottom: -110%; } 
GOOD { bottom: 15pc; } 
BAD { bottom: iridium; } 
BAD { bottom: 15; } 
BAD { bottom: 15px 30% }