


































GOOD { color: red; }
GOOD { color: rgb(0, 0, 0); }
GOOD { color: rGb(110%, 23, 9123784328342834); }
GOOD { color: #f00; }
GOOD { color: #ff00ff; }
GOOD { color: #fff000fff; }		
