





































GOOD { elevation: -90deg } 
GOOD { elevation: 90deg } 
GOOD { elevation: 0deg } 
GOOD { elevation: 16deg } 
GOOD { elevation: inherit } 
GOOD { elevation: below; }
GOOD { elevation: level }
GOOD { elevation: above; }
GOOD { elevation: higher }
GOOD { elevation: lower }
BAD { elevation: inherited }
BAD { elevation: above below; }
BAD { elevation: duck below; }
BAD { elevation: center; }
BAD { elevation: align=right; }
BAD { elevation: 90deg right; }

