





































GOOD { empty-cells: show } 
GOOD { empty-cells: hide } 
GOOD { empty-cells: inherit } 
BAD { empty-cells: inherited }
BAD { empty-cells: show hide; }
BAD { empty-cells: hidden; }
BAD { empty-cells: none; }