


































GOOD { font-size: Xx-smAll; }
GOOD { font-size: x-Small; }
GOOD { font-size: Small; }
GOOD { font-size: Medium; }
GOOD { font-size: LaRgE; }
GOOD { font-size: x-LaRgE; }
GOOD { font-size: Xx-LaRgE; }
GOOD { font-size: LaRgEr; }
GOOD { font-size: smalLer; }
GOOD { font-size: 3.0in; }
GOOD { font-size: 120%; }
BAD { font-size: green; }
BAD { font-size: 120% 240%; }
