


































GOOD { font-weight: normal; }
GOOD { font-weight: bold; }
GOOD { font-weight: bolder; }
GOOD { font-weight: lighter; }
GOOD { font-weight: 100; }
GOOD { font-weight: 200; }
GOOD { font-weight: 300; }
GOOD { font-weight: 400; }
GOOD { font-weight: 500; }
GOOD { font-weight: 600; }
GOOD { font-weight: 700; }
GOOD { font-weight: 800; }
GOOD { font-weight: 900; }
BAD { font-weight: heavy; }
BAD { font-weight: 12.3em; }
