


































GOOD { font: italic small-caps bold 12pt helvetica }
GOOD { font: italic bold small-caps 12pt helvetica }
GOOD { font: small-caps bold italic 12pt helvetica }
GOOD { font: small-caps italic bold 12pt helvetica }
GOOD { font: bold italic small-caps 12pt helvetica }
GOOD { font: bold small-caps italic 12pt helvetica }
GOOD { font: bold 12pt helvetica }
GOOD { font: 12pt helvetica }
GOOD { font: 12pt/14pt sans-serif; }
GOOD { font: 80% sans-serif; }
GOOD { font: x-large/110% "new century schoolbook", serif; }
GOOD { font: bold italic large Palatino, serif; }
GOOD { font: normal small-caps 120%/120% fantasy; }
