


































GOOD { font-style: normal; }
GOOD { font-style: italic; }
GOOD { font-style: oblique; }
BAD { font-style: green; }
BAD { font-style: 120% 240%; }
BAD { font-style: medium; }
BAD { font-style: "kanji"; }
