



































Important {
  color: purple !important;
  padding: 2px;
}
Important {
  color: purple ! important ;
  padding: 2px;
}
SomewhatImportant {
  color: purple ! foo;
  padding: 2px ! important;
}
NotImportant {
  color: purple !foo
}
NotImportant {
  color: purple ! foo
}
