




































GOOD { max-height: 3em } 
GOOD { max-height: 15%; } 
GOOD { max-height: none } 
GOOD { max-height: inherit; } 
BAD { max-height: babushka }
BAD { max-height: auto; }
BAD { max-height: 4px 4px; }
