




































GOOD { min-height: 5pc } 
GOOD { min-height: 15%; } 
GOOD { min-height: none } 
GOOD { min-height: inherit; } 
BAD { min-height: babushka }
BAD { min-height: auto; }
BAD { min-height: 4px 10mm; }
BAD { min-height: -4pc; }
BAD { min-height: -10%; }
