




































GOOD { outline-width: thin; }
GOOD { outline-width: thick } 
GOOD { outline-width: medium } 
GOOD { outline-width: 10ex }
GOOD { outline-width: inherit; } 
BAD { outline-width: invert }
BAD { outline-width: inherit 6ex }
BAD { outline-width: 6; }