




































GOOD { outline-style: outset; }
GOOD { outline-style: inset } 
GOOD { outline-style: dashed } 
GOOD { outline-style: hidden }
GOOD { outline-style: none }  
GOOD { outline-style: inherit; } 
BAD { outline-style: invert }
BAD { outline-style: inherit dotted }
BAD { outline-style: 6em; }