




































GOOD { outline: maroon; }
GOOD { outline: outset; } 
GOOD { outline: thick } 
GOOD { outline: rgb(255,50,50) thin dashed } 
GOOD { outline: rgb(0%, 100%, 0%) } 
GOOD { outline: #0000ff }
GOOD { outline: #f00 }  
GOOD { outline: solid green; } 
GOOD { outline: blue 1em } 
GOOD { outline: medium outset; } 
GOOD { outline: dotted purple 10px  } 
GOOD { outline: groove invert; } 
GOOD { outline: invert inherit inherit; } 
GOOD { outline: invert; } 
GOOD { outline: inherit; } 
BAD { outline: invert blue }
BAD { outline: dashed red 5%; }
BAD { outline: neon; }
BAD { outline: olive -10px }
BAD { outline: "red" }
BAD { outline: ; }
