




































GOOD { outline-color: maroon; }
GOOD { outline-color: rgb(255,50,50) } 
GOOD { outline-color: rgb(0%, 100%, 0%) } 
GOOD { outline-color: #0000ff }
GOOD { outline-color: #f00 }  
GOOD { outline-color: invert; } 
GOOD { outline-color: inherit; } 
BAD { outline-color: invert pink }
BAD { outline-color: "red"; }
BAD { outline-color: abigale; }