


































GOOD { text-transform: none; }
GOOD { text-transform: capitalize; }
GOOD { text-transform: lowercase; }
GOOD { text-transform: uppercase; }
BAD { text-transform: capitalize lowercase }
