


































GOOD { vertical-align: baseline; }
GOOD { vertical-align: sub; }
GOOD { vertical-align: super; }
GOOD { vertical-align: top; }
GOOD { vertical-align: text-top; }
GOOD { vertical-align: middle; }
GOOD { vertical-align: text-bottom; }
GOOD { vertical-align: bottom; }
GOOD { vertical-align: 120%; }
GOOD { vertical-align: 10mm; }
GOOD { vertical-align: 1.5em; }
