








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


 


colorpicker[type="button"] {
  -moz-appearance: button;
  width: 38px;
  height: 24px;
}

.colorpicker-button-colorbox {
  border: 1px solid #000000;
}



.colorpickertile {
  width: 20px;
  height: 20px;
  margin: 1px;
  border-left: 1px solid ThreeDShadow;
  border-top: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDHighlight;
}

.colorpickertile[selected="true"] {
  border: 2px outset #C0C0C0;+
}

.colorpickertile[hover="true"] {
  border: 2px dotted #FFFFFF;
}

.cp-light[hover="true"] {
  border: 2px dotted #909090;
}
