









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



menu, menuitem {
  -moz-appearance: menuitem !important;
  -moz-box-align: center;
  max-width: 42em;
  color: MenuText;
  font: menu;
  list-style-image: none;
  -moz-image-region: auto;
}

menuitem[default="true"] {
  font-weight: bold;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"] {
  color: -moz-menuhovertext;
  background-color: -moz-menuhover;
}

menu[disabled="true"],
menuitem[disabled="true"] {
  color: GrayText;
}

menubar > menu {
  padding: 0px 4px;
}

menubar > menu[_moz-menuactive="true"] {
  color: MenuText;
}

menubar > menu[open] {
  color: -moz-menuhovertext;
  background-color: -moz-menuhover;
}
menuitem.spell-suggestion {
  font-weight:bold;
}



.menulist-menupopup > menuitem,
menulist > menupopup > menuitem,
.menulist-menupopup > menu,
menulist > menupopup > menu {
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 1px;
  -moz-padding-end: 30px;
  max-width: none;
  font: message-box;
}



.menu-text,
.menu-iconic-left,
.menu-iconic-text {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -moz-margin-start: 0px !important;
  -moz-margin-end: 2px !important;
  color: inherit;
}

.menu-text {
  -moz-margin-start: 18px !important;
  font-weight: inherit;
}

.menu-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}

.menu-accel,
.menu-iconic-accel {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  -moz-margin-start: 7px !important;
  -moz-margin-end: 2px !important;
  -moz-padding-end: 14px;
  color: inherit;
}

.menu-iconic-left {
  width: 16px;
}

.menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.menu-right {
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 6px;
  -moz-margin-end: 0px;
  width: 8px;
  list-style-image: url("chrome://global/skin/menu/Menu-arrow.png");
  -moz-image-region: auto;
}

.menu-right[_moz-menuactive="true"] {
  list-style-image: url("chrome://global/skin/menu/Menu-arrow-hover.png");
  -moz-image-region: auto;
}

.menu-right[disabled="true"] {
  list-style-image: url("chrome://global/skin/menu/Menu-arrow-disabled.png");
  -moz-image-region: auto;
}

.menu-right[chromedir="rtl"] {
  list-style-image: url("chrome://global/skin/menu/Menu-arrow-rtl.png");
}

.menu-right[chromedir="rtl"][_moz-menuactive="true"] {
  list-style-image: url("chrome://global/skin/menu/Menu-arrow-hover-rtl.png");
}

.menu-right[chromedir="rtl"][disabled="true"] {
  list-style-image: url("chrome://global/skin/menu/Menu-arrow-disabled-rtl.png");
}

.menubar-left {
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
  color: inherit;
}

.menubar-text {
  margin: 0 1px !important;
  color: inherit;
}


.menulist-menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menuitem > .menu-iconic-left,
.menulist-menupopup > menu > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
  display: none;
}



menuitem[checked="true"] {
  -moz-appearance: checkmenuitem !important;
}

menuitem[type="checkbox"] {
  -moz-appearance: checkmenuitem !important;
}



menuitem[type="radio"] {
  -moz-appearance: radiomenuitem !important;
}



menuseparator {
  margin: 2px 3px;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}

menulist > menupopup > menuseparator,
.menulist-menupopup > menuseparator {
  margin: 2px 0;
  border-top: 1px solid #000000;
  border-bottom: none;
}



.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}



.treecell-popupcell-menu {
  -moz-margin-start: -2px;
  list-style-image: url("chrome://global/skin/columnselect.gif");
  -moz-image-region: auto;
}
