









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



menupopup,
popup,
panel {
  -moz-appearance: menupopup;
  min-width: 1px;
  color: MenuText;
}



tooltip {
  -moz-appearance: tooltip;
  margin-top: 21px;
  
  padding: 4px;
  max-width: 40em;
  color: InfoText;
  font: message-box;
}

tooltip[titletip="true"] {
 


  max-width: none;
}



menulist > menupopup,
.menulist-menupopup {
  padding: 0px;
  min-width: 0px;
}

