









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



menupopup, popup {
  -moz-appearance: menupopup;
  min-width: 1px;
}



tooltip {
  -moz-appearance: tooltip;
  margin-top: 21px;
  padding: 2px 3px;
  max-width: 40em;
  color: InfoText;
  font: message-box;
}

.tooltip-label {
  margin: 0px !important;
}

tooltip[titletip="true"] {
 


  max-width: none;
}



menulist > menupopup,
.menulist-menupopup {
  padding: 0px;
  min-width: 0px;
}

