









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



splitter {
  -moz-appearance: splitter;
  -moz-box-align: center;
  -moz-box-pack: center;
  cursor: ew-resize;

}



splitter[orient="vertical"] {
  cursor: ns-resize;
}



grippy {
  cursor: pointer;
  min-width: 4px;
  min-height: 115px;
}

splitter[orient="vertical"] > grippy {
  min-width: 115px;
  min-height: 4px;
}
