









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");



textbox {
  -moz-appearance: textfield;
  cursor: text;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

textbox[isempty="true"] {
  color: GrayText;
}

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

.textbox-contextmenu {
  cursor: default;
}



textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}



textbox[disabled="true"] {
  cursor: default;
  background-color: -moz-Dialog;
  color: GrayText;
}



textbox.plain {
  -moz-appearance: none !important;
  background-color: transparent;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}



.textbox-search-icon {
  list-style-image: url(moz-icon://stock/gtk-find?size=menu);
}

.textbox-search-clear {
  list-style-image: url(moz-icon://stock/gtk-clear?size=menu);
}

.textbox-search-icon[searchbutton]:not([disabled]) ,
.textbox-search-clear:not([disabled]) {
  cursor: pointer;
}



toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}



menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

menuitem[cmd="cmd_undo"] {
  list-style-image: url("moz-icon://stock/gtk-undo?size=menu");
}

menuitem[cmd="cmd_undo"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-undo?size=menu&state=disabled");
}

menuitem[cmd="cmd_cut"] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu");
}

menuitem[cmd="cmd_cut"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-cut?size=menu&state=disabled");
}

menuitem[cmd="cmd_copy"] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu");
}

menuitem[cmd="cmd_copy"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-copy?size=menu&state=disabled");
}

menuitem[cmd="cmd_paste"] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu");
}

menuitem[cmd="cmd_paste"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-paste?size=menu&state=disabled");
}

menuitem[cmd="cmd_delete"] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu");
}

menuitem[cmd="cmd_delete"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-delete?size=menu&state=disabled");
}

menuitem[cmd="cmd_selectAll"] {
  list-style-image: url("moz-icon://stock/gtk-select-all?size=menu");
}

menuitem[cmd="cmd_selectAll"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-select-all?size=menu&state=disabled");
}

