









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



toolbox {
  -moz-appearance: toolbox;
}



menubar, toolbar[type="menubar"] {
  -moz-appearance: menubar !important;
  min-width: 1px;
  min-height: 20px;
}

toolbar {
  -moz-appearance: toolbar !important;
  min-width: 1px;
  min-height: 20px;
}


toolbaritem > menubar {
  -moz-appearance: none !important;
}



toolbarseparator {
  margin : 2px 0.2em;
  border-right : 1px solid ThreeDHighlight;
  border-left : 1px solid ThreeDShadow;
  width : 2px;
}

toolbarspacer {
  width: 15px;
}

toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 0 !important;
  margin: 3px 5px !important;
}



toolbarpaletteitem {
  cursor: -moz-grab;
}

.toolbarpaletteitem-box[type="spacer"],
.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #808080;
  background-color: #FFF !important;
}

toolbarpaletteitem[place="toolbar"] {
  margin-left: -2px;
  margin-right: -2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}

.toolbarpaletteitem-box[type="splitter"][place="palette"] {
  width: 8px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background: url("chrome://global/skin/toolbar/spring.gif") no-repeat center;
}



toolbarpaletteitem[dragover="left"] {
  border-left-color: #000000;
}

toolbarpaletteitem[dragover="right"] {
  border-right-color: #000000;
}
