div.progress-element {
  -moz-appearance: progressbar;
  display: inline-block;
  height: 1em;
  width: 10em;
  vertical-align: -0.2em;

  
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDHighlight -moz-Dialog;
  -moz-border-bottom-colors: ThreeDHighlight -moz-Dialog;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
  background-color: -moz-Dialog;
}

div.progress-bar {
  -moz-appearance: progresschunk;
  height: 100%;
  





  -moz-box-sizing: border-box;

  
  background-color: ThreeDShadow;
}

progress, progress::-moz-progress-bar, div.progress-element, div.progress-bar {
  -moz-appearance: none;
}
