







#sources-pane > tabpanels > tabpanel,
#instruments-pane > tabpanels > tabpanel {
  -moz-box-orient: vertical;
}

#expressions {
  overflow-x: hidden;
  overflow-y: auto;
}

#globalsearch {
  overflow: auto;
}



.devtools-toolbarbutton:not([label]) > .toolbarbutton-text {
  display: none;
}



#body[layout=vertical] #debugger-widgets {
  -moz-box-orient: vertical;
}

#body[layout=vertical] #sources-pane {
  -moz-box-flex: 1;
}

#body[layout=vertical] #instruments-pane {
  -moz-box-flex: 2;
}

#body[layout=vertical] #instruments-pane-toggle {
  display: none;
}

#body[layout=vertical] #sources-and-editor-splitter,
#body[layout=vertical] #editor-and-instruments-splitter {
  display: none;
}

#body[layout=horizontal] #vertical-layout-splitter,
#body[layout=horizontal] #vertical-layout-panes-container {
  display: none;
}

#body[layout=vertical] #stackframes {
  visibility: hidden;
}
