







#globalsearch {
  overflow-x: hidden;
  overflow-y: auto;
}



#expressions {
  overflow-x: hidden;
  overflow-y: auto;
}



.devtools-toolbarbutton:not([label]) > .toolbarbutton-text {
  display: none;
}
