









#stackframes {
  overflow: auto;
}





#variables {
  overflow: auto;
}





.details {
  display: none;
}

.details[open] {
  display: -moz-box;
}





.devtools-toolbarbutton:not([label]) > .toolbarbutton-text {
  display: none;
}
