



:root {
  -moz-control-character-visibility: visible;
}




#root {
  float: left;
  min-width: 100%;
}

#root-wrapper:after {
   content: "";
   display: block;
   clear: both;
   position:relative;
}

.html-editor {
  display: none;
  position: absolute;
  z-index: 2;

  


  margin-left: -1000em;
  padding-left: 1000em;
}

.html-editor-inner {
  border: solid .1px;
  flex: 1 1 main-size;

  
  -moz-margin-end: 12px;
}

.html-editor iframe {
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.children {
  list-style: none;
  padding: 0;
  margin: 0;
}




.child {
  margin-left: -1000em;
  padding-left: 1001em;
}

.tag-line {
  min-height: 1.4em;
  line-height: 1.4em;
  position: relative;
}

.html-editor-container {
  position: relative;
  min-height: 200px;
}




.tag-line .tag-state {
  position: absolute;
  left: -1000em;
  right: 0;
  height: 100%;
  z-index: -1;
}

.expander {
  display: inline-block;
  margin-left: -14px;
  vertical-align: middle;
}

.child.collapsed .child {
  display: none;
}

.child > .tag-line:first-child .close {
  display: none;
}

.child.collapsed > .tag-line:first-child .close {
  display: inline;
}

.child.collapsed > .tag-line ~ .tag-line {
  display: none;
}

.child.collapsed .close {
  display: inline;
}

.closing-bracket {
  pointer-events: none;
}

.newattr {
  display: inline-block;
  width: 1em;
  height: 1ex;
  margin-right: -1em;
  padding: 1px 0;
}

.newattr:focus {
  margin-right: 0;
}

.tag-state.flash-out {
  transition: background .5s;
}

.tag-line .open, .tag-line .close, .comment {
  cursor: default;
}

.markupview-events {
  display: none;
  cursor: pointer;
}
