









*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-size: 14px;
  background: #fbfbfb;
}

button {
  font-size: .9em; 
}

img {
  border: none;
}












.cf:before,
.cf:after {
  content: " ";   
  display: table; 
}

.cf:after {
  clear: both;
}

.hide {
  display: none;
}

.tc {
  text-align: center;
}



.btn {
  display: inline-block;
  background: #a5a;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: .25em .5em .3em;
  border-radius: .2em;
}

.btn-info {
  background: #0095dd;
}

.btn-info:hover {
  background: #008acb;
}

.btn-info:active {
  background: #006b9d;
}

.btn-success {
  background: #5cb85c;
}

.btn-warning {
  background: #f0ad4e;
}

.btn-error {
  background: #d9534f;
}

.disabled, button[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}


.alert {
  background: #eee;
  padding: .2em 1em;
  margin-bottom: 1em;
}

.alert p.message {
  padding: 0;
  margin: 0;
}

.alert.alert-error {
  background: #f99;
  border: 1px solid #f77;
}

.alert.alert-warning {
  background: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert .close {
  position: relative;
  top: -.2em;
  right: -1em;
}



.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 1em;
  color: #000;
  opacity: .2;
}

.close:before {
  
  content: '\2716';
}

button.close {
  background: none;
  border: none;
  cursor: pointer;
}


.fade-out {
  transition: opacity 0.5s ease-in;
  opacity: 0;
}
