



% include all of the Luna styles
%include menulist.css

menulist:-moz-focusring:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
  border: 1px dotted ThreeDDarkShadow;
}

@media (-moz-windows-default-theme) {
  .menulist-label-box {
    background-color: transparent !important;
    color: inherit !important;
  }
}
