




tabmodalprompt {
  background-image: url(chrome://global/skin/icons/tabprompts-bgtexture.png);
  background-color: hsla(0,0%,10%,.5);
  font-family: sans-serif; 
}

.mainContainer {
  color: -moz-fieldText;
  background-color: -moz-field;
  border-radius: 2px;
  border: 1px solid threeDDarkShadow;
}

.topContainer {
  padding: 20px;
}

.buttonContainer {
  padding: 12px 20px 15px;
  background-color: hsla(0,0%,0%,.05);
  border-top: 1px solid hsla(0,0%,0%,.05);
}
