








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#JSConsoleWindow {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#unifiedWindow");
}

#JSConsoleWindow:not([active="true"]) > #console-toolbox > #ToolbarMode {
  background-image: url("chrome://global/skin/toolbar/toolbar-background-inactive.png");
  background-color: #cfcfcf;
  border-bottom: 1px solid rgba(0,0,0,0.35);
}

#JSConsoleWindow:not([active="true"]) > #console-toolbox > #ToolbarMode > toolbarbutton {
  opacity: 0.7;
}

.console-box {
  background-color: -moz-Field;
  color: -moz-FieldText;
  overflow: auto;
}
 


.console-row {
  border-bottom: 1px solid #A3A3A3;
  padding: 4px;
}

.console-row-file {
  color: #505050;
}


.console-row-msg > label {
  font-weight: bold;
}

.console-row-msg > label, .comsole-row-msg > description, .console-error-msg, .console-row-file, .console-row-code {
  margin: 2px;
}

.console-row-file > label {
  margin: 0;
}

.console-msg-text {
  white-space: pre-wrap !important;
}
.console-icon {
  list-style-image: inherit;
  padding-right: 6px;
  padding-left: 6px;
}

.text-link {
  text-decoration: none;  
}

.text-link:hover {
  text-decoration: underline;
}



.console-row-code {
  color: #0000BB;
  font-size: larger;
}

.console-dots, 
.console-caret {
  height: 9px;
}

.console-dots {
  background: url("chrome://global/skin/console/console-error-dash.gif") repeat-x top;
}

.console-caret {
  width: 7px;
  background: url("chrome://global/skin/console/console-error-caret.gif") no-repeat top;
}



.console-row[type="message"] {
  font-family: monospace;
} 



.console-row[selected="true"] {
  background-color: #3D80DF !important;
  color: #FFF;
}

.console-row-code[selected="true"],
.console-row-content[selected="true"] > .console-row-file,
.console-row-content[selected="true"] > .console-row-file > .console-error-source > .text-link {
  color: #FFF !important;  
}



.console-row[type="error"],
.console-row[type="exception"] {
  background-color: #FFD0DC;
}

.console-row[type="warning"] {
  background-color: #F8F3CC;
}

.console-row[type="message"] {
  background-color: #D3EDFF;
}



#ToolbarEval {
  background: url("chrome://global/skin/icons/find-bar-background.png") repeat-x top center #D0D0D0;
  border-bottom: 1px solid #686868;
  padding: 2px;
}

#ToolbarEval > label {
  font-weight: bold;
  color: #5F5F5F;
}

#TextfieldEval {
  margin: 2px !important;
}

#ButtonEval {
  margin: 2px 0 !important;
  -moz-margin-end: 2px;
  -moz-margin-start: 0;
  -moz-appearance: none;
  border: 1px solid #5F5F5F;
  -moz-border-radius: 4px;
  background: url("chrome://global/skin/icons/white-gray-gradient.gif") #A09E9D repeat-x top center;
  padding: 0;
}

#ButtonEval:hover:active {
  background-image: url("chrome://global/skin/icons/white-gray-gradient-active.gif");
}


toolbarseparator {
  min-height: 1em;
  background-image: none;
}



#ToolbarMode {
  background-color: #999;
  border-bottom: 1px solid #404040;
  background-image: url("chrome://global/skin/toolbar/toolbar-background.gif");
  background-repeat: repeat-x;
  background-position: top right;
  padding: 4px 0 8px;
  -moz-box-pack: center;
}

#ToolbarMode toolbarbutton {
  border: 1px solid #404040;
  border-bottom-width: 2px;
  -moz-border-start-width: 0px;
  -moz-border-bottom-colors: #C2C2C2 #404040;
  background-image: url("chrome://global/skin/icons/white-gray-gradient.gif");
  background-repeat: repeat-x;
  font: menu;
  margin: 0;
  padding: 0 4px;
}

toolbar#ToolbarMode toolbarbutton[checked] {
  background-image: none;
  background-color: #5E5E5E;
  color: #ffffff !important;
}

#Console\:modeAll {
  -moz-border-start-width: 1px !important;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 4px;
}

#console-toolbox[chromedir="rtl"] > #ToolbarMode > #Console\:modeAll {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 4px;
}

#Console\:modeMessages {
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 4px;
}

#console-toolbox[chromedir="rtl"] > #ToolbarMode > #Console\:modeMessages {
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 4px;
}

#Console\:clear {
  -moz-border-start-width: 1px !important;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
}

#Console\:clear:hover:active {
  background-image: none; 
  background-color: #5E5E5E;
  color: #ffffff !important;
}

#ConsoleBox {
  margin-bottom: 14px;
  border-bottom: 1px solid #bebebe; 
}

