









































@import "chrome://global/skin/viewbuttons.css";

%include ../shared.inc
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.console-box {
  background-color: -moz-Field;
  color: -moz-FieldText;
  overflow: auto;
}
 


.console-row {
  border-bottom: 1px solid #A3A3A3;
  padding: 4px;
}

.console-row-file {
  color: #505050;
}


.console-row-msg > label {
  font-weight: bold;
}

.console-row-msg > label, .comsole-row-msg > description, .console-error-msg, .console-row-file, .console-row-code {
  margin: 2px;
}

.console-row-file > label {
  margin: 0;
}

.console-msg-text {
  white-space: pre-wrap !important;
}
.console-icon {
  list-style-image: inherit;
  padding-right: 6px;
  padding-left: 6px;
}

.text-link {
  text-decoration: none;  
}

.text-link:hover {
  text-decoration: underline;
}



.console-row-code {
  color: #0000BB;
  font-size: larger;
}

.console-dots, 
.console-caret {
  height: 9px;
}

.console-dots {
  background: url("chrome://global/skin/console/console-error-dash.gif") repeat-x top;
}

.console-caret {
  width: 7px;
  background: url("chrome://global/skin/console/console-error-caret.gif") no-repeat top;
}



.console-row[type="message"] {
  font-family: monospace;
} 



.console-row[selected="true"] {
  background-color: #3D80DF !important;
  color: #FFF;
}

.console-row-code[selected="true"],
.console-row-content[selected="true"] > .console-row-file,
.console-row-content[selected="true"] > .console-row-file > .console-error-source > .text-link {
  color: #FFF !important;  
}



.console-row[type="error"],
.console-row[type="exception"] {
  background-color: #FFD0DC;
}

.console-row[type="warning"] {
  background-color: #F8F3CC;
}

.console-row[type="message"] {
  background-color: #D3EDFF;
}



#ToolbarEval {
  -moz-appearance: none;
  background: @scopeBarBackground@;
  border-bottom: @scopeBarSeparatorBorder@;
  padding: 2px;
}

#ToolbarEval > label {
  font-weight: bold;
  color: @scopeBarTitleColor@;
}

#TextfieldEval {
  margin: 2px !important;
}

#ButtonEval {
  margin: 0 4px;
  padding: 1px 10px;
  -moz-appearance: none;
  -moz-border-radius: 100%;
  border: @roundButtonBorder@;
  background: @roundButtonBackground@;
  -moz-box-shadow: @roundButtonShadow@;
}

#ButtonEval > .toolbarbutton-text {
  margin: 0 !important;
}

#ButtonEval:hover:active {
  text-shadow: @loweredShadow@;
  background: @roundButtonPressedBackground@;
  -moz-box-shadow: @roundButtonPressedShadow@;
}

toolbarseparator {
  min-height: 1em;
  background-image: none;
}



#ToolbarMode {
  -moz-box-pack: center;
}

#ToolbarMode toolbarbutton > .toolbarbutton-icon {
  display: none;
}

#Console\:clear {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  font: menu;
  text-shadow: @loweredShadow@;
  margin: 4px 0 9px;
  padding: 0 4px;
  border: 1px solid @toolbarbuttonBorderColor@;
  -moz-border-radius: @toolbarbuttonCornerRadius@;
  -moz-box-shadow: @loweredShadow@;
  background: @toolbarbuttonBackground@;
  -moz-background-origin: border;
}

#Console\:clear:active:hover {
  background: @toolbarbuttonPressedBackgroundColor@;
  text-shadow: @loweredShadow@;
  -moz-box-shadow: @toolbarbuttonPressedInnerShadow@, @loweredShadow@;
}

:root:not([active]) #Console\:clear {
  color: @toolbarbuttonInactiveFontColor@ !important; 
  border-color: @toolbarbuttonInactiveBorderColor@;
  background-image: @toolbarbuttonInactiveBackgroundImage@;
}
