<html>
<head>
<style type="text/css"> p { margin: 5px 1em; width: 0; white-space: nowrap; } </style>
</head>
<body>


<p>______&#x20A8;123,456-</p>
<p>123,456&#x20A8;______</p>


<p>______&#x20A9;123,456-</p>
<p>123,456&#x20A9;______</p>


<p>______&#x20AA;123,456-</p>
<p>123,456&#x20AA;______</p>


<p>______&#x20AB;123,456-</p>
<p>123,456&#x20AB;______</p>




<p>______&#x20AD;123,456-</p>
<p>123,456&#x20AD;______</p>


<p>______&#x20AE;123,456-</p>
<p>123,456&#x20AE;______</p>


<p>______&#x20AF;123,456-</p>
<p>123,456&#x20AF;______</p>


<p>______&#x20B0;123,456-</p>
<p>123,456&#x20B0;______</p>


<p>______&#x20B1;123,456-</p>
<p>123,456&#x20B1;______</p>


<p>______&#x20B2;123,456-</p>
<p>123,456&#x20B2;______</p>


<p>______&#x20B3;123,456-</p>
<p>123,456&#x20B3;______</p>


<p>______&#x20B4;123,456-</p>
<p>123,456&#x20B4;______</p>


<p>______&#x20B5;123,456-</p>
<p>123,456&#x20B5;______</p>

</body>
</html>
