





@namespace url(http://www.w3.org/2000/svg);
@namespace xml url(http://www.w3.org/XML/1998/namespace);

style, script, symbol {
 display: none;
}

switch {
 -moz-binding: none !important;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
 overflow: hidden;
}

@media all and (-moz-is-glyph) {
 :root {
   fill: -moz-objectfill;
   fill-opacity: -moz-objectfillopacity;
   stroke: -moz-objectstroke;
   stroke-opacity: -moz-objectstrokeopacity;
   stroke-width: -moz-objectValue;
   stroke-dasharray: -moz-objectValue;
   stroke-dashoffset: -moz-objectValue;
 }
}

foreignObject {
  margin: 0 ! important;
  padding: 0 ! important;
  border-width: 0 ! important;
  white-space: normal;
}

@media all and (-moz-is-resource-document) {
 foreignObject *|* {
   -moz-appearance: none !important;
 }
}

*|*::-moz-svg-foreign-content {
  display: block !important;
  
  transform: translate(0) !important;
  text-indent: 0;
}




*:not(svg),
*:not(foreignObject) > svg {
  transform-origin:0 0;
}

*|*::-moz-svg-text {
  unicode-bidi: inherit;
}

*[xml|space=preserve] {
  white-space: -moz-pre-discard-newlines;
}
