



@media not print {
  

  body {
    color: #eee;
    background: #222 url("chrome://global/skin/media/imagedoc-darknoise.png");
  }

  img.decoded {
    background: hsl(0,0%,90%) url("chrome://global/skin/media/imagedoc-lightnoise.png");
    color: #222;
  }

  .completeRotation {
    transition: transform 0.3s ease 0s;
  }
}
