@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.controlBar {
    height: 28px;
    background-color: rgba(35,31,32,0.74);
}

.playButton {
    background: url(chrome://global/skin/media/pauseButton.png) no-repeat center;
    
    -moz-appearance: none;
    margin: 0px;
    padding: 0px;
    min-height: 28px;
    min-width: 28px;
    border: none;
    margin-right: -22px; 
    position: relative; 
}
.playButton[paused="true"] {
    background: url(chrome://global/skin/media/playButton.png) no-repeat center;
}

.muteButton {
    background: url(chrome://global/skin/media/muteButton.png) no-repeat center;
    
    -moz-appearance: none;
    margin: 0px;
    padding: 0px;
    min-height: 28px;
    min-width: 33px;
    border: none;
}
.muteButton[muted="true"] {
    background: url(chrome://global/skin/media/unmuteButton.png) no-repeat center;
}

.volumeStack {
    width: 28px;
    height: 70px;
    background-color: rgba(35,31,32,0.74);
    
    margin: -70px 3px 28px -31px;
    overflow: hidden; 
    position: relative; 
    padding-top: 6px;
}

.volumeControl {
    min-height: 64px;
}


.volumeControl .scale-thumb {
    
    -moz-appearance: none;
    background: url(chrome://global/skin/media/volumeThumb.png) no-repeat center;
    border: none;
    min-width: 16px;
    min-height: 11px;
}

.volumeBackgroundBar {
    
    margin: 0px 10px 0px 10px;
    background-color: rgba(255,255,255,0.5);
    -moz-border-radius: 4px 4px;
}


.durationBox {
    -moz-box-pack: center;
}

.durationLabel {
    margin-left: -22px; 
    padding-left: 8px; 
    padding-top: 0px; 
    color: rgba(255,255,255,0.75);
    font-size: 11px;
    font-family: Arial, sans-serif;
}

.backgroundBar {
    
    
    margin: 10px 22px 10px 22px;
    background-color: rgba(255,255,255,0.5);
    -moz-border-radius: 4px 4px;
}

.bufferBar, .progressBar {
    
    
    margin: 10px 22px 10px 22px;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    min-width: 0px;
    min-height: 0px;
}


.bufferBar .progress-bar {
    




    background-color: rgba(255,255,255,0.5);
    -moz-border-radius: 4px 4px;
    -moz-appearance: none;
}

.progressBar .progress-bar {
    background-color: white;
    -moz-border-radius: 4px 0px 0px 4px;
    -moz-appearance: none;
}


.scrubber .scale-slider, .volumeControl .scale-slider {
    
    -moz-appearance: none;
    background: none;
    margin: 0;
}

.scrubber .scale-slider {
    
    margin-top: -10px;
    margin-bottom: 10px;
}


.scrubber .scale-thumb {
    
    -moz-appearance: none;
    background: transparent;
    border: none;
}

.timeThumb {
    background: url(chrome://global/skin/media/scrubberThumb.png) no-repeat center;
    min-width: 45px;
    min-height: 28px;
    -moz-box-pack: center;
}

.timeThumb[showhours="true"] {
    background: url(chrome://global/skin/media/scrubberThumbWide.png) no-repeat center;
}

.timeLabel {
    color: rgba(255,255,255,0.75);
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-shadow: rgba(0,0,0, 0.3) 0 1px;
    padding-top: 2px;
}

.statusOverlay {
    -moz-box-align: center;
    -moz-box-pack: center;
    background-color: rgba(0,0,0,0.55);
}

.statusIcon {
    margin-bottom: 28px; 
    width: 36px;
    height: 36px;
}

.statusIcon[type="throbber"] {
    background: url(chrome://global/skin/media/throbber.png) no-repeat center;
}

.statusIcon[type="error"] {
    background: url(chrome://global/skin/media/error.png) no-repeat center;
}
