









































@namespace url(http://www.w3.org/1998/Math/MathML);







math {
  direction: ltr;
  unicode-bidi: embed;
  display: inline;
  font-size: inherit;
  font-style: normal;
  font-family: STIXGeneral, DejaVu Serif, DejaVu Sans, Cambria, Cambria Math, Times, Lucida Sans Unicode, OpenSymbol, Standard Symbols L, serif;
  text-rendering: optimizeLegibility;
  -moz-float-edge: margin-box;
}
math[mode="display"], math[display="block"] {
  display: block;
  text-align: -moz-center;
}
math[display="inline"] {
  display: inline;
}
::-moz-math-inline {
  display: inline;
}










[-moz-math-font-style="italic"] {
  font-style: italic;
  font-weight: normal;
}











[-moz-math-font-style="normal"] {
  font-style: normal;
}

[-moz-math-font-style="invariant"] {
  font-style: normal;
  font-weight: normal;
}








[fontstyle="normal"] {
  font-style: normal;
}
[fontstyle="italic"] {
  font-style: italic;
}

[fontweight="normal"] {
  font-weight: normal;
}
[fontweight="bold"] {
  font-weight: bold;
}




























[mathvariant] { 
  
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
[mathvariant="bold-fraktur"], 
[mathvariant="bold-script"] {
  font-weight: bold;
}
[mathvariant="bold"] {
  font-weight: bold;
}
[mathvariant="italic"] { 
  font-style: italic;
}
[mathvariant="bold-italic"] {
  font-weight: bold;
  font-style: italic;
}
[mathvariant="sans-serif"] {
  font-family: sans-serif;
}
[mathvariant="bold-sans-serif"] {
  font-weight: bold;
  font-family: sans-serif;
}
[mathvariant="sans-serif-italic"] {
  font-family: sans-serif;
  font-style: italic;
}
[mathvariant="sans-serif-bold-italic"] {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}
[mathvariant="monospace"] {
  font-family: monospace;
}





ms {
  display: inline;
}
ms:before {
  content: open-quote;
}
ms:after {
  content: close-quote;
}

merror {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  white-space: pre;
  margin: 1em;
  padding: 1em;
  border-width: thin;
  border-style: inset;
  border-color: red;
  font-size: 14pt;
  background-color: lightyellow;
}





mtable {
  display: inline-table;
  border-collapse: separate;
  border-spacing: 0;
  text-indent: 0;
}
mtable[frame="none"] {
  border: none;
}
mtable[frame="solid"] {
  border: solid thin;
}
mtable[frame="dashed"] {
  border: dashed thin;
}

mtr {
  display: table-row;
  vertical-align: baseline;
}

mtd {
  display: table-cell;
  vertical-align: inherit;
  text-align: -moz-center;
  white-space: nowrap;
}


:not(mtable) > mtr,
:not(mtr) > mtd {
  display: none !important;
}




mtd[-moz-math-columnalign="left"],
mtd[columnalign="left"] {
  text-align: left;
}
mtd[-moz-math-columnalign="right"],
mtd[columnalign="right"] {
  text-align: right;
}
mtd[-moz-math-columnalign="center"],
mtd[columnalign="center"] {
  text-align: -moz-center;
}




mtr[-moz-math-rowalign="top"],
mtr[rowalign="top"],
mtd[rowalign="top"] {
  vertical-align: top;
}
mtr[-moz-math-rowalign="bottom"],
mtr[rowalign="bottom"],
mtd[rowalign="bottom"] {
  vertical-align: bottom;
}
mtr[-moz-math-rowalign="center"],
mtr[rowalign="center"],
mtd[rowalign="center"] {
  vertical-align: middle;
}
mtr[-moz-math-rowalign="baseline"],
mtr[rowalign="baseline"],
mtd[rowalign="baseline"] {
  vertical-align: baseline;
}














mtd {
  padding-right: 0.4em;  
  padding-left: 0.4em;   
  padding-bottom: 0.5ex; 
  padding-top: 0.5ex;    
}

mtr:first-child > mtd {
  padding-top: 0ex;
}
mtr:last-child > mtd {
  padding-bottom: 0ex;
}
mtd:first-child {
  padding-left: 0em;
}
mtd:last-child {
  padding-right: 0em;
}

mtable[frame="solid"] > mtr:first-child > mtd,
mtable[frame="dashed"] > mtr:first-child > mtd {
  padding-top: 0.5ex; 
}
mtable[frame="solid"] > mtr:last-child > mtd,
mtable[frame="dashed"] > mtr:last-child > mtd {
  padding-bottom: 0.5ex; 
}
mtable[frame="solid"] > mtr > mtd:first-child,
mtable[frame="dashed"] > mtr > mtd:first-child {
  padding-left: 0.4em; 
}
mtable[frame="solid"] > mtr > mtd:last-child,
mtable[frame="dashed"] > mtr > mtd:last-child {
  padding-right: 0.4em; 
}







mtr[-moz-math-rowline="none"] > mtd {
  border-top: none;
}
mtr[-moz-math-rowline="solid"] > mtd {
  border-top: solid thin;
}
mtr[-moz-math-rowline="dashed"] > mtd {
  border-top: dashed thin;
}
mtd[-moz-math-columnline="none"] {
  border-left: none;
}
mtd[-moz-math-columnline="solid"] {
  border-left: solid thin;
}
mtd[-moz-math-columnline="dashed"] {
  border-left: dashed thin;
}

































::-moz-math-stretchy {
  font-style: normal;
  font-family: serif; 

}
::-moz-math-anonymous {
}














semantics > :not(:first-child) {
  display: none;
}



*|*::-moz-mathml-anonymous-block {
  display: inline-block !important;
  position: static !important;
  text-indent: 0;
}








:-moz-math-increment-script-level { -moz-script-level:+1; }



mroot > :not(:first-child) { -moz-script-level:+2; }

msub > :not(:first-child),
msup > :not(:first-child),
msubsup > :not(:first-child),
mmultiscripts > :not(:first-child) { -moz-script-level:+1; }
