








@namespace url(http://www.w3.org/1998/Math/MathML);







math {
  direction: ltr;
  unicode-bidi: embed;
  display: inline;
  font-size: inherit;
  font-style: normal;
  font-family: MathJax_Main, STIXGeneral, DejaVu Serif, DejaVu Sans, Cambria, Cambria Math, Times, Lucida Sans Unicode, OpenSymbol, Standard Symbols L, serif;
  text-rendering: optimizeLegibility;
  -moz-float-edge: margin-box;
}
math[mode="display"], math[display="block"] {
  display: block;
  text-align: -moz-center;
}
math[display="inline"] {
  display: inline;
}





ms {
  display: inline;
}
ms:before, ms:after {
  content: "\0022"
}
ms[lquote]:before {
  content: attr(lquote)
}
ms[rquote]:after {
  content: attr(rquote)
 }




:-moz-any-link {
  text-decoration: none !important;
}




























merror {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  white-space: pre;
  margin: 1em;
  padding: 1em;
  border-width: thin;
  border-style: inset;
  border-color: red;
  font-size: 14pt;
  background-color: lightyellow;
}





mtable {
  display: inline-table;
  border-collapse: separate;
  border-spacing: 0;
  text-indent: 0;
}
mtable[frame="none"] {
  border: none;
}
mtable[frame="solid"] {
  border: solid thin;
}
mtable[frame="dashed"] {
  border: dashed thin;
}

mtr, mlabeledtr {
  display: table-row;
  vertical-align: baseline;
}

mtd {
  display: table-cell;
  vertical-align: inherit;
  text-align: -moz-center;
  white-space: nowrap;
}


:not(mtable) > mtr,
:not(mtable) > mlabeledtr,
:not(mtr):not(mlabeledtr) > mtd {
  display: none !important;
}



mlabeledtr > mtd:first-child {
    display: none;
}







mtd {
  padding-right: 0.4em;  
  padding-left: 0.4em;   
  padding-bottom: 0.5ex; 
  padding-top: 0.5ex;    
}

mtr:first-child > mtd {
  padding-top: 0ex;
}
mtr:last-child > mtd {
  padding-bottom: 0ex;
}
mtd:first-child {
  padding-left: 0em;
}
mtd:last-child {
  padding-right: 0em;
}

mtable[frame="solid"] > mtr:first-child > mtd,
mtable[frame="dashed"] > mtr:first-child > mtd {
  padding-top: 0.5ex; 
}
mtable[frame="solid"] > mtr:last-child > mtd,
mtable[frame="dashed"] > mtr:last-child > mtd {
  padding-bottom: 0.5ex; 
}
mtable[frame="solid"] > mtr > mtd:first-child,
mtable[frame="dashed"] > mtr > mtd:first-child {
  padding-left: 0.4em; 
}
mtable[frame="solid"] > mtr > mtd:last-child,
mtable[frame="dashed"] > mtr > mtd:last-child {
  padding-right: 0.4em; 
}
































::-moz-math-stretchy {
  font-style: normal;
  font-family: serif; 

}








*|*::-moz-mathml-anonymous-block {
  display: inline-block !important;
  position: static !important;
  text-indent: 0;
}








:-moz-math-increment-script-level { -moz-script-level:+1; }



mroot > :not(:first-child) { -moz-script-level:+2; }

msub > :not(:first-child),
msup > :not(:first-child),
msubsup > :not(:first-child),
mmultiscripts > :not(:first-child) { -moz-script-level:+1; }
