








































.gcliterm-input-node,
.gcliterm-complete-node {
  border: none;
  -moz-appearance: none;
  height: 100%;
  vertical-align: middle;
  background-color: transparent;
  font: 12px Consolas, "Lucida Console", monospace;
}

.gcliterm-input-node {
  padding-top: 2px;
  padding-bottom: 0;
  -moz-padding-start: 16px;
  -moz-padding-end: 0;
}

.gcliterm-complete-node {
  color: #FFF;
  padding-top: 4px;
  padding-bottom: 2px;
  -moz-padding-start: 21px;
  -moz-padding-end: 4px;
}

.gcli-in-valid {
  border-bottom: none;
}

.gcli-in-incomplete {
  color: #DDD;
  border-bottom: 1px dotted #999;
}

.gcli-in-error {
  color: #DDD;
  border-bottom: 1px dotted #F00;
}

.gcli-in-ontab {
  color: #999;
}

.gcliterm-stack-node {
  background: url("chrome://global/skin/icons/commandline.png") 4px center no-repeat;
  width: 100%;
}

.gcliterm-argfetcher {
  display: -moz-box;
  -moz-box-flex: 1;
}

.gcliterm-hint-node {
  border-top: 1px solid threedshadow;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid threedshadow;
  border-right: 1px solid threedshadow;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: -1px;
}

.gcliterm-hint-parent {
  width: 300px;
  padding: 10px 10px 0;
  border-top: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
}

.gcli-help-right {
  text-align: right;
}

.gcliterm-menu {
  display: -moz-box;
  -moz-box-flex: 1;
}

.gcliterm-hint-nospace {
  display: none;
}







.gcliterm-input-node,
.gcliterm-complete-node,
.gcliterm-display {
  direction: ltr;
}











.gcliterm-hint-parent:-moz-locale-dir(rtl),
.hud-output-node:-moz-locale-dir(rtl) {
  direction: rtl;
}



.gcliterm-complete-node {
  padding-top: 6px !important;
}



.gcli-argfetch {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.gcli-af-cmddesc {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  padding: 3px 10px 0;
}

.gcli-af-params {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.gcli-af-paramname {
  text-align: right;
  font-size: 90%;
}

.gcli-af-required {
  font-size: 90%;
  color: #f66;
  padding-left: 5px;
}

.gcli-af-error {
  font-size: 80%;
  color: #900;
}

.gcli-af-submit {
  text-align: right;
}

.gcli-field {
  width: 100%;
}



.gcli-menu {
  width: 100%;
  overflow: hidden;
}

.gcli-menu-field {
  border: 1px solid #aaa;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  max-height: 300px;
  margin: 0 3px;
  padding: 0;
}

.gcli-menu-template {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

.gcli-menu-option {
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  padding: 2px;
}

.gcli-menu-option:hover {
  background-color: rgb(230, 230, 230);
}

.gcli-menu-name {
  padding-top: 0;
  padding-bottom: 0;
  -moz-padding-start: 10px;
  -moz-padding-end: 2px;
}

.gcli-menu-desc {
  font-size: 80%;
  color: #999;
}

.gcli-menu-error {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 8px;
  padding-bottom: 2px;
  -moz-padding-start: 10px;
  -moz-padding-end: 2px;
  font-size: 80%;
  color: red;
}



.gcli-in-complete {
  position: absolute;
  z-index: -1000;
  border: 1px transparent solid;
  padding: 1px 1px 1px 2px;
  color: #DDD;
}

.gcli-in-incomplete {
  border-bottom: 2px dotted #999;
}

.gcli-in-error {
  border-bottom: 2px dotted #F00;
}

.gcli-in-ontab {
  color: #999;
}

.gcli-in-closebrace {
  color: #999;
}

.gcli-prompt {
  color: #66F;
  font-weight: bold;
}
