



* {
  padding: 0;
  margin: 0;
}

body {
  color: hsl(0,0%,50%);
}

.text {
  color: black;
}

.newattr {
  cursor: pointer;
}

.selected {
  background-color: hsl(0,0%,90%);
}



span[tabindex] {
  display: inline-block;
  padding: 1px 0;
}

li.container {
  position: relative;
  padding: 2px 0 0 2px;
}

.codebox {
  padding-left: 14px;
}

.expander {
  position: absolute;
  -moz-appearance: treetwisty;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
}

.expander[expanded] {
  -moz-appearance: treetwistyopen;
}

.more-nodes {
  padding-left: 16px;
}

.styleinspector-propertyeditor {
  border: 1px solid #CCC;
}
