<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bug 1087872 - Test for dynamic removal of ruby frames</title>
  <link rel="stylesheet" href="common.css">
  <script src="dynamic-removal.js"></script>
</head>
<body>

  <p>'a' and 'b' should be paired with 'x' and 'y' respectively:</p>

  
  
  <p><rb>a</rb><span class="remove"></span><rb>b</rb><rt>x</rt><rt>y</rt></p>
  
  <p><rb>a</rb><rt class="remove"></rt><rb>b</rb><rt>x</rt><rt>y</rt></p>
  
  <p><rb>a</rb><rb>b</rb><rt>x</rt><rb class="remove"></rb><rt>y</rt></p>

  
  
  <p><rb class="remove-after">a</rb> <rb>b</rb><rt>x</rt><rt>y</rt></p>
  
  <p><rb>a</rb><rb>b</rb><rt class="remove-after">x</rt> <rt>y</rt></p>

  <p>'ab' should be paried with 'xy':</p>

  
  
  <p><rbc>a<rb class="remove"></rb>b</rbc><rt>xy</rt></p>
  
  <p><rb>ab</rb><rtc>x<rt class="remove"></rt>y</rtc></p>

</body>
</html>
