<!DOCTYPE html>
<html>
  <head><title>Test dir=rtl</title></head>
  <body style="background: white;">

    


    <div style="position: absolute; top: 5px; left: 5px;">
      
      <math dir="rtl">
        <msup>
          <mspace width="20px" height="20px"/>
          <mspace width="20px" height="20px" mathbackground="red"/>
        </msup>
      </math><br/>
      
      <math dir="rtl">
        <msub>
          <mspace width="20px" height="20px"/>
          <mspace width="20px" height="20px" mathbackground="orange"/>
        </msub>
      </math><br/>
      
      <math dir="rtl">
        <msubsup>
          <mspace width="20px" height="20px"/>
          <mspace width="20px" height="20px" mathbackground="green"/>
          <mspace width="20px" height="20px" mathbackground="blue"/>
        </msubsup>
      </math><br/>
      
      <math dir="rtl">
        <mmultiscripts>
          <mspace/>
          <mspace width="20px" height="20px" mathbackground="cyan"/>
          <mspace width="20px" height="20px" mathbackground="yellow"/>
          <mprescripts/>
          <mspace width="20px" height="20px"/>
          <mspace width="20px" height="20px"/>
        </mmultiscripts>
      </math><br/>
      
      <math dir="rtl">
        <munder>
          <mpadded width="20px">
            <mphantom>
              <mo movablelimits="true" displaystyle="false">|</mo>
            </mphantom>
          </mpadded>
          <mspace width="20px" height="20px" mathbackground="magenta"/>
        </munder>
      </math><br/>
      
      <math dir="rtl">
        <mover>
          <mpadded width="20px">
            <mphantom>
              <mo movablelimits="true" displaystyle="false">|</mo>
            </mphantom>
          </mpadded>
          <mspace width="20px" height="20px" mathbackground="cyan"/>
        </mover>
      </math><br/>
      
      <math dir="rtl">
        <munderover>
          <mpadded width="20px">
            <mphantom>
              <mo movablelimits="true" displaystyle="false">|</mo>
            </mphantom>
          </mpadded>
          <mspace width="20px" height="20px" mathbackground="yellow"/>
          <mspace width="20px" height="20px" mathbackground="grey"/>
        </munderover>
      </math>
      
      <math dir="rtl">
        <mstyle mathcolor="white">
          <mfrac bevelled="true">
            <mspace width="20px" height="20px"/>
            <mspace width="20px" height="20px" mathbackground="red"/>
          </mfrac>
        </mstyle>
      </math><br/>
      
      <math dir="rtl">
        <mstyle mathcolor="white">
          <mroot>
            <mspace width="20px" height="20px" mathbackground="orange"/>
            <mspace width="20px" height="20px"/>
          </mroot>
        </mstyle>
      </math>
      
      <math dir="rtl">
        <mstyle mathcolor="white">
          <msqrt>
            



            <mspace width="25px" height="20px" mathbackground="grey"/>
          </msqrt>
        </mstyle>
      </math>
    </div>

    <div style="position: absolute; top: 5px; left: 5px;">
      <div style="width: 30px; height: 500px; background: black;"></div>
    </div>

  </body>
</html>
