<!doctype html>
<html>
  <head>
    <title>displaystyle</title>
    <meta charset="utf-8"/>
  </head>
  <body>

    
    <math>
      <mstyle displaystyle="true">
        <munder><mo>O</mo><mo>O</mo></munder>
      </mstyle>
      <mstyle displaystyle="false">
        <msub><mo>O</mo><mo>O</mo></munder>
      </mstyle>
    </math>

    


    <math>
      <mstyle displaystyle="true">
        <mfrac>
          <msub><mo>O</mo><mo>O</mo></msub>
          <msub><mo>O</mo><mo>O</mo></msub>
        </mfrac>
      </mstyle>
    </math>

    




    <math>
      <mstyle displaystyle="true">
        <mroot>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
        </mroot>
        <msqrt>
          <munder><mo>O</mo><mo>O</mo></munder>
        </msqrt>
      </mstyle>
    </math>

















    <math>
      <mstyle displaystyle="true">
        <msub>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
        </msub>
        <msup>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
        </msup>
        <msubsup>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
          <msub><mo>O</mo><mo>O</mo></msub>
        </msubsup>
        <mmultiscripts>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
          <msub><mo>O</mo><mo>O</mo></msub>
          <mprescripts/>
          <msub><mo>O</mo><mo>O</mo></msub>
          <msub><mo>O</mo><mo>O</mo></msub>
        </mmultiscripts>
      </mstyle>
    </math>














   
    <math>
      <mstyle displaystyle="true">
        <munder>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
        </munder>
        <mover>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
        </mover>
        <munderover>
          <munder><mo>O</mo><mo>O</mo></munder>
          <msub><mo>O</mo><mo>O</mo></msub>
          <msub><mo>O</mo><mo>O</mo></msub>
        </munderover>
      </mstyle>
    </math>






    <math>
      <mstyle displaystyle="false">
        <mtable displaystyle="true">
          <mtr>
            <mtd>
              <munder><mo>O</mo><mo>O</mo></munder>
            </mtd>
          </mtr>
        </mtable>
      </mstyle>
      <mstyle displaystyle="true">
        <mtable>
          <mtr>
            <mtd>
              <msub><mo>O</mo><mo>O</mo></msub>
            </mtd>
          </mtr>
        </mtable>
      </mstyle>
    </math>

  </body>
</html>
