<!doctype html>
<html>
  <head>
    <title>More mathvariant tests</title>
  </head>
  <body>
    <math>
      <mrow>
        


        <mtext>&#x1d49c;</mtext>
        <mtext>&#x212c;</mtext>
        

        <mtext>&#x00e1;</mtext>
      </mrow>
    </math>

    <p>

    <math>
      <mrow>
        

        <mtext>&#x1d670;&#x1d670;&#x1d670;</mtext>
      </mrow>
    </math>

    <p>

    <math>
      <mrow>
        

        <mtext mathvariant="sans-serif">cos</mtext>
        <mo>&#x2061;</mo>
        <mi mathvariant="sans-serif">x</mi>
      </mrow>
    </math>

  </body>
</html>
