<!doctype html>
<html>
  <head>
    <title>Open Type MATH - stretchy operator</title>
    <meta charset="utf-8"/>
    <style type="text/css">
      @font-face {
        font-family: stretchy;
        src: url(../fonts/math/stretchy.otf);
      }
      math {
        font-family: stretchy;
        font-size: 10px;
      }
    </style>
  </head>
  <body>




















    <p>
      <math>
        <mstyle scriptsizemultiplier="1">
          <mover><mo stretchy="true">&#x219D;</mo><mspace width="1em" height="1px" mathbackground="red"/></mover>
          <mover><mo stretchy="true">&#x219E;</mo><mspace width="2em" height="1px" mathbackground="red"/></mover>
          <mover><mo stretchy="true">&#x21A0;</mo><mspace width="3em" height="1px" mathbackground="red"/></mover>
          <mover><mo stretchy="true">&#x21A2;</mo><mspace width="15em" height="1px" mathbackground="red"/></mover>
        </mstyle>
      </math>
    </p>

    <p>
      <math><mrow><mo symmetric="false" stretchy="true" minsize="1em">&#x21A1;</mo></mrow></math>
      <math><mrow><mo symmetric="false" stretchy="true" minsize="2em">&#x21A5;</mo></mrow></math>
      <math><mrow><mo symmetric="false" stretchy="true" minsize="3em">&#x21A7;</mo></mrow></math>
      <math><mrow><mo symmetric="false" stretchy="true" minsize="15em">&#x21A8;</mo></mrow></math>
    </p>







    <p>
      <math displaystyle="true">
        <mrow><mo>&#x2A1C;</mo></mrow>
      </math>
    </p>

  </body>
</html>
