<!doctype html>
<head>

  





  <style type="text/css" media="screen, print">
    @font-face {
      font-family: "sstyfont";
      src: url("ssty.woff");
    }
  </style>
</head>
<body>

  



  <math>
    <mstyle style="font-family: 'sstyfont';">
      <msup>
        <mo>D</mo>
        <msup>
          <mo>B</mo>
          <msup>
            <mo>C</mo>
            <mo>C</mo> 
          </msup>
        </msup>
      </msup>

      <msub>
        <mo>D</mo>
        <msub>
          <mo>B</mo>
          <msub>
            <mo>C</mo>
            <mo>C</mo>
          </msub>
        </msub>
      </msub>

      <msubsup>
        <mo>D</mo>
        <msubsup>
          <mo>B</mo>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
        </msubsup>
        <msubsup>
          <mo>B</mo>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
        </msubsup>
      </msubsup>

      <mmultiscripts>
        <mo>D</mo>
        <mmultiscripts>
          <mo>B</mo>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
        </mmultiscripts>
        <mmultiscripts>
          <mo>B</mo>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
        </mmultiscripts>
      </mmultiscripts>
    </mstyle>
  </math>

  <p>

  
  <math>
    <mstyle style="font-family: 'sstyfont';" scriptlevel="-3">
      <msup>
        <mo>D</mo>
        <msup>
          <mo>B</mo>
          <msup>
            <mo>C</mo>
            <mo>C</mo> 
          </msup>
        </msup>
      </msup>

      <msub>
        <mo>D</mo>
        <msub>
          <mo>B</mo>
          <msub>
            <mo>C</mo>
            <mo>C</mo>
          </msub>
        </msub>
      </msub>

      <msubsup>
        <mo>D</mo>
        <msubsup>
          <mo>B</mo>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
        </msubsup>
        <msubsup>
          <mo>B</mo>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
        </msubsup>
      </msubsup>

      <mmultiscripts>
        <mo>D</mo>
        <mmultiscripts>
          <mo>B</mo>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
        </mmultiscripts>
        <mmultiscripts>
          <mo>B</mo>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
        </mmultiscripts>
      </mmultiscripts>
    </mstyle>
  </math>

  <p>

  
  <math>
    <mstyle style="font-family: 'sstyfont';" scriptlevel="1">
      <msup>
        <mo>D</mo>
        <msup>
          <mo>B</mo>
          <msup>
            <mo>C</mo>
            <mo>C</mo> 
          </msup>
        </msup>
      </msup>

      <msub>
        <mo>D</mo>
        <msub>
          <mo>B</mo>
          <msub>
            <mo>C</mo>
            <mo>C</mo>
          </msub>
        </msub>
      </msub>

      <msubsup>
        <mo>D</mo>
        <msubsup>
          <mo>B</mo>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
        </msubsup>
        <msubsup>
          <mo>B</mo>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
          <msubsup>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </msubsup>
        </msubsup>
      </msubsup>

      <mmultiscripts>
        <mo>D</mo>
        <mmultiscripts>
          <mo>B</mo>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
        </mmultiscripts>
        <mmultiscripts>
          <mo>B</mo>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
          <mmultiscripts>
            <mo>C</mo>
            <mo>C</mo>
            <mo>C</mo>
          </mmultiscripts>
        </mmultiscripts>
      </mmultiscripts>
    </mstyle>
  </math>

  <p>

  

  <math>
    <mstyle style="font-family: 'sstyfont';">
      <msup>
        <mo>D</mo>
        <msup>
          <mo>D</mo>
          <mo>C</mo>
        </msup>
      </msup>

      <msub>
        <mo>D</mo>
        <msub>
          <mo>D</mo>
          <mo>C</mo>
        </msub>
      </msub>

      <msubsup>
        <mo>D</mo>
        <msubsup>
          <mo>D</mo>
          <mo>C</mo>
          <mo>C</mo>
        </msubsup>
        <msubsup>
          <mo>D</mo>
          <mo>C</mo>
          <mo>C</mo>
        </msubsup>
      </msubsup>

      <mmultiscripts>
        <mo>D</mo>
        <mmultiscripts>
          <mo>D</mo>
          <mo>C</mo>
          <mo>C</mo>
        </mmultiscripts>
        <mmultiscripts>
          <mo>D</mo>
          <mo>C</mo>
          <mo>C</mo>
        </mmultiscripts>
      </mmultiscripts>
    </mstyle>
  </math>
