



#mainarea > .controlPane {
  font-size: 120%;
  padding-top: 75px;
  text-align: center;
}

#stopWrapper {
  display: none;
}

#profilerMessage {
  color: #999;
  display: none;
}


.resourceIcon[data-resource^=otherhost_] + .functionName {
  color: #999;
}