



#options-panel-container {
  overflow: auto;
}

#options-panel {
  display: block;
}

.options-vertical-pane {
  display: inline;
  float: left;
}

.options-vertical-pane > label {
  display: block;
}

.options-vertical-pane {
  margin: 5px;
  width: calc(100%/3 - 30px);
  min-width: 320px;
  -moz-padding-start: 5px;
}




@media (max-width: 1000px) {
  .options-vertical-pane {
    width: calc(100%/2 - 30px);
  }
}

.options-vertical-pane > label {
  padding: 2px 0;
  font-size: 1.4rem;
}

.options-groupbox {
  -moz-margin-start: 15px;
  padding: 2px;
}

.options-groupbox > *,
.options-groupbox > .hidden-labels-box > checkbox {
  padding: 2px;
}

.options-groupbox > .hidden-labels-box {
  padding: 0;
}

.options-citation-label {
  font-size: 1rem !important;
  
  font-style: italic;
  padding: 4px 0 0; 
}

.hidden-labels-box:not(.visible) > label,
.hidden-labels-box.visible ~ .hidden-labels-box > label:last-child {
  display: none;
}

#devtools-sourceeditor-keybinding-menulist {
  min-width: 100px;
}

#devtools-sourceeditor-tabsize-menulist {
  min-width: 50px;
}
