



#options-panel-container {
  overflow: auto;
}

#options-panel {
  display: block;
}

.options-vertical-pane {
  display: inline;
  float: left;
}

.options-vertical-pane > label {
  display: block;
}

.options-vertical-pane {
  margin: 5px;
  width: calc(50% - 30px);
  min-width: 350px;
  -moz-padding-start: 5px;
}

.options-vertical-pane > label {
  padding: 2px 0;
  font-size: 1.4rem;
}

.options-groupbox {
  -moz-margin-start: 15px;
  padding: 2px;
}

.options-groupbox > * {
  padding: 2px;
}

.options-citation-label {
  font-size: 1rem !important;
  
  font-style: italic;
  padding: 4px 0 0; 
}

.hidden-labels-box:not(.visible) > label,
.hidden-labels-box.visible ~ .hidden-labels-box > label:last-child {
  display: none;
}
