



.devtools-tab > .radio-check,
.devtools-tab > .radio-check-box1,
.devtools-tab > .radio-spacer-box {
  display: none;
}

#toolbox-controls > toolbarbutton > .toolbarbutton-text,
#toolbox-dock-buttons > toolbarbutton > .toolbarbutton-text,
.command-button > .toolbarbutton-text {
  display: none;
}

#options-panel {
  overflow-y: auto;
  display: block;
}

.options-vertical-pane {
  display: inline;
  float: left;
}

.options-vertical-pane > label {
  display: block;
}
