<!DOCTYPE HTML>
<html>
<head>
<title>basis of percentage widths</title>
<style type="text/css">

td { border: 3px inset blue; }

</style>
</head>
<body>















<table cellpadding="3" cellspacing="5" border="2" style="padding: 3px 5px 7px 9px">
  <tr>
    <td width="25%">x</td>
    <td width="38">x</td>
    <td><div style="width:38px">x</div></td>
    <td><div style="width:38px">x</div></td>
  </tr>
</table>

<table cellpadding="3" cellspacing="5" border="2" style="padding: 3px 5px 7px 9px" width="243">
  <tr>
    <td width="25%">x</td>
    <td width="38">x</td>
    <td><div style="width:38px">x</div></td>
    <td><div style="width:38px">x</div></td>
  </tr>
</table>

<table cellpadding="3" cellspacing="5" border="2" style="padding: 3px 5px 7px 9px" width="443">
  <tr>
    <td width="25%">x</td>
    <td width="38">x</td>
    <td><div style="width:38px">x</div></td>
    <td><div style="width:38px">x</div></td>
  </tr>
</table>

<table cellpadding="3" cellspacing="5" border="2" style="padding: 3px 5px 7px 9px" width="223">
  <tr>
    <td width="25%">x</td>
    <td width="38">x</td>
    <td><div style="width:38px">x</div></td>
    <td><div style="width:38px">x</div></td>
  </tr>
</table>

</body>
</html>
