%if 0



%endif
@namespace html "http://www.w3.org/1999/xhtml";

#mainPrefPane {
  max-width: 800px;
  padding: 0;
  font: message-box;
  font-size: 1.25rem;
  line-height: 22px;
}

* {
  -moz-user-select: text;
}

button,
treecol {
  
  -moz-user-select: none;
}



#categories {
  max-height: 100vh;
}

#categories > scrollbox {
  overflow-x: hidden !important;
}






#categories > .category[hidden="true"] {
  display: -moz-box;
  visibility: collapse;
}

#category-general > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#general");
}

#category-search > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#search");
}

#category-content > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#content");
}

#category-application > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#applications");
}

#category-privacy > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#privacy");
}

#category-security > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#security");
}

#category-sync > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#sync");
}

#category-advanced > .category-icon {
  list-style-image: url("chrome://browser/skin/preferences/in-content/icons.svg#advanced");
}

@media (max-width: 800px) {
  .category-name {
    display: none;
  }
}



#header-advanced {
  border-bottom: none;
  padding-bottom: 0;
}



#startupTable {
  border-collapse: collapse;
}

#startupTable > tr > td {
  padding: 0; 
}

#startupTable > tr:not(:first-child) > td {
  padding-top: 0.5em; 
}

#startupTable > tr > .label-cell {
  text-align: end;
  width: 0; 
}

#startupTable > tr > .label-cell > label {
  white-space: nowrap;
}

#startupTable > tr > .content-cell > menulist,
#startupTable > tr > .content-cell > textbox {
  width: calc(100% - 8px);
  margin-left: 4px;
  margin-right: 4px;
}

#startupTable > tr > .homepage-buttons {
  display: flex;
  flex-wrap: wrap;
}

#startupTable > tr > .homepage-buttons > .content-cell-item {
  flex-grow: 1;
}

#useFirefoxSync  {
  font-size: 90%;
  -moz-margin-end: 8px !important;
}

#getStarted {
  font-size: 90%;
}

#isNotDefaultLabel {
  font-weight: bold;
}

#downloadFolder {
  -moz-margin-start: 0;
}


#playDRMContentLink {
  
  margin-left: 4px !important;
  margin-right: 4px !important;
}

#defaultFontSizeLabel {
  
  -moz-margin-start: 4px !important;
}



#applicationsContent {
  padding: 15px 0;
}

#filter {
  -moz-margin-start: 0;
}

#handlersView {
  height: 25em;
}

#handlersView > richlistitem {
  min-height: 36px !important;
}

.typeIcon {
  -moz-margin-start: 10px !important;
  -moz-margin-end: 9px !important;
}

.actionIcon {
  -moz-margin-start: 11px !important;
  -moz-margin-end: 8px !important;
}

.actionsMenu {
  min-height: 36px;
}

.actionsMenu > menupopup > menuitem {
  -moz-padding-start: 10px !important;
}

.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  -moz-margin-end: 8px !important;
}



#historyPane:not([selectedIndex="1"]) > #historyDontRememberPane,
#historyPane:not([selectedIndex="2"]) > #historyCustomPane,
#weavePrefsDeck:not([selectedIndex="1"]) > #hasAccount,
#weavePrefsDeck:not([selectedIndex="2"]) > #needsUpdate,
#weavePrefsDeck:not([selectedIndex="3"]) > #fxaDeterminingStatus,
#weavePrefsDeck:not([selectedIndex="4"]) > #noFxaAccount,
#weavePrefsDeck:not([selectedIndex="5"]) > #hasFxaAccount,
#fxaLoginStatus:not([selectedIndex="1"]) > #fxaLoginUnverified,
#fxaLoginStatus:not([selectedIndex="2"]) > #fxaLoginRejected {
  visibility: collapse;
}



description > html|a {
  cursor: pointer;
}

#fxaProfileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-width: 5px;
  border-color: red;
  background-image: url(chrome://browser/skin/preferences/in-content/default-profile-image.svg);
  background-size: contain;
  cursor: pointer;
  -moz-margin-end: 15px;
}

#fxaProfileImage:hover {
  border-color: blue;
}

#noFxaAccount {
  

  margin: 0;
}

#weavePrefsDeck > vbox > label,
#weavePrefsDeck > vbox > groupbox,
#weavePrefsDeck > vbox > description,
#weavePrefsDeck > vbox > #pairDevice > label,
#weavePrefsDeck > #needsUpdate > hbox > #loginError,
#weavePrefsDeck > #hasFxaAccount > hbox:not(#tosPP-normal) > label,
#weavePrefsDeck > #hasFxaAccount > hbox:not(#tosPP-small) > label {
  
  -moz-margin-start: 0;
}

#tabsElement {
  -moz-margin-end: 4px; 
}

#telemetryLearnMore,
#FHRLearnMore,
#crashReporterLearnMore {
  
  
  -moz-margin-start: 20px !important;
  
  margin-top: 8px;
  margin-bottom: 8px;
}

.indent {
  -moz-margin-start: 33px;
}

#trackingProtectionImage {
  width: 16px;
  height: 16px;
  list-style-image: url(chrome://browser/skin/bad-content-blocked-16.png);
}

@media (min-resolution: 2dppx) {
  #trackingProtectionImage {
    list-style-image: url(chrome://browser/skin/bad-content-blocked-16@2x.png);
  }
}

#showUpdateHistory {
  -moz-margin-start: 0;
}





#dialogOverlay {
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
}

#dialogBox {
  background-color: #fbfbfb;
  background-clip: content-box;
  color: #424e5a;
  font-size: 14px;
  

  border: 1px solid transparent;
  border-radius: 3.5px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
  display: -moz-box;
  margin: 0;
  padding: 0;
}

#dialogBox[resizable="true"] {
  resize: both;
  overflow: hidden;
  min-height: 20em;
  min-width: 66ch;
}

#dialogBox > .groupbox-title {
  padding: 3.5px 0;
  background-color: #F1F1F1;
  border-bottom: 1px solid #C1C1C1;
}

#dialogTitle {
  text-align: center;
}

.close-icon {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  height: 18px;
  padding: 0;
  min-width: 18px;
}

#dialogBox > .groupbox-body {
  -moz-appearance: none;
  padding: 20px;
}

#dialogFrame {
  -moz-box-flex: 1;
  
  height: 20em;
  width: 66ch;
}

.largeDialogContainer.doScroll {
  overflow-y: auto;
  -moz-box-flex: 1;
}









#defaultFontType,
#serif,
#sans-serif,
#monospace {
  min-width: 30ch;
}




#sync-migrate-upgrade-description {
  
  min-width: 100px
}

#sync-migration {
  border: 1px solid rgba(0, 0, 0, 0.32);
  background-color: InfoBackground;
  color: InfoText;
  text-shadow: none;
  margin: 5px 0 0 0;
  animation: fadein 3000ms;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
