



#alertBox[animate] {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: alert-animation;
}

#alertBox[animate]:hover {
  animation-play-state: paused;
}

.alertText {
  white-space: pre-wrap;
}

@keyframes alert-animation {
  to {
    visibility: hidden;
  }
}
