







.theme-body {
  background: white;
  color: black;
}

.theme-twisty {
  cursor: pointer;
  margin-right: 5px;
}

.theme-twisty:-moz-focusring {
  outline-style: none;
}

.theme-twisty:not([open]) {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgba(0,0,0,0.5);
  margin-left: 5px;
}

.theme-twisty[open] {
  width: 10px;
  height: 10px;
  background-image: linear-gradient(to bottom right, transparent 68%,  rgba(0,0,0,0.5) 68%);
}

.theme-checkbox {
  display: inline-block;
  border: 1px solid rgba(160,160,160,0.4);
  width: 6px;
  height: 6px;
  padding: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
}

.theme-checkbox[checked] {
  background-clip: content-box;
  background-image: linear-gradient(to bottom right, transparent 48%, rgba(160,160,160,1) 48%, rgba(160,160,160,1) 52%, transparent 52%),
                    linear-gradient(to bottom left, transparent 48%, rgba(160,160,160,1) 48%, rgba(160,160,160,1) 52%, transparent 52%);
}

.theme-selected {
  background-color: hsl(0,0%,90%);
}

.theme-bg-darker {
  background: #F9F9F9;
}

.theme-link { 
  color: hsl(208,56%,40%);
}

.theme-comment { 
  color: hsl(90,2%,46%);
}

.theme-gutter {
  background-color: hsl(0,0%,90%);
  color: #667380;
  border-color: hsl(0,0%,65%);
}

.theme-separator { 
  border-color: #cddae5;
}

.theme-fg-color1 { 
  color: hsl(72,100%,27%);
}

.theme-fg-color2 { 
  color: hsl(208,56%,40%);
}

.theme-fg-color3 { 
  color: hsl(208,81%,21%)
}

.theme-fg-color4 { 
  color: hsl(24,85%,39%);
}

.theme-fg-color5 { 
  color: #a18650;
}

.theme-fg-color6 { 
  color: hsl(24,85%,39%);
}

.theme-fg-color7 { 
  color: #bf5656;
}
