










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");



textbox {
  cursor: default;
  padding: 0;
}


textbox.padded {
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

.autocomplete-textbox-container {
  -moz-box-align: center;
}

.textbox-input-box {
  margin: 0 3px;
  -moz-box-align: center;
}



.autocomplete-history-dropmarker {
  -moz-appearance: none !important;
  height: 20px;
  margin: 0px;
  border-top: none !important;
  border-bottom: none !important;
  border-left: 1px solid !important;
  -moz-border-left-colors: #96969D !important;
  border-right: none !important;
  padding: 0 !important;
  list-style-image: url("chrome://global/skin/icons/autocomplete-dropmark-arrow.png") !important;
  -moz-image-region: rect(0px, 16px, 20px, 0px) !important;
}

.autocomplete-history-dropmarker[enablehistory="true"] {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#history-dropmarker")
}

textbox[chromedir="rtl"] .autocomplete-history-dropmarker {
  border-left: none !important;
  border-right: 1px solid !important;
  -moz-border-right-colors: #96969D !important;
}

.autocomplete-history-dropmarker:hover {
  -moz-image-region: rect(0px, 32px, 20px, 16px) !important;
}

.autocomplete-history-dropmarker:active {
  -moz-image-region: rect(0px, 64px, 20px, 48px) !important;
}

.autocomplete-dropmarker-bkgnd-top {
  list-style-image: url("chrome://global/skin/icons/autocomplete-dropmark-bkgnd.png");
  -moz-image-region: rect(0px, 16px, 9px, 0px);
  height: 9px;
}



.autocomplete-dropmarker-bkgnd-mid-top {
  background-image: url("chrome://global/skin/icons/autocomplete-dropmark-bkgnd-mid-top.png");
  background-repeat: repeat;
  -moz-background-clip: padding;
}

.autocomplete-dropmarker-bkgnd-mid-bottom {
  background-image: url("chrome://global/skin/icons/autocomplete-dropmark-bkgnd-mid-bottom.png");
  background-repeat: repeat;
  -moz-background-clip: padding;
  list-style-image: none;
}

.autocomplete-dropmarker-bkgnd-bottom {
  list-style-image: url("chrome://global/skin/icons/autocomplete-dropmark-bkgnd.png");
  -moz-image-region: rect(11px, 16px, 20px, 0px);
  height: 9px;
}

.autocomplete-history-dropmarker:hover .autocomplete-dropmarker-bkgnd-top {
  -moz-image-region: rect(0px, 32px, 9px, 16px);
  height: 9px;
}

.autocomplete-history-dropmarker:hover .autocomplete-dropmarker-bkgnd-mid-top {
  background-position: -16px 0px;
}

.autocomplete-history-dropmarker:hover .autocomplete-dropmarker-bkgnd-mid-bottom {
  background-position: -16px 0px;
}

.autocomplete-history-dropmarker:hover .autocomplete-dropmarker-bkgnd-bottom {
  -moz-image-region: rect(11px, 32px, 20px, 16px);
  height: 9px;
}

.autocomplete-history-dropmarker:hover:active .autocomplete-dropmarker-bkgnd-top {
  -moz-image-region: rect(0px, 64px, 9px, 48px);
  height: 9px;
}

.autocomplete-history-dropmarker:hover:active .autocomplete-dropmarker-bkgnd-mid-top {
  background-position: -48px 0px;
}

.autocomplete-history-dropmarker:hover:active .autocomplete-dropmarker-bkgnd-mid-bottom {
  background-position: -48px 0px;
}

.autocomplete-history-dropmarker:hover:active .autocomplete-dropmarker-bkgnd-bottom {
  -moz-image-region: rect(11px, 64px, 20px, 48px);
  height: 9px;
}



panel[type="autocomplete"],
.autocomplete-history-popup {
  border-width: 1px;
  -moz-border-top-colors: ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDDarkShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow;
  -moz-border-left-colors: ThreeDDarkShadow;
  padding: 0;
  background-color: -moz-Field !important;
}

.autocomplete-history-popup {
  max-height: 180px;
}



.autocomplete-tree {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
}

.autocomplete-treecol {
  -moz-appearance: none !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.autocomplete-treebody::-moz-tree-cell-text {
  -moz-padding-start: 8px;
}

treechildren.autocomplete-treebody::-moz-tree-row(selected) {
 background-color: Highlight;
}

treechildren.autocomplete-treebody::-moz-tree-cell-text(selected) {
  color: HighlightText !important;
}



toolbarpaletteitem > toolbaritem > textbox > hbox > hbox > html|*.textbox-input {
  visibility: hidden;
}

toolbarpaletteitem > toolbaritem > * > textbox > hbox > hbox > html|*.textbox-input {
  visibility: hidden;
}

