








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



groupbox {
  -moz-appearance: groupbox;
  border: 2px groove ThreeDFace;
  -moz-border-radius: 3px;
  margin: 3px;
  padding: 3px 3px 6px 3px;
}

.groupbox-body {
  padding: inherit;
}

caption {
  margin: 0px 6px 0px 6px;
  background-color: -moz-Dialog;
}

tabpanels caption {
  -moz-appearance: tabpanel;
}


.caption-text {
  margin-bottom: 0px !important;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 2px !important;
}
