








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



groupbox {
  margin: 5px;
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 5px;
  padding: 5px;
}

.groupbox-body {
  padding: inherit;
}

caption {
  margin: 0px 6px 2px 6px;
  padding: 0px 3px;
  background-color: -moz-Dialog;
}

tabpanels caption {
  background-color: menu;
}
