









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



menu,
menuitem {
  -moz-appearance: menuitem;
  -moz-box-align: center;
  color: MenuText;
  font: menu;
  list-style-image: none;
  -moz-image-region: auto;
}

menuitem[default="true"] {
  font-weight: bold;
}

menu[disabled="true"],
menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] {
  color: GrayText;
  text-shadow: none;
}

@media all and (-moz-windows-classic) {
  menu[disabled="true"],
  menubar > menu[disabled="true"][_moz-menuactive="true"],
  menuitem[disabled="true"] {
    color: ThreeDShadow;
    text-shadow: 1px 1px ThreeDHighlight;
  }
}

menuitem.spell-suggestion {
  font-weight: bold;
}



.menu-accel,
.menu-iconic-accel,
.menu-text,
.menu-iconic-text {
  margin: 0px !important;
  padding: 1px 0px;
  color: inherit;
}

.menu-text {
  -moz-padding-start: 1.45em !important;
  -moz-appearance: menuitemtext;
}

.menu-text,
.menu-iconic-text {
  font-weight: inherit;
  -moz-margin-start: 2px !important;
  -moz-padding-end: 2px;
}

.menu-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}

.menu-accel,
.menu-iconic-accel {
  color: inherit;
  -moz-margin-start: 0.74em !important;
  -moz-margin-end: 1.35em !important;
}

.menu-iconic-left {
  min-width: 1.45em;
}

.menu-iconic-icon {
  width: 16px;
  height: 16px;
}

menu.menu-iconic > .menu-iconic-left,
menuitem.menuitem-iconic > .menu-iconic-left {
  -moz-appearance: menuimage;
  padding-top: 2px;
}



.menu-right {
  -moz-appearance: menuarrow;
  -moz-margin-end: -2px;
  list-style-image: none;
  min-width: 1.28em;
  padding-top: 1px;
}



menubar > menu {
  border: 2px solid transparent;
}

menubar > menu[_moz-menuactive="true"]:not([disabled="true"]) {
  color: -moz-menubarhovertext;
}

menubar > menu[_moz-menuactive="true"][open="true"] {
  border-width: 3px 1px 1px 3px;
}

menubar > menu:-moz-lwtheme {
  -moz-appearance: none;
  border-style: none;
}

menubar > menu:-moz-lwtheme:not([disabled="true"]) {
  color: inherit !important;
}

menubar > menu:-moz-lwtheme[_moz-menuactive="true"]:not([disabled="true"]) {
  background-color: Highlight;
  color: HighlightText !important;
  text-shadow: none;
}



.menubar-left {
  color: inherit;
}

.menubar-text {
  margin: 1px 6px 2px 6px !important;
  color: inherit;
}



menupopup > menu,
popup > menu,
menupopup > menuitem,
popup > menuitem {
  max-width: 42em;
}

menupopup > menu[_moz-menuactive="true"],
menupopup > menuitem[_moz-menuactive="true"],
popup > menu[_moz-menuactive="true"],
popup > menuitem[_moz-menuactive="true"] {
  background-color: -moz-menuhover;
  color: -moz-menuhovertext;
}



.menulist-menupopup > menuitem,
menulist > menupopup > menuitem,
.menulist-menupopup > menu,
menulist > menupopup > menu {
  -moz-appearance: none;
  border: 1px solid transparent;
  padding-top: 1px;
  -moz-padding-end: 30px;
  padding-bottom: 1px;
  -moz-padding-start: 5px;
  max-width: none;
  font: message-box;
  color: -moz-FieldText;
}

.menulist-menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menuitem > .menu-iconic-left,
.menulist-menupopup > menu > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
  display: none;
  padding-top: 0px;
}

.menulist-menupopup > menuitem > label,
menulist > menupopup > menuitem > label,
.menulist-menupopup > menu > label,
menulist > menupopup > menu > label {
  padding-top: 0px;
  padding-bottom: 0px;
}

menulist > menupopup > menuitem[_moz-menuactive="true"] {
  border: 1px dotted #F5DB95;
  background-color: highlight;
  color: highlighttext;
}

menulist > menupopup > menuitem[_moz-menuactive="true"][disabled="true"] {
  color: GrayText;
}

menulist > menupopup > menuitem[disabled="true"]:not([_moz-menuactive="true"]):-moz-system-metric(windows-classic) {
  color: GrayText;
  text-shadow: none;
}

menulist > menupopup > menuitem > .menu-iconic-text {
  margin: 0 !important;
}



menuitem[type="checkbox"],
menuitem[checked="true"] {
  -moz-appearance: checkmenuitem;
}
menuitem[type="checkbox"] > .menu-iconic-left,
menuitem[checked="true"] > .menu-iconic-left {
  -moz-appearance: menucheckbox;
  padding-top: 0px;
}

menuitem[type="radio"] {
  -moz-appearance: radiomenuitem;
}
menuitem[type="radio"] > .menu-iconic-left {
  -moz-appearance: menuradio;
  padding-top: 0px;
}

menuitem[type="checkbox"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[type="radio"] > .menu-iconic-left > .menu-iconic-icon {
  

  display: none;
}



menuseparator {
  -moz-appearance: menuseparator;
  padding: 3px 1px 4px 1px;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}

menulist > menupopup > menuseparator,
.menulist-menupopup > menuseparator {
  padding: 6px 0 5px 0;
  border-top: 1px solid #000000;
  border-bottom: none;
}



.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}



.treecell-popupcell-menu {
  -moz-margin-start: -2px;
  list-style-image: url("chrome://global/skin/columnselect.gif");
  -moz-image-region: auto;
}
