









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



splitter {
  -moz-box-align: center;
  -moz-box-pack: center;
  cursor: ew-resize;
  border-width: 0 2px;
  border-style: solid;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDFace;
  min-width: 6px;
  background-color: ThreeDFace;
}



splitter[orient="vertical"] {
  cursor: ns-resize;
  border-width: 2px 0;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDFace;
  min-height: 6px;
}



grippy {
  cursor: pointer;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
  min-width: 4px;
  min-height: 115px;
  background-color: transparent;
  background-repeat: no-repeat;
}

grippy:hover {
  background-color: ThreeDHighlight;
}

splitter[orient="vertical"] > grippy {
  border-top: none;
  border-right: 1px solid ThreeDShadow;
  border-bottom: none;
  border-left: 1px solid ThreeDShadow;;
  min-width: 115px;
  min-height: 4px;
}
  



splitter[collapse="before"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-before.gif");
}

splitter[collapse="after"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-after.gif");
}


splitter[collapse="before"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-before.gif");
}  

splitter[collapse="after"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-after.gif");
}  
  



splitter[collapse="before"][state="collapsed"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-after.gif");
}

splitter[collapse="after"][state="collapsed"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-before.gif");
}


splitter[collapse="before"][state="collapsed"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-after.gif");
}  

splitter[collapse="after"][state="collapsed"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-before.gif");
}  

