









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



.tabs-left,
.tabs-right {
  border-bottom: 2px solid;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
}



tabpanels {
  -moz-appearance: tabpanels; 
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  padding: 8px;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}



tab 
{
  -moz-appearance: tab;
  margin-top: 2px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom: 1px solid ThreeDHighlight;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 1px;
  padding: 1px 4px 2px 4px;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

tab[chromedir="rtl"] {
  -moz-border-radius-bottomleft: 1px;
  -moz-border-radius-bottomright: 0px;
}

.tab-text {
  margin: 0 !important;
}

tab[selected="true"] {
  -moz-user-focus: normal;
  margin-top: 0;
  border-bottom-color: transparent;
  padding: 1px 6px 4px 6px;
}

tab:focus > .tab-middle {
  
  outline: 1px dotted;
}

tab[beforeselected="true"],
tab[afterselected="true"][chromedir="rtl"] {
  -moz-appearance: tab-left-edge;
  border-right: none;
  -moz-border-radius-topright: 0;
}

tab[afterselected="true"],
tab[beforeselected="true"][chromedir="rtl"] {
  -moz-appearance: tab-right-edge;
  border-left: none;
  -moz-border-radius-topleft: 0;
}

tab[first-tab="true"][selected="true"] {
  padding-right: 5px;
  padding-left: 5px;
}






.tab-bottom {
  margin-top: 0;
  margin-bottom: 2px;
  border-top: 1px solid;
  border-bottom: 2px solid;
  -moz-border-top-colors: ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow ThreeDLightShadow;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  padding: 2px 4px 1px 4px;
}

.tab-bottom[selected="true"] {
  margin-bottom: 0;
  -moz-border-top-colors: -moz-Dialog;
  padding: 4px 6px 1px 6px;
}

.tab-bottom[beforeselected="true"],
.tab-bottom[afterselected="true"][chromedir="rtl"] {
  -moz-border-radius-bottomright: 0;
}

.tab-bottom[afterselected="true"],
.tab-bottom[beforeselected="true"][chromedir="rtl"] {
  -moz-border-radius-bottomleft: 0;
}



.tabs-bottom > .tabs-left,
.tabs-bottom > .tabs-right {
  border-top: 1px solid ThreeDShadow;
  border-bottom: none;
}

  