









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



toolbarbutton {
  -moz-appearance: toolbarbutton;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  border: 1px solid transparent;
  padding: 3px;
  background-color: transparent;
  color: -moz-DialogText;
}

.toolbarbutton-icon {
  -moz-margin-end: 5px;
}

.toolbarbutton-text {
  margin: 0 !important;
  text-align: center;
}

toolbarbutton.tabbable {
  -moz-user-focus: normal !important;
}

toolbarbutton:focus 
{
  

  -moz-appearance: toolbarbutton;
  outline: 1px dotted -moz-DialogText;
  -moz-outline-offset: -2px;
}

toolbarbutton:hover,
toolbarbutton[buttonover="true"] {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}

toolbarbutton:hover:active,
toolbarbutton[open="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
  padding-top: 4px;
  padding-bottom: 2px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

toolbarbutton[disabled="true"],
toolbarbutton[disabled="true"]:hover,
toolbarbutton[disabled="true"]:hover:active,
toolbarbutton[disabled="true"][open="true"] {
  border-color: transparent;
  padding: 3px;
  color: GrayText !important;
}



toolbarbutton[checked="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow !important;
  padding-top: 4px !important;
  padding-bottom: 2px !important;
  -moz-padding-start: 4px !important;
  -moz-padding-end: 2px !important;
  background-image: url("chrome://global/skin/toolbar/Lighten.png");
  color: ButtonText;
}



.toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0;
  width: auto;
}

.toolbarbutton-menu-dropmarker[disabled="true"] {
  padding: 0 !important;
}



toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  -moz-box-orient: horizontal !important;
}

toolbarbutton[type="menu-button"],
toolbarbutton[type="menu-button"]:hover,
toolbarbutton[type="menu-button"]:hover:active,
toolbarbutton[type="menu-button"][open="true"],
toolbarbutton[type="menu-button"][disabled="true"],
toolbarbutton[type="menu-button"][disabled="true"]:hover,
toolbarbutton[type="menu-button"][disabled="true"]:hover:active {
  border-style: none;
  padding: 0 !important;
}

.toolbarbutton-menubutton-button {
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
}



.toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none !important;
  padding: 3px;
  border: none !important;
  background-color: transparent !important;
  width: auto;
}

.toolbarbutton-menubutton-dropmarker[disabled="true"] {
  padding: 3px !important;
}
