%include tree.css



treechildren::-moz-tree-indentation {
  width: 12px;
}

treechildren::-moz-tree-twisty {
  -moz-padding-end: 1px;
  width: 9px;
}










treechildren::-moz-tree-twisty(hover) {
  list-style-image: url("chrome://global/skin/tree/twisty-clsd-hover.png");
}

treechildren::-moz-tree-twisty(hover, open) {
  list-style-image: url("chrome://global/skin/tree/twisty-open-hover.png");
}

tree:-moz-locale-dir(rtl) > treechildren::-moz-tree-twisty {
  list-style-image: url("chrome://global/skin/tree/twisty-clsd-rtl.png");
}

tree:-moz-locale-dir(rtl) > treechildren::-moz-tree-twisty(open) {
  list-style-image: url("chrome://global/skin/tree/twisty-open-rtl.png");
}

tree:-moz-locale-dir(rtl) > treechildren::-moz-tree-twisty(hover) {
  list-style-image: url("chrome://global/skin/tree/twisty-clsd-hover-rtl.png");
}

tree:-moz-locale-dir(rtl) > treechildren::-moz-tree-twisty(hover, open) {
  list-style-image: url("chrome://global/skin/tree/twisty-open-hover-rtl.png");
}
