




































#aboutLogoContainer {
  width: 300px;
}

#version {
  font-weight: bold;
  color: #909090;
  margin: -24px 20px 0 118px;
}

#aboutLinks {
  background-color: white;
  padding: 5px;
  border: 2px solid #e6e5e3;
  font-size: 8pt;
}

#aboutLinks > li {
  clear: both;
  border-bottom: 2px solid #e6e5e3;
  list-style: none;
  -moz-padding-end: 2mm;
}

#aboutLinks > li:last-child {
  border-bottom: 0;
}

#aboutLinks > li > a {
  padding: 2mm;
  display: block;
  color: #3a3834;
  background: url("images/arrowright-16.png") right center no-repeat;
}

#aboutDetails {
  margin-top: 15px;
  font-size: x-small;
}
