





































@media all and (min-device-width: 401px) {
	

#tool-app-close {
  visibility: hidden;
  min-height: 0 !important;
  min-width: 0 !important;
  margin-top: -40px; 
  list-style-image: url("chrome://browser/skin/images/fullscreen-close-40.png");
}

#toolbar-main[fullscreen="true"] #tool-app-close {
  visibility: visible;
}

#toolbar-main[dialog="true"] #tool-app-close {
  visibility: visible;
  list-style-image: url("chrome://browser/skin/images/fullscreen-up-40.png");
}


#tool-go {
  list-style-image: url("chrome://browser/skin/images/go-30.png");
}

#tool-reload {
  list-style-image: url("chrome://browser/skin/images/reload-30.png");
}

#tool-stop {
  list-style-image: url("chrome://browser/skin/images/stop-30.png");
}




#identity-box {
  min-height: 64px;
  min-width: 64px;
  background: url("images/leftcap-default-64.png") top left no-repeat;
  -moz-box-align: center;
  -moz-box-pack: center;
}

#identity-box:hover:active,
#identity-box[open] {
  background: url("images/leftcap-active-64.png");
}


#identity-box[mode="verifiedIdentity"] {
  background: url("images/leftcapEV-default-64.png");
}

#identity-box[mode="verifiedIdentity"]:hover:active,
#identity-box[mode="verifiedIdentity"][open] {
  background: url("images/leftcapEV-active-64.png");
}


#identity-box[mode="verifiedDomain"] {
  background: url("images/leftcapSSL-default-64.png");
}

#identity-box[mode="verifiedDomain"]:hover:active,
#identity-box[mode="verifiedDomain"][open] {
  background: url("images/leftcapSSL-active-64.png");
}

.search-engine-button .button-icon {
  width: 16px;
  height: 16px;
}

#urlbar-throbber[loading] {
  list-style-image: url("chrome://browser/skin/images/throbber.png");
}

#urlbar-favicon {
  width: 30px;
  height: 30px;
}

#urlbar-editarea {
  min-height: 64px;
  -moz-box-align: center;
  padding: 0;
  border-top: 1px solid #262629; 
  border-bottom: 3px solid #262629; 
  background: #fff;
}


#urlbar-icons {
  min-height: 64px;
  min-width: 64px;
  background: url("images/rightcap-default-64.png") top right no-repeat;
  -moz-box-pack: center;
}

#urlbar-icons:hover:active {
  background: url("images/rightcap-active-64.png");
}


#tool-star {
  list-style-image: url("chrome://browser/skin/images/bookmark-default-64.png");
}

#tool-star:hover:active {
  list-style-image: url("chrome://browser/skin/images/bookmark-active-64.png");
}

#tool-star[starred="true"] {
  list-style-image: url("chrome://browser/skin/images/bookmarked-default-64.png");
}

#tool-star[starred="true"]:hover:active {
  list-style-image: url("chrome://browser/skin/images/bookmarked-active-64.png");
}

#tool-back {
  list-style-image: url("chrome://browser/skin/images/back-default-64.png");
}

#tool-back:hover:active {
  list-style-image: url("chrome://browser/skin/images/back-active-64.png");
}

#tool-back[disabled="true"],
#tool-back[disabled="true"]:hover:active {
  list-style-image: url("chrome://browser/skin/images/back-disabled-64.png");
}

#tool-forward {
  list-style-image: url("chrome://browser/skin/images/forward-default-64.png");
}

#tool-forward:hover:active {
  list-style-image: url("chrome://browser/skin/images/forward-active-64.png");
}

#tool-forward[disabled="true"],
#tool-forward[disabled="true"]:hover:active {
  list-style-image: url("chrome://browser/skin/images/forward-disabled-64.png");
}


#tool-panel-open {
  list-style-image: url("chrome://browser/skin/images/settings-default-64.png");
  margin-right: -40px; 
}


#tool-panel-close {
  list-style-image: url("chrome://browser/skin/images/settings-active-64.png");
  margin-left: -40px; 
}


#tool-addons {
  list-style-image: url("chrome://browser/skin/images/addons-default-64.png");
}

#tool-addons:hover:active,
#tool-addons[checked="true"] {
  list-style-image: url("chrome://browser/skin/images/addons-active-64.png");
}

#tool-downloads {
  list-style-image: url("chrome://browser/skin/images/downloads-default-64.png");
}

#tool-downloads:hover:active,
#tool-downloads[checked="true"] {
  list-style-image: url("chrome://browser/skin/images/downloads-active-64.png");
}

#tool-preferences {
  list-style-image: url("chrome://browser/skin/images/preferences-default-64.png");
}

#tool-preferences:hover:active,
#tool-preferences[checked="true"] {
  list-style-image: url("chrome://browser/skin/images/preferences-active-64.png");
}

#tool-console {
  list-style-image: url("chrome://browser/skin/images/console-default-64.png");
}

#tool-console:hover:active,
#tool-console[checked="true"] {
  list-style-image: url("chrome://browser/skin/images/console-active-64.png");
}


#tool-bookmarks-close,
#tool-folders-close {
  min-height: 0 !important;
  min-width: 0 !important;
  margin-top: -40px; 
  list-style-image: url("chrome://browser/skin/images/fullscreen-up-40.png");
}


.bookmark-folder-image {
  list-style-image: url("chrome://browser/skin/images/folder-30.png");
}

.close-button {
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  list-style-image: url("chrome://browser/skin/images/close-30.png");
}

.tool-search {
  list-style-image: url("chrome://browser/skin/images/navigation-magnifier-30.png");
}

autocompleteresult.allbookmarks > .autocomplete-item-image {
  max-width: 44px;
  max-height: 30px;
  list-style-image: url(images/bookmarks-30.png);
}

.documenttab-close {
  width: 28px;
  height: 30px;
  list-style-image: url("chrome://browser/skin/images/close-30.png");
}

#newtab-button {
  list-style-image: url("images/newtab-default-64.png");
}

#newtab-button:hover:active {
  list-style-image: url("images/newtab-active-64.png");
}


findbar .findbar-closebutton {
  list-style-image: url("chrome://browser/skin/images/close-30.png");
}


#identity-popup-icon {
  padding: 0;
  list-style-image: url("chrome://browser/skin/images/identity-64.png");
}

#identity-container[mode="verifiedDomain"] > #identity-popup-icon {
  list-style-image: url("chrome://browser/skin/images/identitySSL-64.png");
}

#identity-container[mode="verifiedIdentity"] > #identity-popup-icon {
  list-style-image: url("chrome://browser/skin/images/identityEV-64.png");
}

#identity-popup-encryption-icon {
  list-style-image: url("chrome://browser/skin/images/unlock-40.png");
}

#identity-container[mode="verifiedIdentity"] > vbox > #identity-popup-encryption-icon ,
#identity-container[mode="verifiedDomain"] > vbox > #identity-popup-encryption-icon {
  list-style-image: url("chrome://browser/skin/images/lock-40.png");
}


.prefbox {
  -moz-box-align: center;
  -moz-box-orient: horizontal;
}


.addon-rating[rating] {
  width: 78px;
  height: 18px;
  list-style-image: url("chrome://browser/skin/images/ratings-18.png");
}

.addon-rating[rating="0"] {
  -moz-image-region: rect(0px 78px 18px 0px);
}

.addon-rating[rating="1"] {
  -moz-image-region: rect(18px 78px 36px 0px);
}

.addon-rating[rating="2"] {
  -moz-image-region: rect(36px 78px 54px 0px);
}

.addon-rating[rating="3"] {
  -moz-image-region: rect(54px 78px 72px 0px);
}

.addon-rating[rating="4"] {
  -moz-image-region: rect(72px 78px 90px 0px);
}

.addon-rating[rating="5"] {
  -moz-image-region: rect(90px 78px 108px 0px);
}


#select-list > option[selected="true"] > image {
  list-style-image: url("chrome://browser/skin/images/check-30.png");
}

}
