





































@import url("chrome://browser/skin/browser-high.css");
@import url("chrome://browser/skin/browser-low.css");


#tile-container {
  background-image: url("chrome://browser/content/checkerboard.png");
}


#toolbar-main {
  -moz-appearance: none;
  -moz-box-align: center;
  padding: 1.1mm; 
  border: none;
}

#toolbar-moveable-container {
  display: block;
}

#toolbar-moveable-container[top="0"] {
  position: fixed;
  left: 0;
  z-index: 1000;
}


toolbarbutton.urlbar-button {
  
  margin-left: 1.1mm; 
}


toolbarbutton.urlbar-cap-button {
  margin: 0;
  padding: 0;
  min-width: 0 !important;
  min-height: 0 !important;
  -moz-box-flex: 1;
}

#urlbar-icons[mode="loading"] > #tool-go,
#urlbar-icons[mode="loading"] > #tool-reload {
  visibility: collapse;
}

#urlbar-icons[mode="view"] > #tool-go,
#urlbar-icons[mode="view"] > #tool-stop {
  visibility: collapse;
}

#urlbar-icons[mode="edit"] > #tool-reload,
#urlbar-icons[mode="edit"] > #tool-stop {
  visibility: collapse;
}


#urlbar-container {
  color: #000;
  -moz-box-align: center;
}

#urlbar-edit {
  -moz-appearance: none !important;
  padding: 0px !important;
  border: none !important;
  color: #000;
  background-color: #fff;
}


#browser-controls {
  -moz-box-align: start;
  padding: 0 1.1mm; 
  border-left: 3px solid #262629; 
}

toolbarbutton.browser-control-button,
toolbarbutton.panel-button,
toolbarbutton.page-button {
  
  margin-bottom: 1.1mm; 
}


@media (orientation: landscape) {
  #panel-container {
    -moz-box-orient: horizontal;
  }
  
  #panel-controls {
    -moz-box-orient: vertical;
    -moz-box-ordinal-group: 1;
    -moz-box-pack: end;
  }
  
  #tool-panel-close {
    -moz-box-ordinal-group: 1000;
  }
}

@media (orientation: portrait) {
  #panel-container {
    -moz-box-orient: vertical;
  }
  
  #panel-controls {
    -moz-box-orient: horizontal;
    -moz-box-ordinal-group: 1000;
    -moz-box-pack: start;
    padding-top: 1.1mm; 
  }
  
  #tool-panel-close {
    -moz-box-ordinal-group: 1;
  }
}

#panel-controls {
  
  padding-left: 1.1mm; 
  padding-right: 1.1mm; 
  -moz-box-align: end;
}

.panel-header {
  padding: 1.1mm; 
}


@media (orientation: landscape) {
  #addons-repo {
    -moz-box-orient: horizontal;
    -moz-box-align: center;
  }
}

@media (orientation: portrait) {
  #addons-repo {
    -moz-box-orient: vertical;
    -moz-box-pack: center;
  }

  
  #addons-list > richlistitem .buttons-box {
    display: block;
  }
}

richlistitem[isDisabled="true"] .title {
  color : gray;
}

richlistitem[isDisabled="true"] .normal {
  color : lightgray;
}

richlistitem[isDisabled="true"] image {
  opacity: 0.25;
}


.download-retry-failed {
  color: red !important;
}


#dl-empty-message {
  margin-top: 12mm; 
  font-style: italic;
  border-bottom: none;
}

#dl-empty-message:active {
  background-color: white;
}

#dl-empty-message > label {
  text-align: center;
  color: grey;
}


@media (orientation: landscape) {
  #console-filter-warnings,
  #console-filter-messages {
    visibility: visible;
  }
}

@media (orientation: portrait) {
  #console-filter-warnings,
  #console-filter-messages {
    visibility: collapse;
  }
}


#bookmarklist-container {
  padding: 0;
}

#bookmarklist-header {
  -moz-box-align: center;
  padding: 1.1mm; 
}

#bookmark-items {
  -moz-appearance: none !important;
  padding: 0;
}


.place-list-parents placelabel {
  visibility: collapse;
}

.place-list-parents placelabel:last-child:not(:only-child) {
  visibility: visible;
}


placelabel {
  -moz-box-align: center;
  padding-right: 6mm;
  background: rgb(207,207,207) url(images/arrowup-16.png) no-repeat 98% 50%;
  color: #000;
  min-height: 7.2mm; 
}


placeitem[type="folder"] {
  -moz-box-pack: center;
  padding-right: 4mm;
  background: url("images/arrowright-16.png") no-repeat 98% 50%;
}

placelist[ui="manage"] placeitem[type="folder"] {
  background-image: none;
}

placeitem[type="folder"] .bookmark-item-url {
  display: none;
}


placeitem > .bookmark-manage .button-text {
  font-size: 9pt !important;
}


placeitem > .bookmark-manage .bookmark-controls {
  padding-top: 0.55mm;
}


placeitem[ui="manage"] {
  border-bottom: 0;
}

placeitem[ui="manage"] > .bookmark-manage > image {
  visibility: collapse;
}

.searchengine {
  -moz-box-orient: horizontal;
  min-width: 7.2mm;
}

#autocomplete_navbuttons {
  padding: 0.5mm 0; 
  min-height: 7.2mm; 
  -moz-user-focus: ignore;
}


#autocomplete_navbuttons .autorepeatbutton-down {
  list-style-image: url(images/arrowrightdark-16.png);
}

#autocomplete_navbuttons .autorepeatbutton-up {
  list-style-image: url(images/arrowleftdark-16.png);
}


#autocomplete_navbuttons autorepeatbutton[collapsed="true"],
#autocomplete_navbuttons autorepeatbutton[disabled="true"] {
  visibility: hidden;
}

.autocomplete-items {
  background-color: white;
}

autocompleteresult,
placeitem {
  color: black;
  background-color: white;
  padding: 1.25mm 0.5mm;
  border-bottom: 0.05mm solid rgb(207,207,207);
  min-height: 9.2mm; 
}

autocompleteresult:active,
placelist placeitem:active:not([selected="true"]),
.autocompleteresult-selected {
  background-color: #8db8d8;
}

.autocomplete-item-label,
.bookmark-item-label {
  margin: 0;
  padding: 0;
  font-size: 9pt !important;
  font-weight: normal;
  margin-right: 2mm;
}

.autocomplete-item-label > image,
.bookmark-item-label > image {
  margin: 0mm 2.5mm 0mm 2mm;
}

.autocomplete-item-label > label,
.bookmark-item-label > label {
  -moz-margin-start: 1px;
}

.autocomplete-item-label[favorite="true"] {
  padding-right: 30px;
  background: url(images/star-24.png) no-repeat 100%;
}

.autocomplete-item-label:not([tags=""]):after,
.bookmark-item-label:not([tags=""]):after {
  float: right;
  content: attr(tags);
  font-size: 8pt !important;
  font-weight: lighter;
  padding-top: 1.1mm; 
  margin-left: 2mm;
}

.autocomplete-item-url,
.bookmark-item-url {
  margin: 0;
  padding: 0;
  color: blue;
  font-size: 8pt !important;
  margin-right: 2mm;
  margin-left: inherit;
  padding-left: 4.5mm; 
}


autocompleteresult.noresults {
  font-style: italic;
  border-bottom: none;
}

autocompleteresult.noresults:active {
  background-color: white;
}

autocompleteresult.noresults > .autocomplete-item-label {
  text-align: center;
  color: grey;
}

autocompleteresult.allbookmarks {
  -moz-box-pack: center;
  background: #E9E9E9 url("images/arrowright-16.png") no-repeat 98% 50%;
}

autocompleteresult.allbookmarks:active,
autocompleteresult.allbookmarks.autocompleteresult-selected {
  background-color: #8db8d8;
}

autocompleteresult.allbookmarks > .autocomplete-item-label {
  font-size: 9pt !important;
  margin: 0 1.5mm;
}

autocompleteresult.allbookmarks > .autocomplete-item-url {
  display: none;
}


#tabs-container {
  -moz-padding-start: 0.6mm; 
  -moz-padding-end: 1.1mm; 
  padding-bottom: 1.1mm; 
  border-right: 3px solid #262629; 
}

#tabs {
   display: block;
  -moz-column-width: 128px;
  -moz-column-gap: 0;
  -moz-user-focus: ignore;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#tabs-controls {
  margin-top: 1.1mm; 
  -moz-box-pack: start;
}

box[type="documenttab"] .documenttab-canvas {
  background-color: white;
}

box[type="documenttab"]:only-child .documenttab-close {
  display: none;
}


#bookmark-container {
  padding: 1.1mm; 
  background-image: url("chrome://browser/skin/images/panel-shadow.png");
  background-repeat: repeat-x;
  -moz-box-shadow: black 0 0.25mm 0.25mm;
}

#bookmark-form {
  padding: 1.1mm; 
}

#bookmark-form .bookmark-controls {
  display: none;
}


#identity-container {
  background-image: url("chrome://browser/skin/images/panel-shadow.png");
  background-repeat: repeat-x;
  -moz-box-shadow: black 0 0.25mm 0.25mm;
}

#identity-popup-container {
  padding: 1.1mm; 
}


#identity-popup-content-box {
  -moz-padding-start: 1.1mm; 
}


#identity-popup-runBy-box {
  display: block;
}

#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-connectedToLabel,
#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-runByLabel,
#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-content-host,
#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-content-owner,
#identity-popup-content-box.verifiedIdentity > hbox > #identity-popup-connectedToLabel2,
#identity-popup-content-box.verifiedDomain > hbox > #identity-popup-connectedToLabel2 {
  display: none;
}

#identity-popup-content-box > hbox > description,
#identity-popup-content-box > hbox > label {
  font-size: 9pt !important;
  white-space: pre-wrap;
}

#identity-popup-encryption-label,
#identity-popup-content-verifier {
  font-size: 8pt !important;
}

#identity-popup-content-host,
#identity-popup-content-owner {
  font-weight: bold;
}


#search-container {
  border: 0.2mm solid transparent;
  -moz-border-top-colors: #212429 #52555a;
  padding: 1.1mm; 
  margin-top: 1.1mm; 
}

#search-engine-label-add {
  font-size: 80%;
}

#search-buttons,
.search-engine-button {
  -moz-user-focus: ignore;
}


.settings-title {
  font-weight: bold;
  color: black;
  background-color: lightgray;
  margin: 0;
  padding: 0.25mm;
}


.prefbox {
  padding: 0.25mm 1.1mm;
  border-bottom: 0.05mm solid rgb(207,207,207);
  min-height: 7.2mm; 
}

.options-box setting:last-child .prefbox {
  border-bottom: 0;
}


.preftitle {
  font-size: 9pt !important;
}


.prefdesc {
  font-size: 8pt !important;
  color: grey;
  background-color: white;
}



@media (orientation: landscape) {
  #alerts-container {
    width: 300px;
  }
}

@media (orientation: portrait) {
  #alerts-container {
    width: 200px;
  }
}

#alerts-text {
  font-size: 8pt !important;
  white-space: pre-wrap;
}


#helperapp-target {
  font-size: 8pt !important;
}


#form-helper-container > #select-container > #select-container-inner {
  -moz-border-radius-topleft: 1mm;
  -moz-border-radius-topright: 1mm;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  padding: 0.75mm 0.25mm 0.75mm 0.25mm;
  border-bottom: 0;
}

#form-helper-container > #select-container > #select-container-inner,
#form-buttons {
  border: 0.25mm solid gray;
  border-bottom: 0;
}

#form-buttons,
#select-buttons {
  padding: 0.25mm 0.5mm; 
}

#form-buttons > button,
#select-buttons > button {
  -moz-user-focus: ignore;
  -moz-user-select: none;
}

#form-helper-container #select-buttons {
  display: none;
}

#select-container:not([hidden=true]) + #form-buttons {
  border-top: 0;
}


#stack > #select-container {
  padding: 1.5mm;
}

#select-list {
  border: 0.1mm solid gray;
}

#select-list > option {
  color: #000;
  background-color: #fff;
  padding: 5px;
  border-bottom: 1px solid rgb(207,207,207);
  min-height: 7.2mm; 
  -moz-box-align: center;
}

#select-list > option[selected="true"] {
  background-color: #8db8d8;
}

#select-list > option.optgroup {
  font-weight: bold;
  font-style: italic;
}

#select-list > option.optgroup > image {
  display: none;
}

#select-list > option.in-optgroup {
  -moz-padding-start: 4.4mm;
}

#select-list > option > image {
  min-width: 30px;
}

.modal-block {
  -moz-box-align: center;
  -moz-box-pack: center;
  background-color: rgba(128, 128, 128, 0.5);
}
