





































@import url("chrome://browser/skin/browser-high.css");
@import url("chrome://browser/skin/browser-low.css");


#tile-container {
  background-image: url("chrome://browser/content/checkerboard.png");
}


#toolbar-main {
  -moz-appearance: none;
  -moz-box-align: center;
  padding: 1.1mm; 
  border: none;
}

#toolbar-moveable-container {
  display: block;
}

#toolbar-moveable-container[top="0"] {
  position: fixed;
  left: 0;
  z-index: 1000;
}


toolbarbutton.urlbar-button {
  
  margin-left: 1.1mm; 
}


toolbarbutton.urlbar-cap-button {
  margin: 0;
  padding: 0;
  min-width: 0 !important;
  min-height: 0 !important;
}

#urlbar-icons[mode="loading"] > #tool-go,
#urlbar-icons[mode="loading"] > #tool-reload {
  visibility: collapse;
}

#urlbar-icons[mode="view"] > #tool-go,
#urlbar-icons[mode="view"] > #tool-stop {
  visibility: collapse;
}

#urlbar-icons[mode="edit"] > #tool-reload,
#urlbar-icons[mode="edit"] > #tool-stop {
  visibility: collapse;
}


#urlbar-container {
  color: #000;
  -moz-box-align: center;
}

#urlbar-edit {
  -moz-appearance: none !important;
  padding: 0px !important;
  border: none !important;
  color: #000;
  background-color: #fff;
}


#browser-controls {
  -moz-box-align: start;
  padding: 0 1.1mm; 
  border-left: 3px solid #262629; 
}

toolbarbutton.browser-control-button,
toolbarbutton.panel-button,
toolbarbutton.page-button {
  
  margin-bottom: 1.1mm; 
}


@media (orientation: landscape) {
  #panel-container {
    -moz-box-orient: horizontal;
  }
  
  #panel-controls {
    -moz-box-orient: vertical;
    -moz-box-ordinal-group: 1;
    -moz-box-pack: end;
  }
  
  #tool-panel-close {
    -moz-box-ordinal-group: 1000;
  }
}

@media (orientation: portrait) {
  #panel-container {
    -moz-box-orient: vertical;
  }
  
  #panel-controls {
    -moz-box-orient: horizontal;
    -moz-box-ordinal-group: 1000;
    -moz-box-pack: start;
    padding-top: 1.1mm; 
  }
  
  #tool-panel-close {
    -moz-box-ordinal-group: 1;
  }
}

#panel-controls {
  
  padding-left: 1.1mm; 
  padding-right: 1.1mm; 
  -moz-box-align: end;
}

.panel-header {
  padding: 1.1mm; 
}


@media (orientation: landscape) {
  #downloads-subheader {
    -moz-box-orient: horizontal;
    -moz-box-align: center;
  }
}

@media (orientation: portrait) {
  #downloads-subheader {
    -moz-box-orient: vertical;
    -moz-box-pack: center;
  }
}


@media (orientation: landscape) {
  #addons-repo {
    -moz-box-orient: horizontal;
    -moz-box-align: center;
  }
}

@media (orientation: portrait) {
  #addons-repo {
    -moz-box-orient: vertical;
    -moz-box-pack: center;
  }

  
  #addons-list > richlistitem .buttons-box {
    display: block;
  }
}


@media (orientation: landscape) {
  #console-filter-warnings,
  #console-filter-messages {
    visibility: visible;
  }
}

@media (orientation: portrait) {
  #console-filter-warnings,
  #console-filter-messages {
    visibility: collapse;
  }
}


#bookmarklist-container {
  padding: 0;
}

#bookmarklist-header, #folder-header {
  color: rgb(255,255,255);
  -moz-box-align: center;
  padding: 1.1mm; 
}

#folder-header {
  height: 10.7mm; 
}

#bookmark-items, #folder-items {
  -moz-appearance: none !important;
  background-color: rgb(255,255,255);
  padding: 0;
}

.place-list-parents {
  background-color: rgb(207,207,207);
  padding: 0.25mm;
}

.place-list-children {
  -moz-appearance: none;
  border: none !important;
  padding: 0;
}

.bookmark-folder, .bookmark-item {
  padding: 0.25mm 0.1mm;
  border-bottom: 0.05mm solid rgb(207,207,207);
  min-height: 7.2mm; 
  -moz-box-align: center;
}

.bookmark-folder textbox[readonly="true"], .bookmark-item textbox[readonly="true"] {
  -moz-appearance: none !important;
  background-color: transparent;
  border: none !important;
  -moz-user-select: none !important;
}

placelabel.bookmark-folder {
  border-bottom: 0.05mm solid rgb(255,255,255);
}

.bookmark-item-image, .bookmark-folder-image {
  width: 24px;
  height: 24px;
}


.bookmark-manage-controls, .bookmark-folder-new {
  visibility: collapse;
}

placelist[ui="manage"] .bookmark-manage-controls,
placelist[ui="manage"] .bookmark-folder-new,
placeitem[ui="manage"] .bookmark-manage-controls {
  visibility: visible;
}

placeitem[ui="manage"] .bookmark-item-image {
  visibility: collapse;
}


placelabel {
  min-height: 7.2mm; 
  -moz-box-align: center;
}


placeitem .button-text {
  font-size: 9pt !important;
}

.searchengine {
  -moz-box-orient: horizontal;
}

#autocomplete_navbuttons {
  padding: 1.1mm; 
  min-height: 7.2mm; 
}

#autocomplete_navbuttons autorepeatbutton {
  display: none;
}

.autocomplete-items {
  background-color: white;
}

autocompleteresult {
  padding: 0.25mm 0.1mm;
  border-bottom: 0.05mm solid rgb(207,207,207);
  min-height: 9.2mm; 
}

.autocompleteresult-selected {
  color: white;
  background-color: grey !important;
}

.autocomplete-item-desc {
  color: blue;
  white-space: pre;
  font-size: 8pt !important;
}

.autocomplete-item-desc:first-line {
  color: black;
  font-size: 9pt !important;
}

.autocomplete-item-tags {
  color: black;
  font-size: 8pt !important;
  font-weight: lighter;
}

.autocomplete-item-tags[favorite=true]:after {
  float: right;
  position: relative;
  top: -6pt;
  content: url(images/star-24.png);
  margin: 0mm 2mm 0mm 1.5mm;
}

.autocomplete-item-image {
  max-height: 16px;
  max-width: 16px;
  margin: 1.6mm 1.5mm 0mm 2mm;
}


autocompleteresult.noresults > .autocomplete-item-desc {
  text-align: center;
}

autocompleteresult.noresults > .autocomplete-item-desc:first-line {
  color: grey;
}

autocompleteresult.noresults > .autocomplete-item-image,
autocompleteresult.noresults > .autocomplete-item-tags {
  visibility: hidden;
}

autocompleteresult.noresults {
  font-style: italic;
  border-bottom: none;
}

autocompleteresult.allbookmarks {
  color: black;
  background-color: #E9E9E9;
}

autocompleteresult.allbookmarks > .autocomplete-item-desc {
  color: black;
  font-size: 9pt !important;
}

autocompleteresult.allbookmarks > .autocomplete-item-image {
  margin: 0 1.5mm;
}

autocompleteresult.allbookmarks > .autocomplete-item-tags:after {
  
  content: url(images/arrowright-16.png);
  -moz-margin-end: 1.1mm;
}


#tabs-container {
  -moz-padding-start: 0.6mm; 
  -moz-padding-end: 1.1mm; 
  padding-bottom: 1.1mm; 
  border-right: 3px solid #262629; 
}

#tabs {
  -moz-appearance: none;
  -moz-user-focus: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#tabs-controls {
  margin-top: 1.1mm; 
  -moz-box-pack: start;
}

richlistitem[type="documenttab"] {
  -moz-appearance: none;
  padding: 0;
  border: none;
}

richlistitem[type="documenttab"] .documenttab-canvas {
  
  border: 1.0mm solid transparent;
}

richlistitem[type="documenttab"][selected="true"] {
  background-color: transparent;
}

richlistitem[type="documenttab"][selected="true"] .documenttab-canvas {
  border: 1.0mm solid #262629;
  -moz-border-radius: 4px;
}

vbox:first-child > richlistitem[type="documenttab"]:only-child .documenttab-close {
  display: none;
}


findbar {
  background: rgba(128, 128, 128, 0.75);
}


#bookmark-container {
  padding: 1.1mm; 
}

#bookmark-form {
  background-color: #fff;
  padding: 1.1mm; 
}


#identity-container {
  border-bottom: 0.1mm solid grey;
}

#identity-popup-container {
  padding: 1.1mm; 
}


#identity-popup-content-box {
  -moz-padding-start: 1.1mm; 
}

#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-connectedToLabel,
#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-runByLabel,
#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-content-host,
#identity-popup-content-box.unknownIdentity > hbox > #identity-popup-content-owner,
#identity-popup-content-box.verifiedIdentity > hbox > #identity-popup-connectedToLabel2,
#identity-popup-content-box.verifiedDomain > hbox > #identity-popup-connectedToLabel2 {
  display: none;
}

#identity-popup-content-box > hbox > description,
#identity-popup-content-box > hbox > label {
  font-size: 9pt !important;
  white-space: pre-wrap;
}

#identity-popup-encryption-label,
#identity-popup-content-verifier {
  font-size: 8pt !important;
}

#identity-popup-content-host,
#identity-popup-content-owner {
  font-weight: bold;
}


#search-container {
  border-top: 0.1mm solid rgb(207,207,207);
  padding: 1.1mm; 
  margin-top: 1mm;
}

#search-engine-label-add {
  font-size: 80%;
}



richpref {
  background-color: white;
  color: black;
}


.prefsection {
  font-weight: bold;
  color: #000;
  background-color: lightgray;
  padding: 0.25mm;
}


.prefbox {
  padding: 0.25mm 1.1mm;
  border-bottom: 0.05mm solid rgb(207,207,207);
  min-height: 7.2mm; 
}


.preftitle {
  font-size: 9pt !important;
}


.prefdesc {
  font-size: 8pt !important;
  color: grey;
  background-color: white;
}


#bookmark-popup,
#newtab-popup,
#alerts-container {
  color: #000;
  background-color: #fff;
  border: 0.25mm solid gray;
  -moz-border-radius: 1.0mm;
  padding: 1.1mm; 
  -moz-box-shadow: black 0.25mm 0.25mm 0.5mm;
}

#alerts-text {
  font-size: 85% !important;
  white-space: pre-wrap;
}


#helperapp-target {
  font-size: 8pt !important;
}


#select-container {
  border: 0.5mm solid #36373b;
  -moz-border-radius: 1.0mm;
  padding-top: 1.1mm; 
}

#select-list > option {
  color: #000;
  background-color: #fff;
  padding: 5px;
  border-bottom: 1px solid rgb(207,207,207);
  min-height: 7.2mm; 
  -moz-box-align: center;
}

#select-list > option[selected="true"] {
  color: #fff;
  background-color: grey;
}

#select-list > option.optgroup {
  font-weight: bold;
  font-style: italic;
}

#select-list > option.optgroup > image {
  display: none;
}

#select-list > option.in-optgroup {
  -moz-padding-start: 4.4mm;
}

#select-buttons {
  padding: 0.55mm 1.1mm; 
  -moz-box-pack: center;
}

#select-list > option > image {
  min-width: 30px;
}
