




































p.intro {
  text-align: center;
}

body {
  color: #4b4742;
}

h1 {
  margin: 1em 0;
}

h2 {
  margin: 0 0 6px;
}

h3 {
  margin: 0 0 4px;
}

a {
  color: #0489b7;
  text-decoration: none;
  display: block;
  padding: 5px 40px 5px 0;
  background: url("images/arrowright-16.png") right center no-repeat;
}

p.rightalign {
  text-align: right;
  padding: 0;
  margin: 0;
}

input[type="button"] {
  font-size: 8pt;
  margin-bottom: 20px;
}

hr {
  color: #bdcdcf;
  height: 3px;
  border: 0;
  padding: 0;
  background: #bdcdcf;
}

.go {
  position: relative;
  padding-left: 100px;
}

.go img {
  position: absolute;
  left: 0;
  top: 0;
}
