





































@import url(chrome://global/skin/);


radiogroup {
  -moz-box-orient: horizontal;
}

radio {
  border: 1px solid #000;
  border-left: none;
  margin: 0px;
  padding: 6px;
  -moz-box-align: center;
  -moz-appearance: none;
}

radio .radio-check-box1, .radio-check {
  display: none;
}

radio:first-child {
  border-left: 1px solid #000;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
}

radio:last-child {
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
}

radio[selected] {
  color: #000;
  background: gray;
}
