



































@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#HelpToolbar {
  -moz-padding-start: 5px;
}

#HelpToolbar toolbarbutton {
  min-width: 0px;
  list-style-image: url("chrome://help/skin/Toolbar.png");
  -moz-box-orient: horizontal !important;
}

#HelpToolbar toolbarbutton[type="menu-button"] {
  margin: 0px;
  padding: 0px;
}


#HelpToolbar .toolbarbutton-menubutton-button {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}




#HelpToolbar .toolbarbutton-text {
  display: none;
}


#help-sidebar { min-width: 15em; width: 20em; max-width: 25em; }

#search-sidebar-closebutton {
  -moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image);
  list-style-image: url("chrome://global/skin/icons/closetab.png");
  padding-right: 4px;
  margin: 0;
  border: 0;
}

#search-sidebar-closebutton:hover {
  list-style-image: url("chrome://global/skin/icons/closetab-hover.png");
}

#search-sidebar-closebutton:hover:active {
  list-style-image: url("chrome://global/skin/icons/closetab-active.png");
}

#help-back-button { -moz-image-region: rect(0px 24px 24px 0px); }
#help-back-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 24px 48px 0px); }
#help-back-button[disabled="true"] { -moz-image-region: rect(48px 24px 72px 0px); }
#help-back-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 24px 96px 0px); }

#help-forward-button { -moz-image-region: rect(0px 48px 24px 24px); }
#help-forward-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 48px 48px 24px); }
#help-forward-button[disabled="true"] { -moz-image-region: rect(48px 48px 72px 24px); }
#help-forward-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 48px 96px 24px); }

#help-home-button { -moz-image-region: rect(0px 72px 24px 48px); }
#help-home-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 72px 48px 48px); }
#help-home-button[disabled="true"] { -moz-image-region: rect(48px 72px 72px 48px); }
#help-home-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 72px 96px 48px); }

#help-print-button { -moz-image-region: rect(0px 96px 24px 72px); }
#help-print-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 96px 48px 72px); }
#help-print-button[disabled="true"] { -moz-image-region: rect(48px 96px 72px 72px); }
#help-print-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 96px 96px 72px); }





#help-back-button .toolbarbutton-menubutton-dropmarker {
  margin-top: 3px;
  list-style-image: url("chrome://global/skin/toolbar/dropmark-nav.png");
  -moz-image-region: rect(0px, 14px, 24px, 0px);
}

#help-back-button:hover .toolbarbutton-menubutton-dropmarker, 
#help-back-button[buttonover="true"] > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(24px, 14px, 48px, 0px);
}

#help-back-button[disabled="true"] .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://global/skin/toolbar/dropmark-nav.png") !important;
  -moz-image-region: rect(48px, 14px, 72px, 0px) !important;
}

#help-back-button:hover:active .toolbarbutton-menubutton-dropmarker, 
#help-back-button[buttondown="true"] > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(72px, 14px, 96px, 0px);
}



#help-forward-button .toolbarbutton-menubutton-dropmarker {
  margin-top: 3px;
  list-style-image: url("chrome://global/skin/toolbar/dropmark-nav.png");
  -moz-image-region: rect(0px, 14px, 24px, 0px);
}
#help-forward-button:hover .toolbarbutton-menubutton-dropmarker, 
#help-forward-button[buttonover="true"] > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(24px, 14px, 48px, 0px);
}
#help-forward-button[disabled="true"] .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://global/skin/toolbar/dropmark-nav.png") !important;
  -moz-image-region: rect(48px, 14px, 72px, 0px) !important;
}
#help-forward-button:hover:active .toolbarbutton-menubutton-dropmarker, 
#help-forward-button[buttondown="true"] > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(72px, 14px, 96px, 0px);
}


#helpsidebar-splitter {
  border-right: 1px solid #bebebe;
}

#helpsidebar-box toolbarbutton {
  background-image: url("chrome://global/skin/icons/white-gray-gradient.gif");
  background-repeat: repeat-x;
  background-position: bottom right;
  background-color: rgb(246, 246, 246);
  border-bottom: 1px solid #b3b3b3;
  border-right: 1px solid #bebebe;
  margin: 0px;
  text-align: left;
  color: #505050;
}

#helpsidebar-box toolbarbutton[selected="true"] {
  color: #000;
}

#helpsidebar-box tree {
  margin: 0px !important;
  padding: 0px !important;
}
