






































@import "chrome://global/skin/";


@import "chrome://global/skin/viewbuttons.css";



.viewButtonIcon {
  display: none;
}

deck {
  padding: 10px 10px 10px 10px;
}


tree {
  margin: .5em;
}

.gridSeparator {
  width: .5em;
}

textbox {
  background: transparent !important;
  border: none;
  padding: 0px;
  margin-top: 1px;
  -moz-appearance: none;
}

textbox.header {
  -moz-margin-start: 0;
}

.iframe {
  margin: .5em;
  background: white;
  overflow: auto;
}

.fixedsize {
  height: 8.5em;
}

textbox[disabled] {
  font-style: italic;
}


groupbox.collapsable caption .caption-icon {
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center;
  -moz-margin-end: 2px;
  background-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

groupbox.collapsable[closed="true"] caption .caption-icon {
  background-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}

groupbox tree { 
  margin: 0;
  border: none;
}

groupbox.treebox .groupbox-body { 
  padding: 0;
}

#securityBox description { 
  -moz-margin-start: 10px;
}

#general-security-identity {
  white-space: pre-wrap;
  line-height: 2em;
}


#imagetree {
  min-height: 10em;
}

#mediaGrid {
  min-height: 9em;
}

#mediaLabelColumn {
  min-width: 10em;
}

#thepreviewimage {
  margin: 1em;
}

treechildren::-moz-tree-cell-text(broken) {
  font-style: italic;
  color: graytext;
}


#feedtree {
  margin-bottom: 0px;
}

#feedListbox richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

#feedListbox richlistitem[selected="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

#feedListbox {
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
}

.feedTitle { 
  font-weight: bold;
}


#permList {
  margin-top: .5em;
  overflow: auto;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-field;
}

.permission {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted #C0C0C0;
}

.permissionLabel {
  font-weight: bold;
}

.permission:hover {
  background-color: -moz-dialog;
}


#securityPanel .caption-icon {
  display: none;
}

#securityPanel .header {
  font-size: 120%;
}
 
#securityPanel .fieldLabel {
  margin: 2px 10px 3px 10px;
}

#securityPanel .fieldValue {
  font-weight: bold;
  margin: 2px 10px 0px 10px;
}
