



@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#HelpToolbar {
  -moz-padding-start: 5px;
}

#HelpToolbar toolbarbutton {
  min-width: 0px;
  list-style-image: url("chrome://help/skin/Toolbar.png");
  -moz-box-orient: horizontal !important;
}

#HelpToolbar toolbarbutton[type="menu-button"] {
  margin: 0px;
  padding: 0px;
}


#HelpToolbar .toolbarbutton-menubutton-button {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}



#HelpToolbar .toolbarbutton-text {
  display: none;
}


#help-sidebar { min-width: 15em; width: 20em; max-width: 25em; }

#help-back-button { -moz-image-region: rect(0px 24px 24px 0px); }
#help-back-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 24px 48px 0px); }
#help-back-button[disabled="true"] { -moz-image-region: rect(48px 24px 72px 0px); }
#help-back-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 24px 96px 0px); }

#help-forward-button { -moz-image-region: rect(0px 48px 24px 24px); }
#help-forward-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 48px 48px 24px); }
#help-forward-button[disabled="true"] { -moz-image-region: rect(48px 48px 72px 24px); }
#help-forward-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 48px 96px 24px); }

#help-home-button { -moz-image-region: rect(0px 72px 24px 48px); }
#help-home-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 72px 48px 48px); }
#help-home-button[disabled="true"] { -moz-image-region: rect(48px 72px 72px 48px); }
#help-home-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 72px 96px 48px); }

#help-print-button { -moz-image-region: rect(0px 96px 24px 72px); }
#help-print-button:not([disabled="true"]):hover { -moz-image-region: rect(24px 96px 48px 72px); }
#help-print-button[disabled="true"] { -moz-image-region: rect(48px 96px 72px 72px); }
#help-print-button:not([disabled="true"]):hover:active { -moz-image-region: rect(72px 96px 96px 72px); }





#help-back-button > .toolbarbutton-menubutton-dropmarker {
  margin-top: 3px;
  list-style-image: url("chrome://help/skin/dropmark-nav.png");
  -moz-image-region: rect(0px, 14px, 24px, 0px);
}

#help-back-button:hover > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(24px, 14px, 48px, 0px);
}

#help-back-button[disabled="true"] > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://help/skin/dropmark-nav.png") !important;
  -moz-image-region: rect(48px, 14px, 72px, 0px) !important;
}

#help-back-button:hover:active > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(72px, 14px, 96px, 0px);
}



#help-forward-button > .toolbarbutton-menubutton-dropmarker {
  margin-top: 3px;
  list-style-image: url("chrome://help/skin/dropmark-nav.png");
  -moz-image-region: rect(0px, 14px, 24px, 0px);
}
#help-forward-button:hover > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(24px, 14px, 48px, 0px);
}
#help-forward-button[disabled="true"] > .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://help/skin/dropmark-nav.png") !important;
  -moz-image-region: rect(48px, 14px, 72px, 0px) !important;
}
#help-forward-button:hover:active > .toolbarbutton-menubutton-dropmarker {
  -moz-image-region: rect(72px, 14px, 96px, 0px);
}

#helpsidebar-splitter {
  border-right: 1px solid #bebebe;
}
