




*|*:-moz-full-screen-ancestor {
  

  z-index: initial !important;
  



  opacity: initial !important;
  


  mask: initial !important;
  clip: initial !important;
  filter: initial !important;
  transform: initial !important;
  will-change: initial !important;
}

