









@media not print {
  .overflowing {
    cursor: -moz-zoom-out;
  }

  .shrinkToFit,
  .scaleToDevicePixels {
    cursor: -moz-zoom-in;
  }
}

@media print {
  





  img {
    display: block;
  }
}
