@charset "utf-8";





































@namespace url(http://www.w3.org/1999/xhtml); 

*|*:root {
  background-color: white;
  color: black;
  direction: ltr;
}
#viewsource {
  font-family: -moz-fixed;
  font-weight: normal;
  white-space: pre;
}
#viewsource.wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre {
  font: inherit;
  color: inherit;
  white-space: inherit; 
  margin: 0;
}
.start-tag {
 color: purple;
 font-weight: bold;
}
.end-tag {
 color: purple;
 font-weight: bold;
}
.comment {
 color: green;
 font-style: italic;
}
.cdata {
 color: #CC0066;
}
.doctype {
 color: steelblue;
 font-style: italic;
}
.pi {
 color: orchid;
 font-style: italic;
}
.entity {
 color:#FF4500;
 font-weight: normal;
}
.text {
  font-weight: normal;
}
.attribute-name {
 color: black;
 font-weight: bold;
}
.attribute-value {
 color: blue;
 font-weight: normal;
}
.markupdeclaration {
 color: steelblue;
 font-style: italic;
}
span:not(.error), a:not(.error) {
 unicode-bidi: embed;
}
.error, 
.error > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi,
                   .entity, .attribute-name, .attribute-value) {
  color: red;
  font-weight: bold;
}
