



@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.controlBar {
  height: 28px;
  background-color: rgba(35,31,32,.74);
}

.playButton,
.muteButton,
.fullscreenButton {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  -moz-appearance: none;   
  margin: 0;
  padding: 0;
  min-height: 28px;
  min-width: 28px;
  border: none;
  opacity: 0.7;
}

.playButton:hover,
.muteButton:hover,
.fullscreenButton:hover {
  opacity: 1;
}

.playButton:hover:active,
.muteButton:hover:active,
.fullscreenButton:hover:active {
  opacity: 0.4;
}

.playButton {
  background-image: url(chrome://global/skin/media/pauseButton.png);
  margin-right: -22px; 
  position: relative; 
}

.playButton[paused] {
  background-image: url(chrome://global/skin/media/playButton.png);
}

.muteButton {
  background-image: url(chrome://global/skin/media/muteButton.png);
  min-width: 33px;
}
.muteButton[muted] {
  background-image: url(chrome://global/skin/media/unmuteButton.png);
}

.muteButton[noAudio] {
  background-image: url(chrome://global/skin/media/noAudio.png);
}

.fullscreenButton {
  background-image: -moz-image-rect(url("chrome://global/skin/media/fullscreenButton.png"), 0, 16, 16, 0);
}

.fullscreenButton[fullscreened] {
  background-image: -moz-image-rect(url("chrome://global/skin/media/fullscreenButton.png"), 0, 32, 16, 16);
}

.volumeStack {
  width: 28px;
  height: 70px;
  background-color: rgba(35,31,32,.74);
  
  margin: -70px 3px 28px -31px;
  overflow: hidden; 
  position: relative; 
  padding-top: 6px;
}

.volumeControl {
  min-height: 64px;
}


.volumeControl .scale-thumb {
  
  -moz-appearance: none;
  background: url(chrome://global/skin/media/volumeThumb.png) no-repeat center;
  border: none;
  min-width: 20px;
  min-height: 10px;
}

.volumeBackgroundBar {
  
  margin: 0 10px;
  background-color: rgba(255,255,255,.75);
  border-radius: 2.5px;
}

.durationBox {
  -moz-box-pack: center;
}

.durationLabel {
  margin-left: -22px; 
  padding-left: 8px; 
  padding-top: 2px; 
  color: rgba(255,255,255,.75);
  font-size: 11px;
  font-family: Helvetica, sans-serif;
}

.positionLabel {
  display: none;
}

.backgroundBar {
  
  
  margin: 10px 22px;
  background-color: rgba(255,255,255,.5);
  border-radius: 2.5px;
}

.bufferBar,
.progressBar {
  
  
  margin: 10px 22px;
  -moz-appearance: none;
  min-width: 0;
}


.bufferBar .progress-bar {
  




  background-color: rgba(255,255,255,.5);
  border-radius: 2.5px;
}

.progressBar .progress-bar {
  background-color: white;
  border-radius: 2.5px;
}


.scrubber .scale-slider,
.volumeControl .scale-slider {
  
  -moz-appearance: none;
  background: none;
  margin: 0;
}

.scrubber .scale-slider {
  
  margin-top: -10px;
  margin-bottom: 10px;
}

.scrubber .scale-thumb {
  
  -moz-appearance: none;
  background: transparent;
  border: none;
}

.timeThumb {
  background: url(chrome://global/skin/media/scrubberThumb.png) no-repeat center;
  min-width: 45px;
  min-height: 28px;
  -moz-box-pack: center;
}

.timeThumb[showhours="true"] {
  background-image: url(chrome://global/skin/media/scrubberThumbWide.png);
}

.timeLabel {
  color: rgba(255,255,255,.75);
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  text-shadow: rgba(0,0,0,.3) 0 1px;
  padding-top: 7px;
}

.statusOverlay {
  -moz-box-align: center;
  -moz-box-pack: center;
  background-color: rgba(0,0,0,.55);
}

.statusIcon {
  margin-bottom: 28px; 
  width: 36px;
  height: 36px;
}

.statusIcon[type="throbber"] {
  background: url(chrome://global/skin/media/throbber.png) no-repeat center;
}

.statusIcon[type="throbber"][stalled] {
  background: url(chrome://global/skin/media/stalled.png) no-repeat center;
}

.statusIcon[type="error"] {
  background: url(chrome://global/skin/media/error.png) no-repeat center;
}


.clickToPlay {
  width: 64px;
  height: 64px;
  -moz-box-pack: center;
  -moz-box-align: center;
  opacity: 0.7;
  background-image: url(chrome://global/skin/media/clicktoplay-bgtexture.png),
                    url(chrome://global/skin/media/videoClickToPlayButton.svg);
  background-repeat: repeat, no-repeat;
  background-position: center, center;
  background-size: auto, 64px 64px;
  background-color: hsla(0,0%,10%,.5);
}
.clickToPlay:hover {
  opacity: 1;
}


html|*.statsDiv {
  position: relative;
}
html|td {
  height: 1em;
  max-height: 1em;
  padding: 0 2px;
}
html|table {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  min-width: 100%;
  background: rgba(68,68,68,.7);
  table-layout: fixed;
  border-collapse: collapse;
  position: absolute;
}


.clickToPlay {
  transition-property: opacity, background-size;
  transition-duration: 400ms, 400ms;
}
.clickToPlay[fadeout] {
  background-size: auto, 192px 192px;
  opacity: 0;
}
.clickToPlay[fadeout][immediate] {
  transition-property: opacity, background-size;
  transition-duration: 0s, 0s;
}
.controlBar:not([immediate]) {
  transition-property: opacity;
  transition-duration: 200ms;
}
.controlBar[fadeout] {
  opacity: 0;
}
.volumeStack:not([immediate]) {
  transition-property: opacity, margin-top;
  transition-duration: 200ms, 200ms;
}
.volumeStack[fadeout] {
  opacity: 0;
  margin-top: 0;
}
.statusOverlay:not([immediate]) {
  transition-property: opacity;
  transition-duration: 300ms;
  transition-delay: 750ms;
}
.statusOverlay[fadeout] {
  opacity: 0;
}


.errorLabel {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #bbb;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 0 10px;
  text-align: center;
}

@media (min-resolution: 2dppx) {
  .playButton {
    background-image: url(chrome://global/skin/media/pauseButton@2x.png);
    background-size: 28px 28px;
  }
  .playButton[paused] {
    background-image: url(chrome://global/skin/media/playButton@2x.png);
    background-size: 28px 28px;
  }
  .muteButton {
    background-image: url(chrome://global/skin/media/muteButton@2x.png);
    background-size: 33px 28px;
  }
  .muteButton[muted] {
    background-image: url(chrome://global/skin/media/unmuteButton@2x.png);
    background-size: 33px 28px;
  }
  .muteButton[noAudio] {
    background-image: url(chrome://global/skin/media/noAudio@2x.png);
    background-size: 33px 28px;
  }
  .fullscreenButton {
    background-image: -moz-image-rect(url("chrome://global/skin/media/fullscreenButton@2x.png"), 0, 32, 32, 0);
    background-size: 16px 16px;
  }
  .fullscreenButton[fullscreened] {
    background-image: -moz-image-rect(url("chrome://global/skin/media/fullscreenButton@2x.png"), 0, 64, 32, 32);
    background-size: 16px 16px;
  }
  .volumeControl .scale-thumb {
    background-image: url(chrome://global/skin/media/volumeThumb@2x.png);
    background-size: 20px 10px;
  }
  .timeThumb {
    background-image: url(chrome://global/skin/media/scrubberThumb@2x.png);
    background-size: 33px 28px;
  }
  .timeThumb[showhours="true"] {
    background-image: url(chrome://global/skin/media/scrubberThumbWide@2x.png);
    background-size: 45px 28px;
  }
}
