



%include ../../../shared/incontentprefs/preferences.css

menulist:not([editable="true"]) > .menulist-dropmarker {
  margin-top: 1px;
  margin-bottom: 1px;
}

radio {
  -moz-binding: url("chrome://global/content/bindings/radio.xml#radio");
  -moz-margin-start: 0;
}

.actionsMenu > .menulist-label-box > .menulist-icon {
  -moz-margin-end: 9px;
}
