



%include ../../../shared/incontentprefs/preferences.inc.css

.actionsMenu > .menulist-label-box > .menulist-icon {
  -moz-margin-end: 9px;
}

textbox + button,
filefield + button {
  -moz-margin-start: -4px;
}





#dialogTitle {
  font-size: 1em;
}
