



%include ../../../shared/incontentprefs/preferences.inc.css

.actionsMenu > .menulist-label-box > .menulist-icon {
  -moz-margin-end: 9px;
}

textbox + button,
filefield + button {
  -moz-margin-start: -4px;
}





#dialogBox {
  padding: 18px 20px 20px;
}

#dialogTitle {
  font-size: 1em;
}

.titlebar {
  margin-bottom: 12px;
}

.close-icon {
  margin-top: -28px;
  -moz-margin-end: -15px;
}
