







@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



#FilenameColumn,
#ContentLengthColumn,
#LastModifiedDateColumn {
  width: 100px;
}



treechildren::-moz-tree-image(FilenameColumn) {
  padding-right: 2px;
  margin: 0px 2px;
  width: 16px;
  height: 16px;
}

treechildren::-moz-tree-image(FilenameColumn, directory) {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu");
}

treechildren::-moz-tree-image(FilenameColumn, file) {
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}





.up-button {
  list-style-image: url("moz-icon://stock/gtk-go-up?size=toolbar");
  max-width: 36px;
}



.home-button {
  list-style-image: url("moz-icon://stock/gtk-home?size=toolbar");
  max-width: 36px;
}



.new-dir-button {
  list-style-image: url("chrome://global/skin/Filepicker.png");
  max-width: 36px;
}

