







@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


*|*:root {
  -moz-appearance: none;
  padding: 18px;
  background-color: Window;
  background-image: 
                    url("chrome://global/skin/inContentUI/background-texture.png");
  color: WindowText;
}



*|*#contentAreaDownloadsView {
  background: #f1f1f1;
  color: #424e5a;
}

html|html {
  font: message-box;
}


*|*.main-content {
  
  overflow: hidden;
  background-color: -moz-Field;
  color: -moz-FieldText;
  border: 1px solid ThreeDShadow;
  border-radius: 5px;
}
