



@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



menupopup,
panel {
  -moz-appearance: menupopup;
  min-width: 1px;
  color: MenuText;
}



panel[type="arrow"] {
  -moz-appearance: none;
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
  margin-left: -16px;
  margin-right: -16px;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
  margin-top: -16px;
  margin-bottom: -16px;
}

.panel-arrowcontent {
  padding: 10px;
  color: -moz-DialogText;
  background: -moz-Dialog;
  border: 1px solid ThreeDShadow;
}

.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
  list-style-image: url("chrome://global/skin/icons/panelarrow-vertical.svg");
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
}

.panel-arrow[side="top"] {
  margin-bottom: -1px;
}

.panel-arrow[side="bottom"] {
  transform: scaleY(-1);
  margin-top: -1px;
}

.panel-arrow[side="left"],
.panel-arrow[side="right"] {
  list-style-image: url("chrome://global/skin/icons/panelarrow-horizontal.svg");
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}

.panel-arrow[side="left"] {
  margin-right: -1px;
}

.panel-arrow[side="right"] {
  transform: scaleX(-1);
  margin-left: -1px;
}



tooltip {
  -moz-appearance: tooltip;
  margin-top: 21px;
  
  padding: 4px;
  max-width: 40em;
  color: InfoText;
  font: message-box;
}

tooltip[titletip="true"] {
 


  max-width: none;
}



menulist > menupopup {
  padding: 0px;
  min-width: 0px;
}

