








































#BrowserPreferences radio[pane] {
  list-style-image: url("chrome://browser/skin/preferences/Options.png"); 
  padding: 5px 3px 1px;
}

radio[pane=paneMain] {
	-moz-image-region: rect(0px, 32px,  32px, 0px)
}
radio[pane=paneMain]:hover, 
radio[pane=paneMain][selected="true"]  {
	-moz-image-region: rect(32px, 32px,  64px, 0px)
}

radio[pane=paneTabs] {
	-moz-image-region: rect(0px, 64px, 32px, 32px)
}
radio[pane=paneTabs]:hover, 
radio[pane=paneTabs][selected="true"] {
	-moz-image-region: rect(32px, 64px, 64px, 32px)
}

radio[pane=paneContent] {
	-moz-image-region: rect(0px, 96px,  32px, 64px)
}
radio[pane=paneContent]:hover, 
radio[pane=paneContent][selected="true"]  {
	-moz-image-region: rect(32px, 96px,  64px, 64px)
}

radio[pane=paneApplications] {
	-moz-image-region: rect(0px, 128px,  32px, 96px)
}
radio[pane=paneApplications]:hover, 
radio[pane=paneApplications][selected="true"]  {
	-moz-image-region: rect(32px, 128px,  64px, 96px)
}

radio[pane=panePrivacy] {
	-moz-image-region: rect(0px, 160px,  32px, 128px)
}
radio[pane=panePrivacy]:hover, 
radio[pane=panePrivacy][selected="true"]  {
	-moz-image-region: rect(32px, 160px,  64px, 128px)
}

radio[pane=paneSecurity] {
	-moz-image-region: rect(0px, 192px,  32px, 160px)
}
radio[pane=paneSecurity]:hover, 
radio[pane=paneSecurity][selected="true"]  {
	-moz-image-region: rect(32px, 192px,  64px, 160px)
}

radio[pane=paneAdvanced] {
	-moz-image-region: rect(0px, 224px, 32px, 192px)
}
radio[pane=paneAdvanced]:hover, 
radio[pane=paneAdvanced][selected="true"] {
	-moz-image-region: rect(32px, 224px, 64px, 192px)
}


#BrowserPreferences[animated="true"] #handlersView {
  height: 25em;
}

#BrowserPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}


.windowDialog,
.windowDialog prefpane {
  padding: 0px;
}

.contentPane {
  margin: 9px 8px 5px 8px;
}

.actionButtons {
  margin: 0px 3px 6px 3px !important;
}


#cookiesChildren::-moz-tree-image(domainCol) {
  width: 16px;
  height: 16px;
  margin: 0px 2px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#cookiesChildren::-moz-tree-image(domainCol, container) {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

#cookiesChildren::-moz-tree-image(domainCol, container, open) {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#cookieInfoBox {
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 0px;
  margin: 4px;
  padding: 0px;
}





#advancedPrefs {
  padding-bottom: 8px;
}



.bottomBox {
  padding-bottom: 4px;
}




#SanitizeDurationBox {
  padding-bottom: 10px;
}

#sanitizeDurationChoice {
  margin: 0; 
}

#sanitizeDurationLabel {
  -moz-margin-start: 3px;
}

#SanitizeDialogPane > groupbox {
  margin-top: 0;
}
