








































#BrowserPreferences radio[pane] {
  list-style-image: url("chrome://browser/skin/preferences/Options.png"); 
  padding: 5px 3px 1px;
}

radio[pane=paneMain] {
  -moz-image-region: rect(0, 32px,  32px, 0);
}
radio[pane=paneMain]:hover,
radio[pane=paneMain][selected="true"] {
  -moz-image-region: rect(32px, 32px,  64px, 0);
}

radio[pane=paneTabs] {
  -moz-image-region: rect(0, 64px, 32px, 32px);
}
radio[pane=paneTabs]:hover,
radio[pane=paneTabs][selected="true"] {
  -moz-image-region: rect(32px, 64px, 64px, 32px);
}

radio[pane=paneContent] {
  -moz-image-region: rect(0, 96px,  32px, 64px);
}
radio[pane=paneContent]:hover,
radio[pane=paneContent][selected="true"] {
  -moz-image-region: rect(32px, 96px,  64px, 64px);
}

radio[pane=paneApplications] {
  -moz-image-region: rect(0, 128px,  32px, 96px);
}
radio[pane=paneApplications]:hover,
radio[pane=paneApplications][selected="true"] {
  -moz-image-region: rect(32px, 128px,  64px, 96px);
}

radio[pane=panePrivacy] {
  -moz-image-region: rect(0, 160px,  32px, 128px);
}
radio[pane=panePrivacy]:hover,
radio[pane=panePrivacy][selected="true"] {
  -moz-image-region: rect(32px, 160px,  64px, 128px);
}

radio[pane=paneSecurity] {
  -moz-image-region: rect(0, 192px,  32px, 160px);
}
radio[pane=paneSecurity]:hover,
radio[pane=paneSecurity][selected="true"] {
  -moz-image-region: rect(32px, 192px,  64px, 160px);
}

radio[pane=paneAdvanced] {
  -moz-image-region: rect(0, 224px, 32px, 192px);
}
radio[pane=paneAdvanced]:hover,
radio[pane=paneAdvanced][selected="true"] {
  -moz-image-region: rect(32px, 224px, 64px, 192px);
}

%ifdef MOZ_SERVICES_SYNC
radio[pane=paneSync] {
  list-style-image: url("chrome://browser/skin/preferences/Options-sync.png") !important;
}
%endif


#BrowserPreferences[animated="true"] #handlersView {
  height: 25em;
}

#BrowserPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}




.inline-link {
  color: -moz-nativehyperlinktext;
  text-decoration: underline;
}

.inline-link:not(:focus) {
  outline: 1px dotted transparent;
}


.windowDialog,
.windowDialog prefpane {
  padding: 0;
}

.contentPane {
  margin: 9px 8px 5px;
}

.actionButtons {
  margin: 0 3px 6px !important;
}


#cookiesChildren::-moz-tree-image(domainCol) {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#cookiesChildren::-moz-tree-image(domainCol, container) {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

#cookiesChildren::-moz-tree-image(domainCol, container, open) {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#cookieInfoBox {
  border: 1px solid ThreeDShadow;
  border-radius: 0;
  margin: 4px;
  padding: 0;
}





#advancedPrefs {
  padding-bottom: 8px;
}



.bottomBox {
  padding-bottom: 4px;
}

%ifdef MOZ_SERVICES_SYNC

#syncDesc {
  padding: 0 12em;
}

#currentUser image {
  list-style-image: url("chrome://mozapps/skin/profile/profileicon.png");
}

#connectThrobber {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

.expander-up,
.expander-down {
  min-width: 0;
  margin: 0;
  -moz-margin-end: 4px;
}

.expander-up > .button-box,
.expander-down > .button-box {
  padding: 0;
}

.expander-up {
  list-style-image: url("chrome://global/skin/icons/collapse.png");
}

.expander-down {
  list-style-image: url("chrome://global/skin/icons/expand.png");
}
%endif
