



%include ../../shared/newtab/newTab.inc.css


.newtab-undo-button {
  color: rgb(221,72,20);
}

#newtab-undo-close-button {
  height: 16px;
  width: 16px;
}

#newtab-intro-panel,
.newtab-title {
  font-family: sans-serif;
}
