@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.controlBar {
     visibility: hidden;
     opacity: 0.0;
}

.scrubber {
    -moz-binding: url("chrome://global/content/bindings/videocontrols.xml#suppressChangeEvent");
}

.statusOverlay {
    visibility: hidden;
    opacity: 0.0;
}
