








































@namespace url(http://www.w3.org/1999/xhtml);



input[type="checkbox"] {

  -moz-box-align: center;
  border: 2px solid;
  padding-left: 1px;
  padding-right: 1px;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  min-width: 13px;
  min-height: 13px;
  background: -moz-Field no-repeat 50% 50%;
}

input[type="checkbox"]:hover:active {
  background-color: -moz-Dialog;
}

input[type="checkbox"]:focus {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}



input[type="checkbox"][disabled="true"] {
  background-color: -moz-Dialog;
}



input[type="checkbox"]:checked {
  list-style-image: url("chrome://forms/skin/cbox-check.gif");
}

input[type="checkbox"][disabled="true"]:checked {
  list-style-image: url("chrome://forms/skin/cbox-check-dis.gif") !important;
}

