








































@namespace url(http://www.w3.org/1999/xhtml);
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



input[type="radio"][disabled="true"] {
  background-color: -moz-Dialog;
}



input[type="radio"] {

  margin: 1px 0px;
  border-top: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDHighlight;
  border-left: 1px solid ThreeDShadow;
  -moz-border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: -moz-Field;
}

xul|*.input-radio-check-box2 {
  border-top: 1px solid ThreeDDarkShadow;
  border-right: 1px solid ThreeDLightShadow;
  border-bottom: 1px solid ThreeDLightShadow;
  border-left: 1px solid ThreeDDarkShadow;
  -moz-border-radius: 50%;
  padding: 2px;
  width: 4px;
  height: 4px;
  list-style-image: none;
}

input[type="radio"]:hover:active {
  background-color: -moz-Dialog;
}

input[type="radio"]:focus > xul|*.input-radio-check-box2 {
  border: 1px solid ThreeDDarkShadow;
}



input[type="radio"]:checked > xul|*.input-radio-check-box2 {
  list-style-image: url("chrome://forms/skin/radio-check.gif");
}

input[type="radio"][disabled="true"]:checked {
  list-style-image: url("chrome://forms/skin/radio-check-dis.gif") !important
}
