




































@namespace url(http://www.w3.org/1999/xhtml); 
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");





select, select[size="1"] {
  
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

xul|*.select-label-box {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 1px;
  border: 1px solid transparent;
}

xul|*.select-dropmarker {
  
  min-width: 17px;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 2px solid;
  background-color: -moz-Dialog;
  list-style-image: url("chrome://forms/skin/arrow-dn.gif");
}

xul|*.select-dropmarker,
select[disabled="true"]:hover:active > xul|*.select-dropmarker {
  -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
  padding: 1px;
}

select:hover:active > xul|*.select-dropmarker {
  -moz-border-top-colors: ThreeDShadow ThreeDFace;
  -moz-border-right-colors: ThreeDShadow ThreeDFace;
  -moz-border-bottom-colors: ThreeDShadow ThreeDFace;
  -moz-border-left-colors: ThreeDShadow ThreeDFace;
  padding: 2px 0px 0px 2px;
}

select:focus > xul|*.select-label-box {
  border: 1px dotted #F5DB95;
  background-color: Highlight;
  color: HighlightText;
}

xul|*.select-menupopup,
xul|*.select-optgrouppopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

xul|*.select-optgrouppopup {
  background-color: -moz-Field !important;
}

option,
optgroup {
  color: -moz-FieldText;
}

select > option {
  
  padding-right: 28px;
}

xul|*.select-menuitem > xul|*.menu-text {
  margin-left: 0px !important;
}


 
select[disabled="true"] {
  background-color: -moz-Dialog;
  color: GrayText;
}

select[disabled="true"] > xul|*.select-dropmarker {
  list-style-image: url("chrome://forms/skin/arrow-dn-dis.gif");
}

option[_moz-menuactive="true"],
xul|*.select-menuitem[_moz-menuactive="true"] {
  background-color: Highlight;
  color: HighlightText !important;
}
