




































@namespace url(http://www.w3.org/1999/xhtml); 
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");





select[size] {
  border: 2px inset ThreeDFace;
  margin: 0;
  min-height: 0;
  color: inherit;

}
  
xul|*.select-treebody::-moz-tree-row {

  border: 1px solid transparent;
}

xul|*.select-treecol {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
}



xul|*.select-treebody::-moz-tree-row {
  border: 1px solid transparent;
  height: 18px;
}

xul|*.select-treebody::-moz-tree-row(selected) {
  background-color: -moz-Dialog;
}

xul|*.select-treebody::-moz-tree-row(selected, focus) {
  background-color: Highlight;
}

xul|*.select-treebody::-moz-tree-row(current, focus) {
  border: 1px dotted #F5DB95;
}



xul|*.select-treebody::-moz-tree-cell {
  padding: 0px 0px 0px 2px;
}

xul|*.select-treebody::-moz-tree-cell-text {
  color: inherit;
}

xul|*.select-treebody::-moz-tree-cell-text(selected) {
  color: -moz-DialogText;
}

xul|*.select-treebody::-moz-tree-cell-text(selected, focus) {
  color: HighlightText;
}




xul|*.select-treebody[hasgroups="true"]::-moz-tree-twisty 
{
  padding-right: 2px;
  width: 10px; 
  list-style-image: url("chrome://forms/skin/twisty-clsd.gif");
}

xul|*.select-treebody[hasgroups="true"]::-moz-tree-twisty(open) {
  width: 10px; 
  list-style-image: url("chrome://forms/skin/twisty-open.gif");
}

xul|*.select-treebody[hasgroups="true"]::-moz-tree-indentation {
  width: 16px;   
}

xul|*.select-treebody::-moz-tree-line {
  visibility: hidden;
}

