









doc {
  display: block;
}




foo {
  display: block;
}




d {
  display: block;
  color: red;
}




f1 {
  display: block;
  color: red;
  text-decoration: underline;
}




f2 {
  display: block;
  color: red;
  text-decoration: underline;
}




f3 {
  display: block;
  color: red;
  text-decoration: underline;
}




f4 {
  display: block;
  color: red;
  text-decoration: underline;
}




f5 {
  display: block;
  color: red;
  text-decoration: underline;
}




f6 {
  display: block;
  color: red;
  text-decoration: underline;
}




f7 {
  display: block;
  color: red;
  text-decoration: underline;
}




f8 {
  display: block;
  color: red;
  text-decoration: underline;
}




f9 {
  display: block;
  color: red;
  text-decoration: underline;
}




f10 {
  display: block;
  color: red;
  text-decoration: underline;
}




f11 {
  display: block;
  color: red;
  text-decoration: underline;
}




f12 {
  display: block;
  color: red;
  text-decoration: underline;
}




f13 {
  display: block;
  color: red;
  text-decoration: underline;
}




f14 {
  display: block;
  color: red;
  text-decoration: underline;
}




f15 {
  display: block;
  color: red;
  text-decoration: underline;
}




f21 {
  display: block;
  color: red;
  text-decoration: underline;
}




f22 {
  display: block;
  color: red;
  text-decoration: underline;
}




f23 {
  display: block;
  color: red;
  text-decoration: underline;
}




f24 {
  display: block;
  color: red;
  text-decoration: underline;
}




f25 {
  display: block;
  color: red;
  text-decoration: underline;
}




f26 {
  display: block;
  color: red;
  text-decoration: underline;
}




f27 {
  display: block;
  color: red;
  text-decoration: underline;
}




f28 {
  display: block;
  color: red;
  text-decoration: underline;
}




f29 {
  display: block;
  color: red;
  text-decoration: underline;
}




f210 {
  display: block;
  color: red;
  text-decoration: underline;
}




f211 {
  display: block;
  color: red;
  text-decoration: underline;
}




f212 {
  display: block;
  color: red;
  text-decoration: underline;
}




f213 {
  display: block;
  color: red;
  text-decoration: underline;
}




f214 {
  display: block;
  color: red;
  text-decoration: underline;
}




f215 {
  display: block;
  color: red;
  text-decoration: underline;
}
