%if 0




































%endif

.folder-icon > .menulist-label-box > .menulist-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu") !important;
}




.expander-up,
.expander-down {
  min-width: 0;
  padding: 2px 0;
  -moz-padding-start: 2px;
}

.expander-up > .button-box {
  -moz-appearance: button-arrow-up;
}

.expander-down > .button-box {
  -moz-appearance: button-arrow-down;
}

#editBookmarkPanelContent {
  min-width: 23em;
}

#editBMPanel_folderTree {
  margin-top: 2px;
  margin-bottom: 2px;
}






#editBMPanel_tagsField #treecolAutoCompleteValue {
  visibility: collapse;
}



#editBMPanel_folderMenuList[selectedIndex="0"],
#editBMPanel_toolbarFolderItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;  
}

#editBMPanel_folderMenuList[selectedIndex="1"],
#editBMPanel_bmRootItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png") !important;  
}

#editBMPanel_folderMenuList[selectedIndex="2"],
#editBMPanel_unfiledRootItem {
  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png") !important;  
}
