<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html401/strict.dtd">
<html>
<head>
<title>Test, CSS 2.1, section 10.3.7</title>
<style type="text/css">

html, body { margin: 0; padding: 0; border: none; }
div { height: 1px; background: navy; }

</style>
</head>
<body>














<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>

<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>

<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>

<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>
<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>

<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>

<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>
<div style="margin-left: 496px; width: 177px;"></div>

<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>

<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>
<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>
<div style="margin-left: 454px; width: 177px;"></div>

<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>

<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>

<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>
<div style="margin-left: 70px; width: 177px;"></div>

<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>
<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 167px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>

<div style="margin-left: 284px; width: 177px;"></div>
<div style="margin-left: 284px; width: 177px;"></div>
<div style="margin-left: 284px; width: 177px;"></div>
<div style="margin-left: 284px; width: 177px;"></div>
<div style="margin-left: 284px; width: 177px;"></div>
<div style="margin-left: 284px; width: 177px;"></div>
<div style="margin-left: 284px; width: 177px;"></div>
<div style="margin-left: 284px; width: 177px;"></div>

<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>
<div style="margin-left: 515px; width: 177px;"></div>

<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>
<div style="margin-left: 53px; width: 177px;"></div>

<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>
<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 150px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>
<div style="margin-left: 473px; width: 177px;"></div>




<div style="margin-left: 70px; width: 603px;"></div>
<div style="margin-left: 70px; width: 603px;"></div>
<div style="margin-left: 70px; width: 603px;"></div>
<div style="margin-left: 70px; width: 603px;"></div>
<div style="margin-left: 70px; width: 603px;"></div>
<div style="margin-left: 70px; width: 603px;"></div>
<div style="margin-left: 70px; width: 603px;"></div>
<div style="margin-left: 70px; width: 603px;"></div>

<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>

<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>

<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>
<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>

<div style="margin-left: 53px; width: 620px;"></div>
<div style="margin-left: 53px; width: 620px;"></div>
<div style="margin-left: 53px; width: 620px;"></div>
<div style="margin-left: 53px; width: 620px;"></div>
<div style="margin-left: 53px; width: 620px;"></div>
<div style="margin-left: 53px; width: 620px;"></div>
<div style="margin-left: 53px; width: 620px;"></div>
<div style="margin-left: 53px; width: 620px;"></div>

<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>
<div style="margin-left: 577px; width: 96px;"></div>

<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>

<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>
<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>
<div style="margin-left: 535px; width: 96px;"></div>

<div style="margin-left: 70px; width: 622px;"></div>
<div style="margin-left: 70px; width: 622px;"></div>
<div style="margin-left: 70px; width: 622px;"></div>
<div style="margin-left: 70px; width: 622px;"></div>
<div style="margin-left: 70px; width: 622px;"></div>
<div style="margin-left: 70px; width: 622px;"></div>
<div style="margin-left: 70px; width: 622px;"></div>
<div style="margin-left: 70px; width: 622px;"></div>

<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>

<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>
<div style="margin-left: 70px; width: 96px;"></div>

<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>
<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 167px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>

<div style="margin-left: 53px; width: 639px;"></div>
<div style="margin-left: 53px; width: 639px;"></div>
<div style="margin-left: 53px; width: 639px;"></div>
<div style="margin-left: 53px; width: 639px;"></div>
<div style="margin-left: 53px; width: 639px;"></div>
<div style="margin-left: 53px; width: 639px;"></div>
<div style="margin-left: 53px; width: 639px;"></div>
<div style="margin-left: 53px; width: 639px;"></div>

<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>
<div style="margin-left: 596px; width: 96px;"></div>

<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>
<div style="margin-left: 53px; width: 96px;"></div>

<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>
<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 150px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>
<div style="margin-left: 554px; width: 96px;"></div>




<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>

<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>

<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>

<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>
<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>


<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>

<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>
<div style="margin-left: -11px; width: 684px;"></div>

<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>

<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>
<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>
<div style="margin-left: -53px; width: 684px;"></div>


<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>

<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>

<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>
<div style="margin-left: 70px; width: 684px;"></div>

<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>
<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: 167px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>

<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>

<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>
<div style="margin-left: 8px; width: 684px;"></div>

<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>
<div style="margin-left: 53px; width: 684px;"></div>

<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>
<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: 150px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>
<div style="margin-left: -34px; width: 684px;"></div>

</body>
</html>
