% This Source Code Form is subject to the terms of the Mozilla Public
% License, v. 2.0. If a copy of the MPL was not distributed with this
% file, You can obtain one at http://mozilla.org/MPL/2.0/.

%include ../shared/devedition.inc.css

.tab-close-button[selected]:not(:hover) {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 80, 16, 64);
}


#TabsToolbar,
#toolbar-menubar {
  -moz-appearance: none !important;
}
#main-menubar {
  color: var(--chrome-color);
}
#main-menubar > menu:not([open]) {
  color: inherit;
}


#navigator-toolbox .toolbarbutton-1:-moz-any(:hover, [open="true"]),
#PlacesToolbar toolbarbutton.bookmark-item:-moz-any(:hover, [open="true"]) {
  color: initial;
}


#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  margin: 0;
  border: 1px solid var(--chrome-nav-bar-controls-border-color);
  padding: 2px 5px;
  background: var(--chrome-nav-buttons-background);
  box-shadow: none !important;
}

#forward-button > .toolbarbutton-icon {
  -moz-border-start: none;
}


#main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon {
  box-shadow: none !important;
}

#back-button:hover:not([disabled="true"]) > .toolbarbutton-icon,
#forward-button:hover:not([disabled="true"]) > .toolbarbutton-icon {
  background: var(--chrome-nav-buttons-hover-background) !important;
}

#back-button > .toolbarbutton-icon {
  border-radius: 2px 0 0 2px !important;
}

.urlbar-history-dropmarker {
  -moz-appearance: none;
  padding: 0 3px;
  list-style-image: var(--urlbar-dropmarker-url);
  -moz-image-region: var(--urlbar-dropmarker-region);
}


#alltabs-button,
#new-tab-button {
  background: var(--chrome-background-color);
}

#new-tab-button:hover > .toolbarbutton-icon {
  border-color: transparent !important;
}


#TabsToolbar:not([collapsed="true"]) + #nav-bar {
  border-top-width: 0 !important;
}



#sidebar-box {
  color: initial;
}
