




































@import url("chrome://inspector/skin");

#tbxInsToolbox {
  border-bottom: none;
}

#bxURLBar {
  padding: 2px;
}

#imgURLBarIcon {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

#bxSearch {
  height: 150px;
}



#btnSelecting {
  list-style-image: url("chrome://inspector/skin/btnSelecting.gif");
}

#btnSelecting[checked="true"] {
  list-style-image: url("chrome://inspector/skin/btnSelecting-act.gif");
}

#btnSelecting[disabled="true"] {
  list-style-image: url("chrome://inspector/skin/btnSelecting-dis.gif");
}

#btnFind {
  list-style-image: url("chrome://inspector/skin/btnFind.gif");
}

#btnFind[disabled="true"] {
  list-style-image: url("chrome://inspector/skin/btnFind-dis.gif");
}

