









































.actionsMenu {
  margin-top: -1px;
  margin-bottom: -1px;
  -moz-margin-start: -1px;
  -moz-margin-end: 0;
}

.typeIcon,
.actionIcon {
  -moz-margin-start: 3px;
  -moz-margin-end: 3px;
}

richlistitem label {
  -moz-margin-start: 1px;
  margin-top: 2px;
}

richlistitem {
  min-height: 25px;
}

richlistitem[appHandlerIcon="ask"],
menuitem[appHandlerIcon="ask"] {
  list-style-image: url("chrome://browser/skin/preferences/alwaysAsk.png");
}

richlistitem[appHandlerIcon="save"],
menuitem[appHandlerIcon="save"] {
  list-style-image: url("moz-icon://stock/gtk-save?size=menu");
}

richlistitem[appHandlerIcon="feed"],
menuitem[appHandlerIcon="feed"] {
  list-style-image: url("chrome://browser/skin/page-livemarks.png");
}

richlistitem[appHandlerIcon="plugin"],
menuitem[appHandlerIcon="plugin"] {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
}

.actionsMenu .menulist-icon {
  -moz-margin-end: 1px;
  height: 16px;
  width: 16px;
}

.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  -moz-padding-start: 0;
  -moz-padding-end: 4px !important;
}

.actionsMenu > menupopup > menuitem {
  -moz-padding-start: 3px;
}
