%if 0







































%endif


#BrowserPreferences radio[pane] {
  list-style-image: url("chrome://browser/skin/preferences/Options.png"); 
}

radio[pane=paneMain] {
  -moz-image-region: rect(0px, 32px,  32px, 0px)
}

radio[pane=paneTabs] {
  -moz-image-region: rect(0px, 64px, 32px, 32px)
}

radio[pane=paneContent] {
  -moz-image-region: rect(0px, 96px,  32px, 64px)
}

radio[pane=paneApplications] {
  -moz-image-region: rect(0px, 128px,  32px, 96px)
}

radio[pane=panePrivacy] {
  -moz-image-region: rect(0px, 160px,  32px, 128px)
}

radio[pane=paneSecurity] {
  -moz-image-region: rect(0px, 192px,  32px, 160px)
}

radio[pane=paneAdvanced] {
  -moz-image-region: rect(0px, 224px, 32px, 192px)
}


#BrowserPreferences[animated="true"] #handlersView {
  height: 25em;
}

#BrowserPreferences[animated="false"] #handlersView {
  -moz-box-flex: 1;
}


.windowDialog,
.windowDialog prefpane {
  padding: 0px;
}

.contentPane {
  margin: 9px 8px 5px 8px;
}

.actionButtons {
  margin: 0px 3px 6px 3px !important;
}


#cookiesChildren::-moz-tree-image(domainCol) {
  width: 16px;
  height: 16px;
  margin: 0px 2px;
  list-style-image: url("moz-icon://stock/gtk-file?size=menu");
}

#paneApplications {
  margin-left: 4px;
  margin-right: 4px; 
  padding-left: 0;
  padding-right: 0; 
}

#linksOpenInBox {
  margin-top: 5px;
}

#paneAdvanced {
  padding-bottom: 10px;
}
#advancedPrefs {
  margin-left: 0;
  margin-right: 0; 
}

#cookiesChildren::-moz-tree-image(domainCol, container) {
  list-style-image: url("moz-icon://stock/gtk-directory?size=menu");
}

#cookieInfoBox {
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 0px;
  margin: 4px;
  padding: 0px;
}



.bottomBox {
  padding-bottom: 4px;
}




#SanitizeDurationBox {
  padding-bottom: 10px;
}

#sanitizeDurationChoice {
  margin: 0; 
}

#sanitizeDurationLabel {
  -moz-margin-start: 3px;
}

#SanitizeDialogPane > groupbox {
  margin-top: 0;
}
