




































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 

#infoContainer {
  max-width: 45em;
}

#info\.body {
  -moz-user-focus: normal;
  -moz-user-select: text;
  cursor: text !important;
  white-space: pre-wrap;
  unicode-bidi: -moz-plaintext;
}

#loginLabel, #password1Label {
  text-align: right;
}

