



window {
  border: 1px solid #ff9500;
}

#audioVideoButton,
#screenShareButton,
#firefoxButton {
  height: 29px;
  margin: 0;
  -moz-appearance: none;
  border-style: none;
}

#firefoxButton {
  background-image: url("chrome://branding/content/icon48.png");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center center;
  min-width: 29px;
  background-color: white;
}

#firefoxButton:hover {
  background-color: #f2f2f2;
}

#screenShareButton {
  background-image: url("webRTC-screen-white-16.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  min-width: 27px;
  display: none;
}

window[sharingscreen] > #screenShareButton {
  display: -moz-box;
}

#audioVideoButton {
  display: none;
  background-repeat: no-repeat;
}


window[sharingscreen] > #audioVideoButton {
  margin-right: -1px;
}


window[sharingvideo] > #audioVideoButton,
window[sharingaudio] > #audioVideoButton {
  display: -moz-box;
  background-position: center center;
  background-size: 16px;
  min-width: 26px;
}

window[sharingvideo] > #audioVideoButton {
  background-image: url("webRTC-camera-white-16.png");
}

window[sharingaudio] > #audioVideoButton {
  background-image: url("webRTC-microphone-white-16.png");
}


window[sharingaudio][sharingvideo] > #audioVideoButton {
  background-image: url("webRTC-camera-white-16.png"),
                    url("webRTC-microphone-white-16.png");
  background-position: 6px center, 26px center;
  background-size: 16px, 16px;
  min-width: 46px;
}


#audioVideoButton,
#screenShareButton {
  background-color: #ffaa33;
}

#audioVideoButton:hover,
#screenShareButton:hover {
  background-color: #ff9500;
}


#audioVideoButton > .box-inherit > .button-menu-dropmarker,
#screenShareButton > .box-inherit > .button-menu-dropmarker {
  display: none;
}


#shareSeparator {
  width: 1px;
  margin: 4px -1px 4px 0;
  background-color: #FFCA80;
  
  position: relative;
  z-index: 1;
  display: none;
}

window[sharingscreen][sharingvideo] > #shareSeparator,
window[sharingscreen][sharingaudio] > #shareSeparator {
  display: -moz-box;
}

:-moz-any(#audioVideoButton, #screenShareButton,
          #firefoxButton):-moz-focusring > .button-box {
  border: none;
}
