



%include places.css


@media (-moz-windows-default-theme) {
  #bookmarksPanel,
  #history-panel {
    background-color: #EEF3FA;
  }

  .sidebar-placesTree {
    background-color: transparent;
    border-top: none;
  }
}
