



html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font: message-box;
  color: var(--theme-body-color);
}



#container {
  height: 100%;
  display: flex;
  position: relative;
}

#container.dragging {
  -moz-user-select: none;
}

.filters-list,
.presets-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.filters-list {
  

  flex-grow: 1;
  padding: 0 6px;
}

.presets-list {
  
  width: 200px;
  padding-left: 6px;
  transition: width .1s;
  flex-shrink: 0;
  border-left: 1px solid var(--theme-splitter-color);
}

.presets-list .add {
  margin-top: 4px;
}

#container:not(.show-presets) .presets-list {
  width: 0;
  border-left: none;
  padding-left: 0;
}

#container.show-presets .filters-list {
  width: 300px;
}




#filters,
#presets {
  flex-grow: 1;
  
  overflow-y: auto;
}





.footer {
  display: flex;
  margin: 10px 3px;
}

.footer :not(button) {
  flex-grow: 1;
  margin-right: 3px;
}



.filter,
.filter-name,
.filter-value {
  display: flex;
  align-items: center;
}

.filter {
  margin: 5px 0;
}

.filter-name {
  width: 120px;
  margin-right: 10px;
}

.filter-name label {
  -moz-user-select: none;
  flex-grow: 1;
}

.filter-name label.devtools-draglabel {
  cursor: ew-resize;
}



.filter-name i {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: grab;
  background: linear-gradient(to bottom,
                              currentColor 0,
                              currentcolor 1px,
                              transparent 1px,
                              transparent 2px);
  background-repeat: repeat-y;
  background-size: auto 4px;
  background-position: 0 1px;
}

.filter-value {
  min-width: 150px;
  margin-right: 10px;
  flex: 1;
}

.filter-value input {
  flex-grow: 1;
}


.theme-light .add,
.theme-light .remove-button {
  filter: invert(1);
}

.preset {
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 3px 5px;

  flex-direction: row;
  flex-wrap: wrap;
}

.preset label,
.preset span {
  display: flex;
  align-items: center;
}

.preset label {
  flex: 1 0;
  cursor: pointer;
  color: var(--theme-body-color);
}

.preset:hover {
  background: var(--theme-selection-background);
}

.preset:hover label, .preset:hover span {
  color: var(--theme-selection-color);
}

.theme-light .preset:hover .remove-button {
  filter: invert(0);
}

.preset .remove-button {
  order: 2;
}

.preset span {
  flex: 2 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  order: 3;
  color: var(--theme-body-color-alt);
}

.remove-button {
  width: 16px;
  height: 16px;
  background: url(chrome://browser/skin/devtools/close@2x.png);
  background-size: cover;
  font-size: 0;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

#container .dragging {
  position: relative;
  z-index: 10;
  cursor: grab;
}


#container p {
  text-align: center;
  line-height: 20px;
}

.add {
  background: url(chrome://browser/skin/devtools/add.svg);
  background-size: cover;
  border: none;
  width: 16px;
  height: 16px;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
}
