






.breadcrumbs-widget-item {
  direction: ltr;
}

.breadcrumbs-widget-item {
  -moz-user-focus: normal;
}



.side-menu-widget-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.side-menu-widget-item-contents {
  -moz-user-focus: normal;
}



.variables-view-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.variables-view-element-details:not([open]) {
  display: none;
}

.variables-view-scope,
.variable-or-property {
  -moz-user-focus: normal;
}

.variables-view-scope > .title,
.variable-or-property > .title {
  overflow: hidden;
}

.variables-view-scope[non-header] > .title,
.variable-or-property[non-header] > .title,
.variable-or-property[non-match] > .title {
  display: none;
}
