



<!DOCTYPE HTML>
<html>
<head>
  <style>
    .parent {
      /*
        With the darken blend mode, green will overwrite white parts of this
        background, while black parts of this background will show through.
      */
      background: linear-gradient(#fff 0%, #fff 50%, #000 50%, #000 100%);
      width: 100px;
      height: 100px;
    }

    .child {
      filter: blur(3px);
      mix-blend-mode: darken;
      background: #0f0;
      width: 100px;
      height: 100px;
    }
  </style>
</head>
<body>
  



  <div class="parent">
    <div class="child"></div>
  </div>
</body>
</html>
