




































.mrValue {
  font-weight: bold;
  color: #400;
}

.mrPerc {
}

.mrName {
  font-style: italic;
  color: #004;
}

.treeLine {
  color: #888;
}

.option {
  font-size: 80%;
  -moz-user-select: none;  
}
