




































.mrValue {
  font-weight: bold;
  color: #400;
}

.mrPerc {
}

.mrName {
  color: #004;
}

.hasDesc:hover {
  text-decoration: underline;
}

.mrStar {
  color: #604;
}

.treeLine {
  color: #888;
}

.option {
  font-size: 80%;
  -moz-user-select: none;  
}

.legend {
  font-size: 80%;
  -moz-user-select: none;  
}

