




































.accuracyWarning {
  color: #f00;
}

.mrValue {
  font-weight: bold;
  color: #400;
}

.mrPerc {
}

.mrName {
  color: #004;
}

.hasDesc:hover {
  text-decoration: underline;
}

.mrStar {
  color: #604;
}

.treeLine {
  color: #888;
}

.option {
  font-size: 80%;
  -moz-user-select: none;  
}

.legend {
  font-size: 80%;
  -moz-user-select: none;  
}

body.verbose {
  
  max-width: 100% !important;
}

h2.tree {
  cursor: pointer;
  background: #ddd;
  padding-left: .1em;
}

body.non-verbose pre.tree {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

pre.collapsed {
  display: none;
}
