











.status_OK {
  color: #FFFFFF;
  background-color: #8fdf5f;
}

.status_failed {
  color: #FFFFFF;
  background-color: #e98080;
}

.status_building {
  color: #666666;
  background-color: #fffc6c;
}

.status_warnings {
  color: #000000;
  background-color: #FFC343;
}

.last_known_good_revision {
  font-size: 800%;
}

.status_cell {
  width: 100px;
  text-align: center;
}

body {
  margin-left: 35px;
  margin-top: 25px;
}