




































html {
  background: white;
  font-family: "Nokia Sans", Tahoma, sans-serif !important;
  font-size: 24px;
  margin: 0px 20px;
}

#wrapper {
  max-width: 600px;
  margin: 0 auto;
}

#logo {
  float: right;
  margin-top: -24px;
  margin-right: -34px;
}

#header {
  font-weight: bold;
  color: white;
  background: transparent -moz-linear-gradient(top, rgba(57,89,117,1) 0%, rgba(30,66,98,1) 50%, rgba(24,54,82,1) 90%);
  -moz-border-radius: 6px;
  padding: 12px;
  padding-bottom: 14px;
  margin-bottom: 12px;
  margin-top: 20px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 -3px 0px, rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

#header-suffix {
  color: rgb(112,136,156);
}

.section-box {
  background-color: white;
  padding: 0;
  margin-bottom: 8px;
  -moz-border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.3);
  -moz-box-shadow: 
    inset rgba(255, 255, 255, 0.5) 0 1px 0px,
    inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

.section-box > h1 {
  font-size: 18px;
  font-weight: normal;
  color: black;
  background: transparent -moz-linear-gradient(top, rgba(235,235,235,0.2) 0%, rgba(235,235,235,1) 90%);
  margin: 0;
  padding: 4px 12px 8px 12px;
  -moz-border-radius: 8px 8px 0 0;
}

.section-box > div {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 8px;
  padding-bottom: 12px;
  position: relative;
}

.section-box > div:last-child {
  border-bottom: 0;
}


.section-box > div > div,
.section-row > div > div {
  margin-left: 48px;
}

.section-box .title {
  color: black;
}

.section-box .openall {
  text-align: right;
  font-size: 18px;
  padding: 12px 8px;
  color: black;
}

.section-box .version {
  margin-left: 12px;
  font-size: 18px;
  color: gray;
}

.section-box .inner {
  pointer-events: none;
}

.section-box .favicon {
  border: none;
  top: 8px;
  left: 12px;
  width: 32px;
  height: 32px;
  position: absolute;
  pointer-events: none;
}

#newAddons > div:not(.loading) {
  background: url("images/arrowright-16.png") 99% center no-repeat;
}

#remoteTabs[disabled=true] {
  pointer-events: none;
  color: #aaa;
}

#remoteTabs[disabled=true] > div > .favicon {
  opacity: 0.5;
}

.section-row {
  color: black;
  background: transparent -moz-linear-gradient(top, rgba(235,235,235,0.2) 0%, rgba(235,235,235,1) 90%);
  padding: 8px;
  padding-bottom: 12px;
  -moz-border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.3);
  -moz-box-shadow: 
    inset rgba(255, 255, 255, 0.5) 0 1px 0px,
    inset rgba(0, 0, 0, 0.1) 0 -3px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 0px;
  margin: 24px auto;
}

.section-row > div {
  position: relative;
  pointer-events: none;
}

.section-row .favicon {
  border: none;
  top: 0;
  left: 4px;
  width: 32px;
  height: 32px;
  position: absolute;
}

.loading > img {
  display: block;
  margin: 0 auto;
}

.no-items {
  text-align: center;
}

#about {
  font-size: 18px;
  text-align: center;
  margin-top: 24px;
}

#about > img {
  vertical-align: middle;
  margin: 4px;
}
