




































#sidebar { 
  float: right;
  margin-top: -8px;
}

#menu li[selected] {
  background-color: lightgrey;
  border-style: inset inset none inset;
}
#menu li { 
  display: block;
  float: left;
  font-weight: bold;
  padding: .5em;
  margin-left:1px;
  margin-right:1px;
  border-style: outset outset none outset;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
}

#main { 
  clear: left;
}
body {
  overflow: scroll;
}
#content { 
  vertical-align: top;
}

div.is_good { 
  padding-left: 16px;
}

.missing, .busted { 
  background-color: red;
}

.obsolete, .fair { 
  background-color: orange;
}

.zero { 
  opacity: .3;
  background-color: green !important;
}


.good { 
  background-color: limegreen;
}

.void { 
  color: grey;
  background-color: lightgrey;
}

td.locale { 
  width: 4em;
}
td.app-res { 
  width: 4em;
}

td.count { 
  padding-left:3px;
  padding-right: 3px;
  width: 3.5em;
  text-align: right;
}

div.calbordered { 
  float: none;
}


#log-dlg {
  overflow: scroll;
}
.log-row {
  margin: 0pt;
}
.ERROR {
  background-color: coral;
}



td.ordered {border: 2px solid black;}
td.error {background-color: coral;}
td.conflict {background-color: grey;}
td.enUS {opacity: .5;}


.feedreader { border: thin solid lightgrey }