



@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

menu,
menuitem,
menucaption {
  -moz-appearance: menuitem;
  -moz-box-align: center;
  color: MenuText;
  font: -moz-pull-down-menu;
  list-style-image: none;
  -moz-image-region: auto;
  padding: 0 21px 2px;
}

menu[disabled="true"], menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] {
  color: -moz-mac-menutextdisable;
}



.menu-text,
.menu-iconic-text,
.menu-accel,
.menu-iconic-accel {
  margin: 0 !important;
}

.menu-text,
.menu-iconic-text {
  font-weight: inherit;
  color: inherit;
}

menucaption > .menu-text,
menucaption > .menu-iconic-text {
  font-weight: bold;
}

.menu-description {
  font-style: italic;
  color: -moz-mac-menutextdisable;
  -moz-margin-start: 1ex !important;
}

.menu-iconic-icon {
  height: 16px;
  margin-top: -2px;
  margin-bottom: -2px;
  -moz-margin-end: 5px;
  


  -moz-margin-start: -5px;
}


.menuitem-iconic,
.menu-iconic,
menuitem[image],
menuitem[src] {
  
  padding-top: 1px;
  padding-bottom: 3px;
}

.menuitem-iconic > .menu-iconic-left > .menu-iconic-icon,
.menu-iconic > .menu-iconic-left > .menu-iconic-icon,
menuitem[image] > .menu-iconic-left > .menu-iconic-icon,
menuitem[src] > .menu-iconic-left > .menu-iconic-icon {
  -moz-margin-start: 0;
  width: 16px;
}



.menu-right,
.menu-accel-container {
  -moz-margin-start: 21px;
  -moz-margin-end: -9px;
  -moz-box-pack: end;
}




@media not all and (-moz-mac-lion-theme) {
  .menu-right {
    -moz-margin-end: -10px;
  }
}

.menu-right {
  list-style-image: none;
  -moz-appearance: menuarrow;
}



menubar > menu {
  -moz-appearance: none;
  padding: 2px 5px 2px 7px;
  margin: 1px 0;
}

menubar > menu[_moz-menuactive="true"] {
  color: inherit;
  background-color: transparent;
}

menubar > menu[_moz-menuactive="true"][open="true"] {
  -moz-appearance: menuitem;
  color: -moz-mac-menutextselect;
}



.menubar-left {
  margin: 0 2px;
  color: inherit;
}

.menubar-text {
  margin: 0 1px !important;
  color: inherit;
}



menupopup > menu,
menupopup > menuitem,
menupopup > menucaption {
  max-width: 42em;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"] {
  color: -moz-mac-menutextselect;
  background-color: Highlight;
}



menulist > menupopup > menuitem,
menulist > menupopup > menucaption,
menulist > menupopup > menu {
  max-width: none;
  font: inherit;
  color: -moz-FieldText;
}



menulist[editable="true"] > menupopup > menuitem,
menulist[editable="true"] > menupopup > menucaption {
  -moz-appearance: none;
}

menulist[editable="true"] > menupopup > :moz-any(menuitem, menucaption) > .menu-iconic-left
  display: none;
}



:not(menulist) > menupopup > menuitem[checked="true"],
:not(menulist) > menupopup > menuitem[selected="true"] {
  -moz-appearance: checkmenuitem;
}

menulist:not([editable="true"]) > menupopup > menuitem[checked="true"]::before,
menulist:not([editable="true"]) > menupopup > menuitem[selected="true"]::before {
  content: '\2713'; 
  display: block;
  width: 15px;
  -moz-margin-start: -15px;
}



menuseparator {
  -moz-appearance: menuseparator;
  margin: 5px 0;
  padding: 1px 0;
}



.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}



.treecell-popupcell-menu {
  margin-left: -2px;
  list-style-image: url("chrome://global/skin/columnselect.gif");
  -moz-image-region: auto;
}
