



@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

menulist {
  -moz-appearance: menulist;
  margin: 5px 2px 3px;
  min-height: 20px !important;
  color: -moz-DialogText;
  text-shadow: none;
}

.menulist-label-box {
  -moz-appearance: menulist-text;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin-bottom: 1px;
}

.menulist-label {
  margin: 1px 3px !important;
}

.menulist-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}



.menulist-dropmarker {
  display: none;
}



menulist[disabled="true"] {
  color: GrayText;
}

menulist[disabled="true"] > .menulist-dropmarker {
  -moz-padding-start: 7px !important;
}



menulist[editable="true"] {
  -moz-appearance: menulist-textfield;
  margin: 4px 2px;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background: inherit;
  font: inherit;
}
