



%include shared.inc

#topBar {
  -moz-appearance: toolbar;
}

.viewGroupWrapper {
  -moz-box-align: center;
  -moz-box-pack: center;
}

#viewGroup {
  margin: 4px 0 9px;
}

#viewGroup > radio,
#viewGroup > toolbarbutton {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-appearance: toolbarbutton;
  font: menu;
  text-shadow: @loweredShadow@;
  margin: 0;
  padding: 0 1px;
  height: 22px;
}

#viewGroup > radio[selected=true],
#viewGroup > toolbarbutton[checked=true] {
  color: #FFF !important;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px;
}
