



%include ../../shared/newtab/newTab.inc.css


.newtab-undo-button {
  color: rgb(0,102,204);
}

.newtab-undo-button > .button-box {
  padding: 0;
}

#newtab-intro-panel,
.newtab-title {
  font-family: Segoe UI;
}
