



.title {
  background-image: url("chrome://browser/skin/welcome-back.svg");
}

.radioRestoreContainer:not(:last-child) {
  margin-bottom: 0.2em;
}




#tabList {
  display: none;
}

#tabList[available] {
  display: -moz-box;
}
