




































#aboutLogoContainer {
  width: 300px;
}

#version {
  font-weight: bold;
  color: #909090;
  margin: -24px 20px 0 118px;
}

#aboutLinks {
  padding: 5px;
  border: 2px solid #e6e5e3;
  font-size: 15px;
}
#aboutLinks li {
  clear: both;
  padding: 5px 10px;
  border-bottom: 2px solid #e6e5e3;
  list-style: none;
}
#aboutLinks li:last-child {
  border-bottom: 0;
}
#aboutLinks li a {
  display: block;
  color: #3a3834;
  background: url("images/arrowright-16.png") right center no-repeat;
  padding: 10px 40px 10px 5px;
}

#aboutDetails {
  margin-top: 15px;
  font-size: x-small;
}
