








































html {
  background: #f0f0f0;
}

body {
  margin: 0;
  padding: 0 1em;
  color: black;
  font-family: "Nokia Sans", Tahoma, sans-serif !important;
  font-size: 100% !important;
}

h1 {
  margin: 0 0 .6em 0;
  border-bottom: 1px solid lightgray;
  font-size: 160%;
}

h2 {
  font-size: 130%;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 1em auto;
  border: 1px solid #FFBD09; 
  -moz-border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: url("chrome://global/skin/icons/sslWarning.png") left 0 no-repeat white;
  -moz-background-origin: content;
}

body[dir="rtl"] #errorPageContainer {
  background-position: right 0;
}

#errorTitle {
  -moz-margin-start: 80px;
}

#errorLongContent {
  -moz-margin-start: 80px;
}

#technicalContent > h2, #expertContent > h2 {
  background : url("chrome://browser/skin/images/section-expanded-16.png") left 0 no-repeat;
}

#technicalContent[collapsed] > h2,
#expertContent[collapsed] > h2 {
  background-image: url("chrome://browser/skin/images/section-collapsed-16.png");
}
