




































body {
  color: #4b4742;
  font-size: 1.8mm;
}

.intro {
  padding-top: 10px;
}

p {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

p.title {
  font-size: 2.4mm;
}

p.rightalign {
  text-align: right;
  padding-bottom: 0;
}

input[type="button"] {
  font-size: 2.4mm;
  margin-bottom: 20px;
}

.go {
  position: relative;
  padding-left: 100px;
}

.go > img {
  position: absolute;
  left: 0;
  top: 0;
}

#welcomeImage {
  float: left;
}

#welcomeAnim {
  float: right;
}

#overview {
  padding-bottom: 30px;
  clear: both;
}
