






































.devtools-toolbar {
  -moz-appearance: none;
  padding: 4px 3px;
  box-shadow: 0 1px 0 hsla(209,29%,72%,.25) inset;
  background-image: -moz-linear-gradient(top, hsl(209,18%,34%), hsl(210,24%,16%));
}

.devtools-toolbarbutton {
  -moz-appearance: none;
  min-width: 78px;
  min-height: 22px;
  color: hsl(210,30%,85%);
  text-shadow: 0 -1px 0 hsla(210,8%,5%,.45);
  border: 1px solid hsla(211,68%,6%,.5);
  border-radius: 3px;
  background: -moz-linear-gradient(hsla(209,13%,54%,.35), hsla(209,13%,54%,.1) 85%, hsla(209,13%,54%,.2)) padding-box;
  box-shadow: 0 1px 0 hsla(209,29%,72%,.15) inset, 0 0 0 1px hsla(209,29%,72%,.1) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
  -moz-margin-end: 3px;
}

.devtools-toolbarbutton > .toolbarbutton-icon {
  margin: 0;
}

.devtools-toolbarbutton:not([checked]):hover:active {
  background-color: hsla(210,18%,9%,.1);
  background-image: -moz-linear-gradient(hsla(209,13%,54%,.35), hsla(209,13%,54%,.1) 85%, hsla(209,13%,54%,.2));
  box-shadow: 0 1px 3px hsla(211,68%,6%,.5) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
}

.devtools-toolbarbutton[checked] {
  border-color: hsla(211,68%,6%,.6);
  background: -moz-linear-gradient(hsla(211,68%,6%,.1), hsla(211,68%,6%,.2));
  box-shadow: 0 1px 3px hsla(211,68%,6%,.5) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
  color: hsl(200,100%,60%) !important;
}

.devtools-toolbarbutton:[checked]:hover:active {
  background-color: hsla(211,68%,6%,.2);
}



.devtools-searchinput {
  -moz-appearance: none;
  margin: 0 3px;
  border: 1px solid hsla(211,68%,6%,.6);
  box-shadow: inset 0 1px 0 hsla(211,68%,6%,.05), 0 0 0 1px hsla(210,40%,83%,.1);
  border-radius: 2px;
  background-color: transparent;
  background-image: url(magnifying-glass.png), -moz-linear-gradient(hsla(210,16%,76%,.15), hsla(210,16%,76%,.35));
  background-repeat: no-repeat;
  background-position: 4px 3px, top left, top left;
  padding-top: 0;
  padding-bottom: 0;
  -moz-padding-start: 18px;
  -moz-padding-end: 12px;
  color: hsl(210,30%,85%);
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
}

.devtools-searchinput[focused] {
  border-color: hsl(200,70%,40%) hsl(200,75%,37%) hsl(200,80%,35%);
  background-origin: padding-box;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 1px hsla(211,68%,6%,.1);
}

.devtools-searchinput:-moz-locale-dir(rtl) {
  background-position: -moz-calc(100% - 4px) 3px, top left, top left;
}

.devtools-searchinput > .textbox-input-box > .textbox-search-icons {
  display: none;
}

.devtools-searchinput > .textbox-input-box > .textbox-input:-moz-placeholder {
  color: hsl(208,10%,66%);
}
