




































.splitview-root {
  margin-top: 4px;
}

.splitview-filter {
  -moz-box-flex: 1;
  -moz-margin-start: 1ex;
  max-width: 25ex;
}

.splitview-nav-container {
  -moz-box-pack: center;
  margin: 4px;
  border: 1px inset WindowFrame;
  border-radius: 4px;
  background-color: -moz-default-background-color;
  color: -moz-default-color;
}

ol.splitview-nav {
  overflow-x: hidden;
  overflow-y: auto;
  list-style-image: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

ol.splitview-nav > li {
  display: -moz-box;
  -moz-box-orient: vertical;
  outline: 0;
  border-bottom: 1px solid ThreeDShadow;
  padding: 2px;
  padding-top: 4px;
  vertical-align: bottom;
  color: black;
  -moz-transition-property: background-color, max-height;
  -moz-transition-duration: 1s;
  max-height: 2048px; 
}
ol.splitview-nav > li.splitview-active {
  background-color: #eaf2fe;   
}
ol.splitview-nav > li:hover,
ol.splitview-nav > li:focus {
  background-color: #f0f5fd;   
}

ol.splitview-nav > li.splitview-flash {
  background-color: #faf0e1;   
}
ol.splitview-nav > li.splitview-slide {
  max-height: 0;
  overflow: hidden;
}

.splitview-side-details {
  margin: 2px;
}

.splitview-nav.splitview-all-filtered ~ .splitview-nav.placeholder.all-filtered,
.splitview-nav:empty ~ .splitview-nav.placeholder.empty {
  -moz-box-flex: 0;
  text-align: center;
}

.splitview-main .toolbar,
.splitview-main .toolbar > * {
  display: -moz-box;
}
.splitview-main .toolbar {
  -moz-box-flex: 1;
  -moz-box-orient: horizontal;
  -moz-padding-start: 3px;
}

a {
  color: -moz-hyperlinktext;
  text-decoration: underline;
}

button {
  margin: 0;
}


@media (max-width: 250px) {
  .splitview-filter {
    max-width: none;
    position: fixed;
    margin: 0;
    bottom: -4em;
    -moz-transition-property: bottom;
    -moz-transition-duration: 0.2s;
  }
  .splitview-filter[focused="true"] {
    bottom: 0;
  }
}
