



<!DOCTYPE html>
<html lang="en" class="reftest-wait">
<meta charset="utf-8">
<title>Make sure that large gradient backgrounds are painted even at extreme scroll positions</title>


<style>

html {
  background: white;
  overflow: hidden;
}

body {
  margin: 0;
  height: 204000px; /* = 255 * 800 */;
  background-image: linear-gradient(black 0px, lime 2000px);
}

div {
  height: 1000px;
  background-color: red;
}

</style>

<div></div>

<script>

window.addEventListener("MozReftestInvalidate", function () {
  document.documentElement.scrollTop = 210 * 800; // 168000 > 131072 == 2^17
  document.documentElement.removeAttribute("class");
});

</script>
