<!DOCTYPE html>


<html>
  <head>
    <link rel="author" title="Corey Ford" href="mailto:cford@mozilla.com">
    <style>
      #scroll {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        white-space: nowrap;
      }
      #scroll div {
        display: inline-block;
      }
      #sticky {
        width: 1px;
        height: 10px;
        background-color: black;
      }
    </style>
  <body>
    <div id="scroll">
      <div id="sticky"></div>
    </div>
  </body>
</html>
