<!DOCTYPE html>


<html>
  <head>
    <title>CSS Test: Sticky Positioning - support test</title>
    <link rel="author" title="Corey Ford" href="mailto:cford@mozilla.com">
    <link rel="match" href="pref-1-ref.html">
    <meta name="assert" content="This test indicates whether sticky positioning is enabled.">
    <style>
      body {
        margin: 0;
        line-height: 1;
      }
      #sticky {
        position: absolute;
        position: sticky;
        left: -100%;
        width: 100%;
        padding-bottom: 1em;
        margin-bottom: -1em;
        background: white;
      }
    </style>
  </head>
  <body>
    <p>
      "position: sticky" is:
      
      <div id="sticky">enabled</div>
      <div>disabled</div>
    </p>
  </body>
</html>
