



%include ../../shared/customizableui/panelUIOverlay.inc.css

#PanelUI-contents #zoom-out-btn {
  padding-left: 12px;
  padding-right: 12px;
}

#PanelUI-contents #zoom-in-btn {
  padding-left: 12px;
  padding-right: 12px;
}



#BMB_bookmarksPopup menupopup[placespopup=true] {
  -moz-appearance: none;
  background: transparent;
  border: none;
  padding: 6px;
}

#BMB_bookmarksPopup menupopup[placespopup=true] > hbox {
  
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  background: #FFF;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3.5px;
  margin-top: -4px;
}

#BMB_bookmarksPopup menupopup {
  padding-top: 2px;
}


#BMB_bookmarksPopup menupopup[placespopup=true] > hbox > .popup-internal-box > .arrowscrollbox-scrollbox > .scrollbox-innerbox  {
  padding-top: 4px;
}

#BMB_bookmarksPopup .menu-text {
  color: #000;
}

#BMB_bookmarksPopup .subviewbutton[disabled=true] > .menu-text {
  color: #6d6d6d;
}


#BMB_bookmarksPopup menuseparator {
  padding-top: 0;
  padding-bottom: 0;
}

.subviewbutton > .menu-right,
.subviewbutton > .menu-iconic-left {
  padding-top: 1px;
  margin-top: 1px;
  margin-bottom: 2px;
}


menuitem.subviewbutton[disabled]:not(.menuitem-iconic),

menuitem[type="checkbox"].subviewbutton {
  

  min-height: 22px;
}

.subviewbutton > .toolbarbutton-text {
  padding-top: 3px;
  padding-bottom: 3px;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-menubutton-button {
  -moz-appearance: none;
  border: 0;
  -moz-margin-start: 3px;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  padding: 0 2px;
  -moz-padding-start: 0;
  height: 18px;
}

.widget-overflow-list .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  padding: 0 6px;
}

.subviewbutton > .toolbarbutton-text {
  -moz-padding-start: 16px;
}

.subviewbutton:-moz-any([image],[targetURI],.cui-withicon, .restoreallitem, .bookmark-item) > .toolbarbutton-text {
  -moz-padding-start: 0;
}




toolbarbutton.social-provider-menuitem > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

.subviewbutton:-moz-any([image],[targetURI],.cui-withicon, .restoreallitem, .bookmark-item)[checked="true"] > .toolbarbutton-icon {
  visibility: hidden;
}

menu.subviewbutton > .menu-right {
  -moz-appearance: none;
  list-style-image: url(chrome://browser/skin/places/bookmarks-menu-arrow.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

menu[disabled="true"].subviewbutton > .menu-right {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

menu.subviewbutton > .menu-right:-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}

%ifdef WINDOWS_AERO

@media not all and (-moz-os-version: windows-vista) {
  @media not all and (-moz-os-version: windows-win7) {
    panelview .toolbarbutton-1,
    .subviewbutton,
    .widget-overflow-list .toolbarbutton-1,
    .panelUI-grid .toolbarbutton-1 > .toolbarbutton-menubutton-button,
    #BMB_bookmarksPopup menupopup[placespopup=true] > hbox,
    #edit-controls@inAnyPanel@,
    #zoom-controls@inAnyPanel@,
    #edit-controls@inAnyPanel@ > toolbarbutton,
    #zoom-controls@inAnyPanel@ > toolbarbutton {
      border-radius: 0;
    }
  }
}
%endif
