



%filter substitution
%define menuPanelWidth 21em

%include ../../shared/customizableui/panelUIOverlay.inc.css

#PanelUI-contents #zoom-out-btn {
  padding-left: 12px;
  padding-right: 12px;
}

#PanelUI-contents #zoom-in-btn {
  padding-left: 12px;
  padding-right: 12px;
}
