






































#smileButton {
  list-style-image:url("chrome://editor/content/images/smile.gif"); 
}

menu:hover > #smileButton, 
menu:hover:active > #smileButton[toggled="true"] {
	list-style-image:url("chrome://editor/content/images/smile_hover.gif");
}

menu:hover:active > #smileButton,
menu:hover > #smileButton[toggled="true"] {
	list-style-image:url("chrome://editor/content/images/smile_active.gif");
}

#smileButton[disabled="true"], 
menu:hover > #smileButton[disabled="true"], 
menu:hover:active > #smileButton[disabled="true"] {
	list-style-image:url("chrome://editor/content/images/smile_disabled.gif");
}


#insert-smile {

   list-style-image:url(chrome://editor/content/images/smile.gif);
}

#insert-frown {
   list-style-image:url(chrome://editor/content/images/frown.gif);
}

#insert-wink {
   list-style-image:url(chrome://editor/content/images/wink.gif);
}

#insert-sick {
   list-style-image:url(chrome://editor/content/images/sick.gif);
}

#insert-smile5 {
   list-style-image:url(chrome://editor/content/images/smile.gif);
}

#insert-smile6 {
   list-style-image:url(chrome://editor/content/images/frown.gif);
}

#insert-smile7 {
   list-style-image:url(chrome://editor/content/images/wink.gif);
}



