








































p:after,br:after,
h1:after,h2:after,h3:after,h4:after,h5:after,h6:after,
address:after,blockquote:after,listing:after,
plaintext:after, xmp:after, pre:after,
li:after,dt:after,dd:after
{
  content: "\B6 ";
}
