



































@namespace xlink url(http://www.w3.org/1999/xlink);

title {
  font-weight: bold;
  display: block;
}

xlink|link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  padding-left: +5px;
}

sect1,sect2,sect3 {
  display: block;
  padding-left: +20px;
}

p {
  display: block;
  padding-left: +5px;
}