

#placesTreechildren {
  -moz-user-focus: normal;
}

#placesTreechildren::-moz-tree-cell(grippyRow),
#placesTreechildren::-moz-tree-cell-text(grippyRow),
#placesTreechildren::-moz-tree-image(grippyRow) {
  cursor: -moz-grab;
}




#sanitizeEverythingWarning,
#sanitizeEverythingUndoWarning {
  white-space: pre-wrap;
}
