



%include ../../shared/readinglist/sidebar.inc.css

html {
  border: 1px solid ThreeDShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
  box-sizing: border-box;
}

.item {
  -moz-padding-end: 0;
}

.item.active {
  background-color: -moz-cellhighlight;
  color: -moz-cellhighlighttext;
}

.item-title {
  margin: 1px 0 0;
}

.item-title, .item-domain {
  -moz-margin-end: 6px;
}

.remove-button {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 16, 16, 0);
}

.remove-button:hover {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 32, 16, 16);
}

.remove-button:hover:active {
  background-image: -moz-image-rect(url("chrome://global/skin/icons/close.svg"), 0, 48, 16, 32);
}
