



















@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/1999/xhtml"); 

* {
  -moz-user-focus: ignore;
  -moz-user-select: none;
  display: -moz-box;
  box-sizing: border-box;
}

:root {
  text-rendering: optimizeLegibility;
  -moz-binding: url("chrome://global/content/bindings/general.xml#root-element");
  -moz-control-character-visibility: visible;
}

:root:-moz-locale-dir(rtl) {
  direction: rtl;
}


[hidden="true"] {
  display: none;
}


[collapsed="true"],
[moz-collapsed="true"] {
  visibility: collapse;
}



description {
  -moz-binding: url("chrome://global/content/bindings/text.xml#text-base");
}

label {
  -moz-binding: url("chrome://global/content/bindings/text.xml#text-label");
}

label.text-link, label[onclick] {
  -moz-binding: url("chrome://global/content/bindings/text.xml#text-link");
  -moz-user-focus: normal;
}

label[control], label.radio-label, label.checkbox-label, label.toolbarbutton-multiline-text {
  -moz-binding: url("chrome://global/content/bindings/text.xml#label-control");
}

html|span.accesskey {
  text-decoration: underline;
}



resizer {
  -moz-binding: url("chrome://global/content/bindings/resizer.xml#resizer");
  position: relative;
  z-index: 2147483647;
}




scrollbar[orient="horizontal"] {
  direction: ltr;
}

thumb {
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#thumb);
  display: -moz-box !important;
}

.scale-thumb {
  -moz-binding: url(chrome://global/content/bindings/scale.xml#scalethumb);
}

scrollbar, scrollbarbutton, scrollcorner, slider, thumb, scale {
  -moz-user-select: none;
}

scrollcorner {
  display: -moz-box !important;
}

scrollcorner[hidden="true"] {
  display: none !important;
}

scrollbar[value="hidden"] {
  visibility: hidden;
}

scale {
  -moz-binding: url(chrome://global/content/bindings/scale.xml#scale);
}

.scale-slider {
  -moz-binding: url(chrome://global/content/bindings/scale.xml#scaleslider);
  -moz-user-focus: normal;
}

scrollbarbutton[sbattr="scrollbar-up-top"]:not(:-moz-system-metric(scrollbar-start-backward)),
scrollbarbutton[sbattr="scrollbar-down-top"]:not(:-moz-system-metric(scrollbar-start-forward)),
scrollbarbutton[sbattr="scrollbar-up-bottom"]:not(:-moz-system-metric(scrollbar-end-backward)),
scrollbarbutton[sbattr="scrollbar-down-bottom"]:not(:-moz-system-metric(scrollbar-end-forward)) {
  display: none;
}

thumb[sbattr="scrollbar-thumb"]:-moz-system-metric(scrollbar-thumb-proportional) {
  -moz-box-flex: 1;
}
