@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/1999/xhtml"); 

html|*.textbox-input {
  -moz-appearance: none !important;
  text-align: inherit;
  text-shadow: inherit;
  -moz-box-sizing: border-box;
  -moz-box-flex: 1;
}

html|*.textbox-textarea {
  -moz-appearance: none !important;
  text-shadow: inherit;
  -moz-box-sizing: border-box;
  -moz-box-flex: 1;
}














