




#response-content-image-box {
  overflow: auto;
}

#timings-summary-blocked {
  display: none; 
}


@media (max-width: 700px) {
  #details-pane-toggle,
  .requests-menu-waterfall {
    display: none;
  }
}
