



body {
  font-family: Roboto,"Droid Sans",helvetica,arial,clean,sans-serif;
  font-size: 14px;
}

body.normal  .showPrivate,
body.private .showNormal {
  display: none;
}

div.contentSection {
  width: 92%;
  max-width: 400px;
  margin: 0 auto;
}

body.private {
  color: #9ba3ab;
  background-color: #292c29;
}

body.normal {
  color: #222;
  background-color: #ced7de;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

body.private h1 {
  color: #d06bff;
}

img {
  display: block;
  width: 125px;
  height: auto;
  margin: 0 auto;
}

@media all and (max-height: 399px) {
  body {
    margin-top: 25px;
  }
}

@media all and (min-height: 400px) and (max-height: 599px) {
  body {
    margin-top: 50px;
  }
}

@media all and (min-height: 600px) and (max-height: 799px) {
  body {
    margin-top: 150px;
  }
}

@media all and (min-height: 800px) {
  body {
    margin-top: 250px;
  }
}
