





body.verbose {
  
  max-width: 100% !important;
}

body.non-verbose pre.entries {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

h2 {
  background: #ddd;
  padding-left: .1em;
}


button {
  margin: 1%;
  padding: 2%;
}

.accuracyWarning {
  color: #f00;
}

.badInputWarning {
  color: #f00;
}

.treeline {
  color: #888;
}

.mrValue {
  font-weight: bold;
  color: #400;
}

.mrPerc {
}

.mrSep {
}

.mrName {
  color: #004;
}

.mrNote {
  color: #604;
}

.hasKids {
  cursor: pointer;
}

.option {
  font-size: 80%;
  -moz-user-select: none;  
}

.legend {
  font-size: 80%;
  -moz-user-select: none;  
}

.hiddenOnMobile {
  display: none;
}

.debug {
  font-size: 80%;
}

.hidden {
  display: none;
}

.invalid {
  color: #fff;
  background-color: #f00;
}

