



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  --moz-vertical-spacing: 10px;
  --moz-background-height: 32px;
}

body {
  
  background-image: linear-gradient(-45deg, #dfe8ee,     #dfe8ee 33%,
                                            #ecf0f3 33%, #ecf0f3 66%,
                                            #dfe8ee 66%, #dfe8ee);
  background-size: 64px var(--moz-background-height);
  background-repeat: repeat-x;

  background-color: #f1f1f1;
  padding: 0 20px;

  font-weight: 300;
  font-size: 13px;
  -moz-text-size-adjust: none;
  font-family: sans-serif;
}


ul {
  

  padding: 0 1em;
  margin: 0;
  list-style: round outside none;
}

#errorShortDesc,
li:not(:last-of-type) {
  
  margin: var(--moz-vertical-spacing) 0;
}

li > button {
  
  margin-left: -1em;
  margin-right: -1em;
  width: calc(100% + 2em);
}


.blockedsite > #errorPageContainer > #errorLongContent {
  flex: 1;
}

h1 {
  margin: 0;
  
  padding: var(--moz-vertical-spacing) 0;
  font-weight: 300;
  border-bottom: 1px solid #e0e2e5;
}

h2 {
  font-size: small;
  padding: 0;
  margin: var(--moz-vertical-spacing) 0;
}

p {
  margin: var(--moz-vertical-spacing) 0;
}

button {
  
  display: block;
  width: 100%;
  border: none;
  padding: 1rem;
  font-family: sans-serif;
  background-color: #e0e2e5;
  font-weight: 300;
  border-radius: 2px;
  background-image: none;
  margin: var(--moz-vertical-spacing) 0 0;
}

button.inProgress {
  background-image: linear-gradient(-45deg, #dfe8ee,     #dfe8ee 33%,
                                            #ecf0f3 33%, #ecf0f3 66%,
                                            #dfe8ee 66%, #dfe8ee);
  background-size: 37px 5px;
  background-repeat: repeat-x;
  animation: progress 6s linear infinite;
}

@keyframes progress {
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}

.certerror {
  background-image: linear-gradient(-45deg, #f0d000,     #f0d000 33%,
                                            #fedc00 33%, #fedc00 66%,
                                            #f0d000 66%, #f0d000);
}

.blockedsite {
  background-image: linear-gradient(-45deg, #9b2e2e,     #9b2e2e 33%,
                                            #a83232 33%, #a83232 66%,
                                            #9b2e2e 66%, #9b2e2e);
  background-color: #b14646;
  color: white;
}

#errorPageContainer {
  

  max-width: 550px;
  margin: 0 auto;
  transform: translateY(var(--moz-background-height));
  padding-bottom: var(--moz-vertical-spacing);

  min-height: calc(100% - var(--moz-background-height) - var(--moz-vertical-spacing));
  display: flex;
  flex-direction: column;
}








.expander {
  margin: var(--moz-vertical-spacing) 0;
  background-image: url("chrome://browser/skin/images/dropmarker.svg");
  background-repeat: no-repeat;
  
  background-position: 3px 5.5px;
  background-size: 10px 7px;
  padding-left: 18px;
}

div[collapsed="true"] > .expander {
  background-image: url("chrome://browser/skin/images/dropmarker-right.svg");
  
  background-size: 7px 10px;
  background-position: 5.5px 4px;
}

div[hidden] > .expander,
div[hidden] > .expander + *,
div[collapsed="true"] > .expander + * {
  display: none;
}

.blockedsite h1 {
  border-bottom-color: #9b2e2e;
}

.blockedsite button {
  background-color: #9b2e2e;
  color: white;
}





#ignoreWarningButton {
  width: calc(100% + 40px);
  -moz-appearance: none;
  background: #b14646;
  border: none;
  text-decoration: underline;
  margin: 0;
  -moz-margin-start: -20px;
  font-size: smaller;
  border-radius: 0;
}



@media (min-width: 550px) {
  button {
    min-width: 160px;
    width: auto;
  }

  
  @media (min-height: 550px) {
    #errorPageContainer {
      padding-top: 64px;
      min-height: calc(100% - 64px);
    }
  }
}

#searchbox {
  padding: 0;
  display: flex;
  margin: var(--moz-vertical-spacing) -1em;
}

#searchbox > input {
  flex: 3;
  padding: 0em 3em 0em 1em;
  width: 100%;
  border: none;
  font-family: sans-serif;
  background-image: none;
  background-color: white;
  border-radius-top-right: none;
  border-radius-bottom-right: none;
}

#searchbox > button {
  flex: 1;
  margin: 0;
  width: auto;
}

