




































%filter substitution
%include defines.inc

.pane {
  -moz-box-pack: center;
  -moz-box-align: center;
  -moz-box-flex: 1;
}

#main-page {
  background-image: url("chrome://branding/content/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#picker-title {
  font-weight: bold;
  font-size: @font_normal@;
}

.link {
  padding: @padding_xlarge@ 0px;
  font-weight: bold;
}

richlistbox {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

#installer-page {
  background-color: black;
  color: white;
}

richlistitem {
  height: @touch_row@;
  font-size: @font_normal@;
  border-bottom: @border_width_tiny@ solid gray;
  padding: 0px @padding_normal@;
  -moz-box-align: center;
}

richlistitem .checkbox {
  width: 46px;
  height: 46px;
  list-style-image: url("chrome://browser/skin/images/radio-unselected-hdpi.png");
}

richlistitem[selected] .checkbox {
  list-style-image: url("chrome://browser/skin/images/radio-selected-hdpi.png");
}
