% This Source Code Form is subject to the terms of the Mozilla Public
% License, v. 2.0. If a copy of the MPL was not distributed with this
% file, You can obtain one at http://mozilla.org/MPL/2.0/.

%include ../shared/devedition.inc.css

:root[devtoolstheme="dark"],
:root[devtoolstheme="light"] {
   
  --chrome-nav-bar-separator-color: rgba(10, 31, 51, 0.35);
}

#TabsToolbar::after {
  display: none;
}

#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  background: var(--chrome-nav-buttons-background) !important;
  border-radius: 0 !important;
  width: auto !important;
  height: auto !important;
  padding: 2px 5px !important;
  margin: 0 !important;
  border: 1px solid var(--chrome-nav-bar-controls-border-color) !important;
  box-shadow: none !important;
}

#forward-button > .toolbarbutton-icon {
  -moz-border-start: none !important;
}


#main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon {
  box-shadow: none !important;
}


#main-window #back-button:hover:not([disabled="true"]) > .toolbarbutton-icon,
#main-window #forward-button:hover:not([disabled="true"]) > .toolbarbutton-icon {
  background: var(--chrome-nav-buttons-hover-background) !important;
  box-shadow: none !important;
}

#back-button > .toolbarbutton-icon {
  border-radius: 2px 0 0 2px !important;
}

#nav-bar .toolbarbutton-1:not([type=menu-button]),
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
  padding-top: 2px;
  padding-bottom: 2px;
}

.tabbrowser-tab {
  background-color: var(--tab-background-color);
}







#main-window[sizemode=normal] .tabbrowser-tabs[overflow="true"] {
  background-clip: padding-box;
  border-top: 1px solid var(--chrome-nav-bar-separator-color);
  -moz-border-end: 1px solid var(--chrome-nav-bar-separator-color);
  background-color: var(--tab-background-color); 
}



#main-window[sizemode=normal] .tabbrowser-tabs {
  background-clip: padding-box;
  -moz-border-start: 1px solid var(--chrome-nav-bar-separator-color);
  -moz-border-end: 1px solid transparent;
}

#main-window[sizemode=normal] .tabbrowser-tabs:not([overflow="true"]) .tabbrowser-tab,
#main-window[sizemode=normal] .tabbrowser-tabs:not([overflow="true"]) .tabbrowser-arrowscrollbox > .scrollbutton-down,
#main-window[sizemode=normal] .tabbrowser-tabs:not([overflow="true"]) .tabbrowser-arrowscrollbox > .scrollbutton-up,
#main-window[sizemode=normal] .tabbrowser-tabs:not([overflow="true"]) .tabs-newtab-button {
  background-clip: padding-box;
  border-top: 1px solid var(--chrome-nav-bar-separator-color);
}


#main-window[sizemode=normal] .tabbrowser-tabs:not([overflow="true"]) .tabbrowser-tab {
  -moz-border-top-colors: none;
}

#main-window[sizemode=normal] .tabbrowser-tabs:not([overflow="true"]) .closing-tabs-spacer {
  background-clip: padding-box;
  -moz-border-start: 1px solid var(--chrome-nav-bar-separator-color);
}

.tabs-newtab-button {
  background: var(--tab-background-color);
}


#tabbrowser-tabs,
#TabsToolbar,
#browser-panel,
#titlebar-content {
  background: transparent;
}


#main-window[sizemode="maximized"]:not([customizing]) #browser-panel {
  background: var(--chrome-background-color) !important;
}


#main-window[sizemode="maximized"] #main-menubar {
  color: var(--chrome-color);
  background-color: transparent;
}

#main-window[sizemode="maximized"] #main-menubar > menu:not(:-moz-window-inactive) {
  color: inherit;
}


.tabbrowser-arrowscrollbox > .scrollbutton-up[disabled],
.tabbrowser-arrowscrollbox > .scrollbutton-down[disabled] {
  opacity: .6;
}


.tabbrowser-arrowscrollbox > .scrollbutton-down,
.tabbrowser-arrowscrollbox > .scrollbutton-up {
  background-image: none !important;
  transition: none; 
}


#main-window[sizemode="maximized"] .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  padding-left: 15px;
  padding-right: 15px;
}

#toolbar-menubar {
  text-shadow: none !important;
}


#main-window[sizemode=normal]:not([customizing]) #TabsToolbar {
  padding-left: 0;
  padding-right: 0;
}


:root[devtoolstheme="dark"] .searchbar-dropmarker-image {
  
  -moz-image-region: auto !important;
  
  -moz-margin-start: 2px;
}



.tab-close-button[visuallyselected=true]:not(:hover) {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}
