








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



checkbox {
  -moz-box-align: center;
  margin: 2px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

.checkbox-label-box {
  -moz-margin-start: 2px;
  border: 1px solid transparent;
  padding: 0px 1px;
}

.checkbox-icon {
  -moz-margin-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}



checkbox:focus > .checkbox-label-box {
  border: 1px dotted gray;
}



checkbox[disabled="true"] > .checkbox-check {
  background-color: gray;
}

checkbox[disabled="true"] {
  color: GrayText;
}


checkbox:-moz-system-metric(windows-classic) {
  text-shadow: 1px 1px transparent;
}

checkbox:-moz-system-metric(windows-classic) > .checkbox-label-box > .checkbox-label {
  margin-bottom: -2px !important;
}

checkbox[disabled="true"]:-moz-system-metric(windows-classic) {
  color: ThreeDShadow;
  text-shadow: 1px 1px ThreeDHighlight;
}



.checkbox-check {
  -moz-box-align: center;
  border: 1px solid #555555;
  min-width: 13px;
  min-height: 13px;
  background: white;
  background: white no-repeat 50% 50%;
}
  
checkbox:hover:active > .checkbox-check {
  background-color: -moz-Dialog;
}



checkbox[checked="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif") !important;
}

