









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");



textbox {
  cursor: text;
  margin: 2px 4px;
  border: 1px solid #555555;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  background-color: white;
  color: black;
}

textbox[isempty="true"] {
  color: #999999;
}

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

.textbox-contextmenu {
  cursor: default;
}



textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}



textbox[disabled="true"] {
  cursor: default;
  background-color: -moz-Dialog;
  color: GrayText;
}



textbox.plain {
  background-color: transparent;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}



.textbox-search-icon {
  list-style-image: url(chrome://global/skin/icons/Search-glass.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.textbox-search-icon:-moz-locale-dir(rtl) {
  -moz-transform: scaleX(-1);
}

.textbox-search-icon[searchbutton]:not([disabled]) {
  cursor: pointer;
}

.textbox-search-clear {
  list-style-image: url(chrome://global/skin/icons/Search-close.png);
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.textbox-search-clear:not([disabled]) {
  cursor: default;
}

.textbox-search-clear:not([disabled]):hover ,
.textbox-search-icon[searchbutton]:not([disabled]):hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.textbox-search-clear:not([disabled]):hover:active ,
.textbox-search-icon[searchbutton]:not([disabled]):hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}



toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}

