<!DOCTYPE html>
<html>
 <head>
  <title>test of counter UA overflow rules for HTML lists</title>
  








  <link rel="help" href="http://dev.w3.org/csswg/css-counter-styles-3/#counter-style-range"/>
  <link rel="help" href="http://krijnhoetmer.nl/irc-logs/css/20130205#l-1590"/>
  <style type="text/css">

  ol { margin-left: 10em; padding-left: 0; }
  li { margin-left: 0; padding-left: 0 }

  </style>
 </head>
 <body>

 <ol start="2147483646">
   <li>Alpha
   <li>Bravo
   <li>Charlie
   <li>Delta
 </ol>

 </body>
</html>
