





































@namespace url(http://www.w3.org/2000/svg);

style, script, symbol {
 display: none;
}

switch {
 -moz-binding: none !important;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
 overflow: hidden;
}

foreignObject {
  margin: 0 ! important;
  padding: 0 ! important;
  border-width: 0 ! important;
}

@media all and (-moz-is-resource-document) {
 foreignObject *|* {
   -moz-appearance: none;
 }
}

*|*::-moz-svg-foreign-content {
  display: block !important;
  position: static !important;
  text-indent: 0;
}
