<script>
function fuzz(){
  var a=document.getElementById('a');
  var b=document.getElementById('b');
  var pa=a.parentNode;
  b.parentNode.replaceChild(a,b);
  pa.appendChild(b);
}
</script>
<big>
<menu>
<address>
<optgroup label="a"></optgroup>
"
<blockquote>
a
<ruby>a</ruby>
</address>
<s dir="rtl">
<section>
<fieldset id="a"><iframe></iframe></fieldset>
</section>
<body onmouseover="fuzz()">
<video id="b">


































































































