<!DOCTYPE html>











<html reftest-zoom="1.304348">
  <head>
    <title>Testcases: -moz-image-rect() [bug 113577]</title>
    <style>
      div.wrapper {
        width: 32px;
        height: 32px;
        margin: 10px;
        background-color: red;
      }
      div.wrapper div {
        width: 32px;
        height: 32px;
        background: no-repeat;
      }
      #test3 {
        background-image: -moz-image-rect(url(green-16x16-in-blue-32x32.png), 0, 16, 16, 0);
      }
    </style>
  </head>
  <body>
    <div class="wrapper"><div id="test3"></div></div>
  </body>
</html>
