



#root {
  display: -moz-box;
}

.ruleview {
  overflow: auto;
  -moz-user-select: text;
}

.ruleview-code {
  direction: ltr;
}

.ruleview-property:not(:hover) > .ruleview-enableproperty {
  pointer-events: none;
}

.ruleview-namecontainer {
  cursor: text;
}

.ruleview-propertycontainer {
  cursor: text;
  padding-right: 15px;
}

.ruleview-computedlist:not(.styleinspector-open),
.ruleview-warning[hidden] {
  display: none;
}
