




































.ruleview {
  overflow: auto;
  -moz-user-select: text;
}

.ruleview-computedlist:not(.styleinspector-open) {
  display: none;
}

.ruleview-code {
  direction: ltr;
}

.ruleview-property:not(:hover) > .ruleview-enableproperty {
  visibility: hidden;
}
