










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");



textbox {
  cursor: default;
  padding: 0;
}


textbox.padded {
  padding: 1px 0px 1px 2px;
}

.textbox-input-box {
  margin: 0 3px;
  -moz-box-align: center;
}



.autocomplete-history-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0px;
  list-style-image: url("chrome://global/skin/icons/autocomplete-dropmarker.png");
  margin: 0px;
}



panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"],
.autocomplete-history-popup {
  padding: 0px !important;
  background-color: -moz-Field;
  font: icon;
  -moz-appearance: none;
}

.autocomplete-history-popup {
  max-height: 180px;
}



.autocomplete-tree {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
}

.autocomplete-treecol {
  -moz-appearance: none !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.autocomplete-treebody::-moz-tree-cell-text {
  padding-left: 2px;
}

.autocomplete-treebody::-moz-tree-row {
  border-top: none;
}

treechildren.autocomplete-treebody::-moz-tree-row(selected) {
 background-color: Highlight;
}

treechildren.autocomplete-treebody::-moz-tree-cell-text(selected) {
  color: HighlightText !important;
}

.autocomplete-treebody::-moz-tree-image(treecolAutoCompleteValue) {
  max-width: 16px;
  height: 16px;
}



.autocomplete-richlistbox {
  margin: 0;
}

.autocomplete-richlistitem[selected="true"] {
  background-color: Highlight;
  color: HighlightText;
}

.autocomplete-richlistitem {
  padding: 1px 0px 1px 2px;
  border-bottom: 1px solid ThreeDShadow;
}

.ac-site-icon {
  width: 16px; 
  height: 16px;
  margin-right: 8px;
}

.ac-type-icon {
  width: 16px; 
  height: 16px;
}

.ac-ellipsis-after {
  margin: 2px 0px 0px 0px !important;
  padding: 0; 
  min-width: 1.1em;
}

.ac-normal-text {
  margin: 2px 0px 0px 0px !important;
  padding: 0;
}

html|*.ac-emphasize-text {
  margin: 0 !important;
  padding: 0;
  font-weight: bold;
  text-decoration: underline;
}

.ac-title, .ac-url {
  overflow: hidden;
}



toolbarpaletteitem > toolbaritem > textbox > hbox > hbox > html|*.textbox-input {
  visibility: hidden;
}

toolbarpaletteitem > toolbaritem > * > textbox > hbox > hbox > html|*.textbox-input {
  visibility: hidden;
}
