










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



button {
  -moz-appearance: button;
  

  margin: 6px;
  padding: 0 9px;
  min-width: 79px;
  min-height: 22px;
  color: ButtonText;
}

.button-text {
  margin: 0 2px 0 3px !important;
  text-align: center;
}

.button-icon {
  margin-left: 1px;
}

button[type="default"] {
  font: menu;
}



button[disabled="true"] {
  color: #777777 !important;
}



button[type="menu-button"] {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  border: none;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  margin: 1px;
}



button.plain {
  margin: 0 !important;
  padding: 0 !important;
}



.close-button {
  list-style-image: url("chrome://global/skin/icons/close-button.gif");
}

.close-button > .toolbarbutton-icon {
  margin: 0;
}

.close-button > .toolbarbutton-text {
  display: none;
}

.dialog-button {
	font: menu;
}
