










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



button {
  -moz-appearance: button;
  

  margin: 6px;
  min-width: 79px;
  color: ButtonText;
}

.button-text {
  margin: 1px 0 !important;
  -moz-margin-start: 3px !important;
  -moz-margin-end: 2px !important;
  text-align: center;
}

.button-icon {
  -moz-margin-start: 1px;
}

button[type="default"] {
  font: menu;
}



button[disabled="true"] {
  color: GrayText;
}



button[type="menu-button"] {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  border: none;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  margin: 1px;
}

.button-menu-dropmarker {
  display: none;
}



button.plain {
  margin: 0 !important;
  padding: 0 !important;
}
