








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



checkbox {
  -moz-appearance: checkbox-container;
  -moz-box-align: center;
  margin: 2px 2px 4px 2px;
}

.checkbox-label-box {
  margin-left: 0px;
  padding: 0px;
}

.checkbox-icon {
  margin-right: 2px;
}

.checkbox-label {
  margin: 0 !important;
  padding-bottom: 1px;
}



checkbox[disabled="true"] {
  color: GrayText !important;
}



.checkbox-check {
  -moz-appearance: checkbox;
  width: 14px;
  height: 12px;
}
  

