








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



checkbox {
  -moz-appearance: checkbox-container;
  -moz-box-align: center;
  margin: 4px 2px;
}

.checkbox-icon {
  margin-right: 2px;
}

.checkbox-label {
  margin: 1px 0 !important;
}



checkbox[disabled="true"] {
  color: GrayText !important;
}



.checkbox-check {
  -moz-appearance: checkbox;
  margin: 1px 1px 0;
  

  vertical-align: top;
  width: 1.3em;
  height: 1.3em;
}
  

