








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


 


colorpicker[type="button"] {
  width: 38px;
  height: 24px;
  border: 1px solid #a7a7a7;
  background-color: ThreeDFace;
  padding: 3px;
  -moz-appearance: button-bevel;
}

.colorpicker-button-colorbox {
  border: 1px solid #000000;
}



.colorpickertile {
  width                 : 20px;
  height                : 20px;
  margin                : 1px;
}

.colorpickertile[selected="true"] {
  border : 1px outset #C0C0C0;

}

.colorpickertile[hover="true"] {
  border : 1px dotted #A7A7A7;
}

.cp-light[hover="true"] {
  border : 1px dotted #000000;
}
