





































#palette-box {
	margin-top: 2px;
}
#palette-box > hbox > toolbarpaletteitem {
	padding: 2px;
	margin: 0px;
}



#main-box {
	padding: 12px;
}

#main-box > separator {
	-moz-appearance: none;
	border-bottom: none;
} 

#instructions {
	font: menu;
	font-weight: bold;
	line-height: 16pt;
}

hbox button {
	font: menu;
}

#main-box > box > button {
	min-height: 19px; 
	font: message-box;
}
