









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



#commonDialog > image {
  -moz-margin-end: 14px !important;
}

#commonDialog > .dialog-button-box {
  -moz-margin-start: 80px;
}

dialog { 
  -moz-appearance: dialog;
  padding: 14px;
}



.dialog-button {
  font: menu;
}

.dialog-button[dlgtype="help"] {
  min-width: 1px;
  padding: 0;
  -moz-appearance: none;
  -moz-box-align: start;
  height: 24px;
  width: 24px;
  margin: 3px 4px;
}

.dialog-button[dlgtype="help"][disabled] {
  opacity: 0.5;
}

.dialog-button[dlgtype="help"]:focus {
  outline: 2px solid -moz-mac-focusring;
  outline-offset: -2px;
  -moz-outline-radius: 100%;
}

.dialog-button[dlgtype="help"] > .button-box > .button-icon {
  list-style-image: url("chrome://global/skin/icons/question-mark.png");
  -moz-image-region: rect(0 24px 24px 0); 
  padding: 0;
  margin: 0;
}

.dialog-button[dlgtype="help"]:active > .button-box > .button-icon {
  -moz-image-region: rect(0 48px 24px 24px); 
}

.dialog-button[dlgtype="help"] > .button-box > .button-text {
  display: none;
}



dialogheader {
  margin: 0px 5px 5px 5px;
  padding: 5px 8px;
}

.dialogheader-title {
  margin: 0px !important;
  font-size: larger;
  font-weight: bold;
  display: none;
}



.header-large {
  -moz-box-orient: vertical;
  margin: -14px -14px 0;
  padding: 12px 5px 12px 25px;
}

.header-large > .dialogheader-title {
  font: inherit;
  font-weight: bold;
}

.header-large > .dialogheader-description {
  margin-left: 12px !important;
}

.dialogheader-description {
	font-weight: bold !important;
}

.dialogheader-title {
	font-weight: bold !important;
}



#findDialog, #findDialog > menu, #findDialog > groupbox {
	font: menu !important;
}

#dialog\.caseSensitive {
	margin-top: 8px;
}
