










































@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



#FilenameColumn,
#ContentLengthColumn,
#LastModifiedDateColumn {
  width: 100px;
}



treechildren::-moz-tree-image(FilenameColumn, directory) {
  margin-right: 2px;
  list-style-image: url("chrome://global/skin/filepicker/dir-closed.gif");
}

treechildren::-moz-tree-image(FilenameColumn, file) {
  list-style-image: url("chrome://global/skin/filepicker/blank.gif");
}



.up-button {
  list-style-image: url("chrome://global/skin/filepicker/folder-up.gif");
  max-width: 36px;
}

.home-button {
  list-style-image: url("chrome://global/skin/filepicker/folder-home.gif");
  max-width: 36px;
}
