








































.fileFieldIcon {
  width: 16px;
  height: 16px;
}

.fileFieldIcon[disabled="true"] {
  opacity: 0.5;
}

filefield {
  margin: 4px;
  -moz-margin-start: 27px;
  -moz-appearance: textfield;
}

.fileFieldContentBox {
  margin: -3px;
  background-color: rgba(230, 230, 230, 0.6);
  color: -moz-DialogText;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-padding-start: 5px;
  -moz-padding-end: 3px;
}

.fileFieldLabel {
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  margin: 0 4px;
}
