










































@import url("chrome://global/locale/intl.css");

@import url("chrome://global/skin/formatting.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button[dlgtype="help"] {
	min-width: 1px !important;
	padding: 0px 0px 0px 0px !important;
	-moz-appearance: none;
	-moz-box-align: start !important;
	height: 24px;
	width: 24px;
	margin: 4px;
}

button[dlgtype="help"][disabled] {
  opacity: 0.5;
}

button[dlgtype="help"]:focus {
  outline: 2px solid -moz-mac-focusring;
  outline-offset: -2px;
  -moz-outline-radius: 100%;
}

button[dlgtype="help"] > .button-box > .button-icon {
  list-style-image: url("chrome://global/skin/icons/question-mark.png");
  -moz-image-region: rect(0 24px 24px 0); 
  padding: 0 !important;
  margin: 0 !important;
}

button[dlgtype="help"]:active > .button-box > .button-icon {
  -moz-image-region: rect(0 48px 24px 24px); 
}

button[dlgtype="help"] > .button-box > .button-text {
  display: none !important;
}


menulist > menupopup,
.menulist-menupopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

.menulist-compact {
  -moz-binding: url("chrome://global/content/bindings/menulist.xml#menulist-compact");
}



window,
page,
dialog,
wizard,
prefwindow { 
  -moz-appearance: dialog;
  background-color: #FFFFFF;
  color: -moz-DialogText;
  font: message-box;
}

prefwindow {
  font: -moz-dialog;
}

prefwindow .paneSelector {
  font: message-box;
}
prefwindow[type="child"] {
  padding: 18px 20px 15px 18px !important;
}



window.dialog { 
  padding: 8px 10px 10px 8px;
}

[wait-cursor] { 
  cursor: wait !important; 
}



.message-icon,
.alert-icon,
.error-icon,
.question-icon {
  width: 64px;
  height: 64px;
  list-style-image: url("chrome://branding/content/icon64.png");
  margin: 6px 20px 6px 6px !important;
}



iframe {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 10px;
  min-height: 10px;
}



statusbar {
  border-top: 1px solid #A3A3A3 !important;
  min-width: 1px; 

  min-height: 15px !important;
  background-color: #FFFFFF;
  margin: 0px !important;
  padding: 0px 16px 1px 1px;
  -moz-appearance: none;
}

statusbarpanel {
  -moz-box-align: center;
  -moz-box-pack: center;
  padding: 0 4px;
  -moz-appearance: dialog;
}

.statusbarpanel-iconic {
  padding: 0px;
}    



.toolbar-focustarget {
  -moz-user-focus: ignore !important;
}

#info.icon {
	margin-right: 14px;
}

#commonDialog {
	line-height: 13px;
}

#commonDialog > hbox > vbox {
	max-width: 33em !important;
}

#header {
	display: none !important;
}

#warn1 {
	font: menu;
	font-weight: bold;
	line-height: 16pt;
	padding-bottom: 10px;
}

#ok, #cancel, #launch, #reveal, #pauseResume {
	font: menu !important;
}

.message-icon {
	display: none !important;
}

#panelFrame {
	margin-top: 2px;
	padding-left: 10px;
}

description {
	margin-bottom: 4px;
}

browser {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}



#OCSPDialog {
  font: message-box;
}

#historyTree, #bookmarks-view {
	border-top: 1px solid #bebebe;
}



#autoscroller {
  height: 28px;
  width: 28px;
  border: none;
  margin: -14px;
  padding: 0;
  background-image: url("chrome://global/skin/icons/autoscroll.png");
  background-color: transparent;
  -moz-appearance: none;
}

#autoscroller[scrolldir="NS"] {
  background-position: left center;
}

#autoscroller[scrolldir="EW"] {
  background-position: left bottom;
}
