









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



groupbox {
  padding: 5px 1px 1px 0px;
  margin: 6px;
}

.groupbox-body {
  -moz-appearance: groupbox;
  padding: 8px 8px 3px 8px;
  margin: 0px;

}

caption {
  padding: 0px 2px 1px 4px !important;
  font: caption;
}

.caption-text {
  margin-top: 0;
  margin-bottom: 0;
  -moz-margin-start: 1px;
  -moz-margin-end: 2px;
}
