




































.hud-box {
    border-bottom: 1px solid #aaa;
}

.hud-outer-wrapper {
    width: 100%; 
    height: 100%;
}

.hud-console-wrapper {
    width: 100%; 
    overflow: auto; 
}

.hud-main-label {
    font-size: 1em;
    padding-top: 0.33em;
    font-weight: bold;
}

.hud-output-node div {
    -moz-user-select: text;
    white-space: pre-wrap;
}

.hud-output-node .hud-network {
    color: blue;
}

.hud-output-node .hud-error {
    color: red;
}

.hud-output-node .hud-log {
    color: black;
}

.hud-output-node .hud-warn {
    color: orange;
}

.hud-output-node .hud-info {
    color: green;
}

.hud-output-node .hud-exception {
    color: red; font-weight: bold;
}

.hud-hidden {
    display: none;
}

.hud-msg-node {    
    width: 100%;
    margin-top: 0.3em; 
    margin-bottom: 0.3em; 
    padding-left: 0.3em;
    border-bottom: 1px solid #eee;   
}

.hud-output-node {
    border-bottom: 1px solid #ddd; 
    border-top: 1px solid #ddd; 
    overflow-x: auto; overflow: auto;
    font: 1em monospace; background-color: white;
    width: 100%;
}



.jsterm-wrapper-node {
    font-family: monospace; 
    font-size: 1em;
    background-color: #000; 
    border: 1px solid #333; 
    padding: 0.1em;
    width: 100%;
    height: 400px;
}

.jsterm-output-node {
    width: 100%; 
    height: 400px; 
    color: white; 
    background-color: black; 
    overflow: auto; 
    overflow-x: auto; 
    position: absolute; 
    -moz-box-direction: reverse;
}

.jsterm-output-node div {
    -moz-user-select: text;
}

.jsterm-scroll-to-node {
    height: 1px; width: 1px; position: relative; top: 92%; display: block;
}

.jsterm-input-node {
    width: 98%;
    font-family: monospace;
    font-size: 1.2em; 
    line-height: 1.6em;
    background-color: black;
    color: white;
}

.jsterm-output-line {
    font-size: 1.2em;
}


.hud-filter-btn {
    font-weight: bold;
    color: #222;
    border: 0 !important;
    -moz-border-radius: 100%;
}

.hud-filter-btn:hover {
    background-color: rgba(0, 0, 0, .205) !important;
    color: #FFF !important;
    text-shadow: 0 1px rgba(0, 0, 0, .4) !important;
}

.hud-filter-btn:active:hover {
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, .5) !important;
}

.hud-filter-btn > .toolbarbutton-text {
    margin: 1px 2px !important;
}

.hud-console-filter-toolbar {
    padding: 1px 0px;
    -moz-box-align: center;
}
