




































%include shared.inc

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


:root {
  -moz-appearance: none;
  padding: 18px;
  background-image: 
                    url("chrome://global/skin/inContentUI/background-texture.png"),
                    
                    -moz-linear-gradient(top, #ADB5C2, #BFC6D1);
}


.main-content {
  
  


  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.05));
  border: 1px solid rgba(50, 65, 92, 0.4);
  border-radius: 5px;
}
