










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



listbox {
  -moz-appearance: listbox;
  margin: 2px 4px;
  background-color: #FFFFFF;
  color: -moz-FieldText;
}

.listcell-label {
  margin: 0px !important;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  white-space: nowrap;
}



listitem {
  border: 1px solid transparent;
}

listbox:focus > listitem[selected="true"][current="true"] {
}

listitem[selected="true"] {
  background-color: -moz-mac-secondaryhighlight;
  color: -moz-DialogText;
}

listbox:focus > listitem[selected="true"] {  
   background-color: Highlight;
   color: HighlightText;
}



listheader { 
  -moz-appearance: treeheadercell;
  -moz-box-align: center;
  border: 2px solid;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  padding: 0 4px;
}

listheader[sortable="true"]:hover:active {
  border-top: 2px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 2px solid;
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
  padding-top: 1px;
  -moz-padding-start: 5px;
  -moz-padding-end: 4px;
}

.listheader-icon {
  -moz-margin-end: 2px;
}

.listheader-label {
  margin: 0px !important;
}



.listheader-sortdirection {
  -moz-appearance: treeheadersortarrow;
  list-style-image: none;
}

.listheader-sortdirection[sortDirection="ascending"] {
  list-style-image: url("chrome://global/skin/tree/sort-asc.gif");
}

.listheader-sortdirection[sortDirection="descending"] {
  list-style-image: url("chrome://global/skin/tree/sort-dsc.gif");
}



.listcell-label {
  margin: 0px !important;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  white-space: nowrap;
}

.listcell-icon {
  -moz-margin-end: 2px;
}

.listcell-label[disabled="true"] {
  color: GrayText;
}



.listcell-check {
  -moz-appearance: checkbox;
  -moz-box-align: center;
  margin: 0px 2px;
  border: 1px solid -moz-DialogText;
  min-width: 13px;
  min-height: 13px;
  background: -moz-Field no-repeat 50% 50%;
}

.listcell-check[checked="true"] {
  background-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

.listcell-check[disabled="true"] {
  border-color: GrayText;
}

.listcell-check[disabled="true"][checked="true"] {
  background-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif");
}
