








































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



radiogroup {
  margin: 1px 0px 1px 0px;
}

radio {
  -moz-appearance: radio-container;
  -moz-box-align: center;
  margin: 4px 2px;
  -moz-user-focus: ignore;
}

.radio-label-box {
  -moz-margin-start: 0px;
  padding: 0px;
}

.radio-icon {
  -moz-margin-end: 2px;
}

.radio-label {
  margin: 1px 0 !important;
}



radio[disabled="true"] {
  color: GrayText !important;
}



.radio-check, .radio-check-box1 {
  -moz-appearance: radio;
  margin: 0 1px 1px;
  

  vertical-align: bottom;
  width: 1.3em;
  height: 1.3em;
}
