









































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



splitter {
  -moz-box-align: center;
  -moz-box-pack: center;
  cursor: ew-resize;
  min-width: 9px;
  min-height: 9px;
  background: url("chrome://global/skin/splitter/dimple.png") transparent no-repeat center;  
}

splitter:-moz-lwtheme {
  background: none;
}



splitter[orient="vertical"] {
  cursor: ns-resize;
  min-width: 0px;
  min-height: 9px;
  min-width: 9px;  
  background: url("chrome://global/skin/splitter/dimple.png") transparent no-repeat center;
}


  
grippy {
  cursor: pointer;
  margin: 0px 1px;
  min-width: 4px;
  min-height: 115px;
  background-color: transparent;
  background-repeat: no-repeat;
}

grippy:hover {
  background-color: ThreeDHighlight;
}

splitter[orient="vertical"] > grippy {
  margin: 1px 0px;
  min-width: 115px;
  min-height: 4px;
}




splitter[collapse="before"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-before.gif");
}

splitter[collapse="after"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-after.gif");
}


splitter[collapse="before"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-before.gif");
}

splitter[collapse="after"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-after.gif");
}




splitter[collapse="before"][state="collapsed"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-after.gif");
}

splitter[collapse="after"][state="collapsed"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-vrt-before.gif");
}


splitter[collapse="before"][state="collapsed"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-after.gif");
}

splitter[collapse="after"][state="collapsed"][orient="vertical"] > grippy {
  background-image: url("chrome://global/skin/splitter/grip-hrz-before.gif");
}

