









































@import url("chrome://global/content/autocomplete.css");
  
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");



textbox {
  -moz-appearance: textfield;
  cursor: text;
  margin: 4px 4px;
  border: 3px solid;
  -moz-border-top-colors: transparent #888888 #000000;
  -moz-border-right-colors: transparent #FFFFFF #000000;
  -moz-border-bottom-colors: transparent #FFFFFF #000000;
  -moz-border-left-colors: transparent #888888 #000000;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  
  padding: 0px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

textbox[empty="true"] {
  color: GrayText;
}

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}



textbox[focused="true"] {
  -moz-border-top-colors: -moz-mac-focusring -moz-mac-focusring #000000;
  -moz-border-right-colors: -moz-mac-focusring -moz-mac-focusring #000000;
  -moz-border-bottom-colors: -moz-mac-focusring -moz-mac-focusring #000000;
  -moz-border-left-colors: -moz-mac-focusring -moz-mac-focusring #000000;
}



textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}



textbox[disabled="true"] {
  cursor: default;
  -moz-border-top-colors: transparent ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: transparent ThreeDShadow -moz-Dialog;
  -moz-border-bottom-colors: transparent ThreeDShadow -moz-Dialog;
  -moz-border-left-colors: transparent ThreeDShadow -moz-Dialog;
  background-color: -moz-Dialog;
  color: GrayText;
} 



textbox.plain {
  -moz-appearance: none !important;
  background-color: transparent;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}




textbox[type="search"] {
  -moz-appearance: none;
  border: 3px solid;
  -moz-border-top-colors: #5F5F5F #CFCFCF -moz-Field;
  -moz-border-bottom-colors: #9F9F9F #EEE -moz-Field;
  -moz-border-right-colors: #7F7F7F #EEE -moz-Field;
  -moz-border-left-colors: #7F7F7F #EFEFEF -moz-Field;
  -moz-border-radius: 11px;
  padding: 0 8px;
}

textbox[type="search"]:not([searchbutton]) {
  background-image: url("chrome://global/skin/icons/Search-glass.png");
  background-repeat: no-repeat;
  background-position: 1px center;
  -moz-padding-start: 17px;
}

textbox[type="search"][focused="true"] {
  outline: 2px solid #4A8BC7;
  outline-offset: -2px;
  -moz-outline-radius: 11px;
}

.textbox-search-icon[searchbutton] {
  list-style-image: url(chrome://global/skin/icons/Search-glass.png);
}

.textbox-search-clear {
  list-style-image: url(chrome://global/skin/icons/Search-close.png);
}

.textbox-search-icon[searchbutton]:not([disabled]) ,
.textbox-search-clear:not([disabled]) {
  cursor: default;
}

