










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



toolbarbutton {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px 2px 0px 2px;
  padding: 3px 1px 3px 1px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background-color: transparent;
}

.toolbarbutton-icon {
	padding: 1px 0px 1px 0px;
}

.toolbarbutton-text {
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}

toolbarbutton:hover:active[buttonstyle="text"],
toolbarbutton[open="true"][buttonstyle="text"] {
  color: #2c498c;
}



toolbarbutton[disabled="true"],
toolbarbutton[disabled="true"]:hover,
toolbarbutton[disabled="true"]:hover:active
toolbarbutton[disabled="true"][open="true"] {
  color: GrayText !important;
}



toolbarbutton[checked="true"] {
    background-color: #DDDDDD;
    background-image: none;
    border-right: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    color: ButtonText !important;
}
    


.toolbarbutton-menu-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
  padding: 0 0 0 2px;
  width: auto;
}

.toolbarbutton-menu-dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.png");
  padding: 0 0 0 2px !important;
}



toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  -moz-box-orient: horizontal !important;
}

toolbarbutton[type="menu-button"],
toolbarbutton[type="menu-button"]:hover,
toolbarbutton[type="menu-button"]:hover:active,
toolbarbutton[type="menu-button"][open="true"],
toolbarbutton[type="menu-button"][disabled="true"],
toolbarbutton[type="menu-button"][disabled="true"]:hover,
toolbarbutton[type="menu-button"][disabled="true"]:hover:active {
  background-color: transparent;
}

.toolbarbutton-menubutton-button {
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
}




.toolbarbutton-menubutton-dropmarker {
  -moz-appearance: none !important;
  border: none !important;
  background-color: transparent !important;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.png");
  width: auto;
  padding: 0;
}

.toolbarbutton-menubutton-dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.png") !important;
  padding: 0 !important;
}

toolbarbutton.tabbable {
  -moz-user-focus: normal !important;
}

