










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



toolbox {
  -moz-appearance: toolbar !important;
}



toolbar,
toolbarpalette {
  min-width: 1px;
  min-height: 20px !important;
  color: #000000;
  border-bottom: 1px solid #a3a3a3;
  background-color: rgb(235, 235, 235);
  background-image: url("chrome://global/skin/toolbar/toolbar-background.gif");
  background-repeat: repeat-x;
  background-position: top right;
}

menubar {
  -moz-appearance: toolbar;
  min-width: 1px;
}

.toolbar-holder {
 min-width: 1px;
}  

toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-1 > .toolbarbutton-text, toolbar[mode="text"] .toolbarbutton-1 > stack > toolbarbutton > .toolbarbutton-text {
  margin: 4px;
}



toolbarseparator {
  -moz-appearance       : none;
  margin: 3px 4px 3px 4px;
  background: url("chrome://global/skin/toolbar/toolbar-separator.png") transparent repeat-y;
  
  padding: 0px;
  width: 1px !important;
}

.toolbar-primary {
	min-height: 24px !important;
}




toolbarpaletteitem {
  cursor: -moz-grab;
}

toolbar[iconsize="small"] toolbarpaletteitem[type="spacer"] {
	min-width: 24px !important;
}

toolbarpaletteitem[type="spacer"] {
	min-width: 32px !important;
}

.toolbarpaletteitem-box[type="spacer"] {
  border: 1px solid #A3A3A3;
  background: url("chrome://global/skin/10pct_transparent_grey.png") repeat;
  height: 32px !important;
  width: 32px !important;
  margin-top: 18px;
}

.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #A3A3A3;
  background: url("chrome://global/skin/toolbar/spring.gif") #FFFFFF no-repeat;
  height: 32px !important;
  width: 32px !important;
  margin-top: 18px;
}

.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  border: 1px solid #A3A3A3;
  background: url("chrome://global/skin/10pct_transparent_grey.png") repeat;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin: 2px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}



toolbarpaletteitem[dragover="left"] {
  border-left-color: #000000;
}

toolbarpaletteitem[dragover="right"] {
  border-right-color: #000000;
}

toolbar[iconsize="small"] toolbarspacer {
	min-width: 24px !important;
}

toolbarspacer {
	min-width: 32px !important;
}

