



































#topBar {
  -moz-appearance: -moz-mac-unified-toolbar;
}

.viewGroupWrapper {
  -moz-box-align: center;
  -moz-box-pack: center;
}

#viewGroup {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1px;
  -moz-border-radius: 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  margin: 4px 0 9px;
}

#viewGroup > * {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-appearance: none;
  font: menu;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  margin: 0;
  padding: 1px 4px 0;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  background: -moz-linear-gradient(top, bottom, from(#FFF), to(#ADADAD)) repeat-x;
}

#viewGroup > :not([checked=true]):not([selected=true]):active:hover {
  background: #B5B5B5;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.3) 0 -6px 14px, inset #000 0 1px 4px, inset rgba(0, 0, 0, 0.2) 0 1px 4px;
}

#viewGroup > radio[selected=true],
#viewGroup > toolbarbutton[checked=true] {
  color: #FFF !important;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px;
  background: #606060;
  -moz-box-shadow: inset #2A2A2A 0 3px 5px;
}

#viewGroup > radio[selected=true]:active:hover,
#viewGroup > toolbarbutton[checked=true]:active:hover {
  background-color: #4E4E4E;
  -moz-box-shadow: inset #1c1c1c 0 3px 5px;
}

:root:not([active]) #viewGroup {
  background-color: rgba(0, 0, 0, 0.25);
}

:root:not([active]) #viewGroup > * {
  color: #7C7C7C !important; 
  border-color: rgba(0, 0, 0, 0.4);
  background-image: -moz-linear-gradient(top, bottom, from(#FFF), to(#CCC));
}

:root:not([active]) #viewGroup > radio[selected=true],
:root:not([active]) #viewGroup > toolbarbutton[checked=true] {
  color: #E6E6E6 !important; 
  background: #8E8E8E;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
}

#viewGroup:-moz-locale-dir(ltr) > :first-child,
#viewGroup:-moz-locale-dir(ltr) > [first-visible],
#viewGroup:-moz-locale-dir(rtl) > :last-child,
#viewGroup:-moz-locale-dir(rtl) > [last-visible] {
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-left: none !important;
}

#viewGroup:-moz-locale-dir(ltr) > :last-child,
#viewGroup:-moz-locale-dir(ltr) > [last-visible],
#viewGroup:-moz-locale-dir(rtl) > :first-child,
#viewGroup:-moz-locale-dir(rtl) > [first-visible] {
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}
