



































%include shared.inc

#topBar {
  -moz-appearance: -moz-mac-unified-toolbar;
}

.viewGroupWrapper {
  -moz-box-align: center;
  -moz-box-pack: center;
}

#viewGroup {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1px;
  -moz-border-radius: @toolbarbuttonCornerRadius@;
  -moz-box-shadow: @loweredShadow@;
  margin: 4px 0 9px;
}

#viewGroup > radio,
#viewGroup > toolbarbutton {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-appearance: none;
  font: menu;
  text-shadow: @loweredShadow@;
  margin: 0;
  padding: 0 4px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  background: @toolbarbuttonBackground@;
}

#viewGroup > radio:active:hover,
#viewGroup > toolbarbutton:active:hover {
  background: @toolbarbuttonPressedBackgroundColor@;
  text-shadow: @loweredShadow@;
  -moz-box-shadow: @toolbarbuttonPressedInnerShadow@;
}

#viewGroup > radio[selected=true],
#viewGroup > toolbarbutton[checked=true] {
  color: #FFF !important;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px;
  background: #606060;
  -moz-box-shadow: inset #2A2A2A 0 3px 5px;
}

#viewGroup > radio[selected=true]:active:hover,
#viewGroup > toolbarbutton[checked=true]:active:hover {
  background-color: #4E4E4E;
  -moz-box-shadow: inset #1c1c1c 0 3px 5px;
}

:root:not([active]) #viewGroup {
  background-color: rgba(0, 0, 0, 0.25);
}

:root:not([active]) #viewGroup > radio,
:root:not([active]) #viewGroup > toolbarbutton {
  color: @toolbarbuttonInactiveFontColor@ !important; 
  border-color: rgba(0, 0, 0, 0.4);
  background-image: @toolbarbuttonInactiveBackgroundImage@;
}

:root:not([active]) #viewGroup > radio[selected=true],
:root:not([active]) #viewGroup > toolbarbutton[checked=true] {
  color: #E6E6E6 !important; 
  background: #8E8E8E;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 5px;
}

#viewGroup > radio:-moz-locale-dir(ltr):first-child,
#viewGroup > radio:-moz-locale-dir(ltr)[first-visible],
#viewGroup > radio:-moz-locale-dir(rtl):last-child,
#viewGroup > radio:-moz-locale-dir(rtl)[last-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(ltr):first-child,
#viewGroup > toolbarbutton:-moz-locale-dir(ltr)[first-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(rtl):last-child,
#viewGroup > toolbarbutton:-moz-locale-dir(rtl)[last-visible] {
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-left: none !important;
}

#viewGroup > radio:-moz-locale-dir(ltr):last-child,
#viewGroup > radio:-moz-locale-dir(ltr)[last-visible],
#viewGroup > radio:-moz-locale-dir(rtl):first-child,
#viewGroup > radio:-moz-locale-dir(rtl)[first-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(ltr):last-child,
#viewGroup > toolbarbutton:-moz-locale-dir(ltr)[last-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(rtl):first-child,
#viewGroup > toolbarbutton:-moz-locale-dir(rtl)[first-visible] {
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
}
