









.actionsMenu {
  -moz-margin-start: -2px;
  margin-top: 0;
  margin-bottom: -1px;
}

richlistitem label {
  -moz-margin-start: 3px;
  margin-top: 2px;
}

richlistitem {
  min-height: 22px;
}

.typeIcon,
.actionIcon {
  -moz-margin-start: 3px;
}

.typeIcon,
.actionIcon,
.actionsMenu .menulist-icon {
  -moz-margin-end: 2px;
}

.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  


  min-width: 0;
}

richlistitem[appHandlerIcon="ask"],
menuitem[appHandlerIcon="ask"] {
  list-style-image: url("chrome://browser/skin/preferences/alwaysAsk.png");
}

richlistitem[appHandlerIcon="save"],
menuitem[appHandlerIcon="save"] {
  list-style-image: url("chrome://browser/skin/preferences/saveFile.png");
}

richlistitem[appHandlerIcon="feed"],
menuitem[appHandlerIcon="feed"] {
  list-style-image: url("chrome://browser/skin/page-livemarks.png");
}

richlistitem[appHandlerIcon="plugin"],
menuitem[appHandlerIcon="plugin"] {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
}


menuitem[appHandlerIcon] {
  padding-top: 1px;
  padding-bottom: 3px;
}

menuitem[appHandlerIcon] > .menu-iconic-left > .menu-iconic-icon {
  -moz-margin-start: 0;
  width: 16px;
}
