


wizardpage {
  height: 360px;
  width: 700px;
}



#updates, .wizard-page-box {
  margin: 0;
  padding: 0;
}

.update-header {
  padding: 0px 10px;
}

.update-content {
  padding: 10px;
}

.loadingBox {
  padding: 3px 5px 3px 5px;
}

.remoteLoadingThrobber {
  margin-top: 3px;
}

.remoteLoadingThrobber[state="loading"] {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

.remoteLoadingThrobber[state="error"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

.wizard-buttons-separator {
  margin-top: 0 !important;
}

#licenseContent, #incompatibleListbox {
  -moz-margin-start: 6px;
  -moz-margin-end: 6px;
}


#updateName, #updateFinishedName {
  font-weight: bold;
  font-size: larger;
}


#licenseContent {
  -moz-appearance: listbox;
}


#incompatibleListbox {
  margin-bottom: 6px;
}


#downloadStatusLine {
  -moz-box-align: center;
}

#downloadStatus {
  height: 3em !important;
}

#downloadStatusProgress {
  padding-right: 5px;
}

#pauseButton {
  list-style-image: url(chrome://mozapps/skin/update/downloadButtons.png);
  -moz-image-region: rect(0px, 48px, 16px, 32px);
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}


#pauseButton > .button-box {
  padding: 0 !important;
}

#pauseButton:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

#pauseButton:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

#pauseButton[disabled="true"] {
  -moz-image-region: rect(48px, 48px, 64px, 32px);
}

#pauseButton[paused="true"] {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#pauseButton[paused="true"]:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

#pauseButton[paused="true"]:active {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}

#pauseButton[paused="true"][disabled="true"] {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
}

#verificationFailedIcon {
  margin-left: 5px;
  list-style-image: url("chrome://global/skin/icons/notfound.png");
}


#errorReason {
  margin-top: 1px;
  margin-bottom: 2px;
  -moz-margin-start: 6px !important;
  -moz-margin-end: 5px;
  font-weight: bold;
}


update {
  border-bottom: 1px dotted #C0C0C0;
}

.update-name {
  font-weight: bold;
}

.update-label-column {
  -moz-box-align: end;
}

.update-type {
  font-weight: bold;
  color: #990000;
}

#historyItems {
  -moz-appearance: listbox;
  height: 200px;
  margin: 1px 5px 4px 5px;
}

#historyItems > scrollbox {
  margin-bottom: 1px;
}
