



.panel-viewstack[viewtype="main"] > .panel-clickcapturer {
  pointer-events: none;
}

.panel-mainview,
.panel-viewcontainer,
.panel-viewstack {
  overflow: hidden;
}

.panel-viewstack {
  position: relative;
}

.panel-subviews {
  -moz-stack-sizing: ignore;
  transform: translateX(0);
  overflow-y: auto;
}

.panel-subviews[panelopen] {
  transition: transform var(--panelui-subview-transition-duration);
}

.panel-viewcontainer[panelopen]:-moz-any(:not([viewtype="main"]),[transitioning="true"]) {
  transition: height var(--panelui-subview-transition-duration);
}
