



%include ../../shared/devtools/netmonitor.inc.css

#headers-summary-resend {
  padding: 4px;
}

.requests-menu-status-and-method {
  width: 9em;
}

.requests-menu-domain {
  width: 16vw;
}

.requests-menu-size {
  width: 6em;
}


@media (max-width: 700px) {
  .requests-menu-header-button {
    font-size: 85%;
  }
}
