








































:root {
  -moz-appearance: none;
  background: -moz-Field;
  color: -moz-FieldText;
}

#root {
  display: -moz-box;
}


.property-header {
  padding: 5px 0;
  white-space: nowrap;
  vertical-align: text-top;
}



.link,
.link:visited {
  color: #0091ff;
}
.link,
.helplink,
.link:visited,
.helplink:visited {
  text-decoration: none;
}

.helplink {
  display: block;
  height: 14px;
  width: 0;
  overflow: hidden;
  -moz-padding-start: 14px;
  background-image: url("chrome://browser/skin/devtools/goto-mdn.png");
  -moz-margin-end: 2px;
  cursor: pointer;
}

.property-view:not(:hover) > .helplink-container {
  visibility: hidden;
}

.rulelink {
  color: -moz-dialogtext;
  padding: 0;
}

.expander {
  -moz-appearance: treetwisty;
  padding-top: 12px;
  -moz-margin-start: 5px;
  -moz-margin-end: 5px;
  display: inline-block;
  vertical-align: middle;
}

.expander[open] {
  -moz-appearance: treetwistyopen;
}

.expandable {
  cursor: pointer;
}

.match {
  visibility: hidden;
}

.expandable > .property-header > .match {
  visibility: visible;
}

.property-name {
  font-size: 12px;
  color: -moz-FieldText;
  display: inline-block;
}
.property-value {
  padding: 0;
  font-size: 10px;
  color: grey;
  vertical-align: text-top;
  width: 100%;
}

.property-view-hidden,
.property-content-hidden {
  display: none;
}

.rule-link {
  text-align: end;
  -moz-padding-start: 10px;
}


.rule-text {
  direction: ltr;
  padding: 0;
  -moz-padding-start: 20px;
}

.bestmatch {
  color: black;
}
.matched {
  text-decoration: line-through;
}
.parentmatch {
  color: #666;
}

#propertyContainer {
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-flex: 1;
  overflow-y: auto;
  border-collapse: collapse;
}

.darkrow {
  background-color: rgba(0,0,0,.022);
}

#noResults {
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
}

.headerControls {
  color: -moz-dialogtext;
  background-color: -moz-dialog;
}

.onlyuserstyles {
  cursor: pointer;
  font-size: 11px;
}

#footer {
  border-top: 1px solid -moz-dialog;
}

.legendKey {
  margin: 0 5px;
}





.ruleview {
  background-color: #FFF;
}

.ruleview-rule-source {
  background-color: -moz-dialog;
  padding: 2px 5px;
}

.ruleview-code {
  padding: 2px 5px;
}

.ruleview-ruleopen {
  -moz-padding-end: 5px;
}

.ruleview-propertylist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ruleview-enableproperty {
  height: 10px;
  width: 10px;
  -moz-margin-start: 2px;
  -moz-margin-end: 0;
}

.ruleview-expander {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url("chrome://browser/skin/devtools/arrows.png") 24px 0;
  cursor: pointer;
  -moz-margin-start: 2px;
  -moz-margin-end: 5px;
}

.ruleview-expander:-moz-locale-dir(rtl) {
  background-position: 16px 0;
}

.ruleview-expander.styleinspector-open {
  background-position: 8px 0;
}

.ruleview-newproperty {
  
  -moz-margin-start: 27px;
}

.ruleview-propertyname {
  display: inline-block;
  padding: 1px 0;
  cursor: text;
  color: #0060C0;
  text-decoration: inherit;
}

.ruleview-propertyvalue {
  cursor: text;
  text-decoration: inherit;
}

.ruleview-computedlist {
  list-style: none;
  padding: 0;
}

.ruleview-computed {
  -moz-margin-start: 4em;
}

.ruleview-overridden {
  text-decoration: line-through;
}

.styleinspector-propertyeditor {
  border: 1px solid #CCC;
  padding: 0;
  -moz-box-shadow: 2px 2px 2px #CCC;
}
