




































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


.folder-icon > .menulist-label-box > .menulist-icon,
.folder-icon > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("chrome://global/skin/tree/folder.png") !important;
}

.menulist-icon {
	margin: 0 !important;
}



.expander-up,
.expander-down {
  -moz-appearance: none;
  margin: 0;
  margin-left: 8px;
  padding: 0;
  min-width: 0;
}

.expander-up {
	list-style-image: url("chrome://browser/skin/places/expander-open.png") !important;
}

.expander-down {
	list-style-image: url("chrome://browser/skin/places/expander-closed.png") !important;
}

.expander-down:hover:active {
	list-style-image: url("chrome://browser/skin/places/expander-closed-active.png") !important;
}

.expander-up:hover:active {
	list-style-image: url("chrome://browser/skin/places/expander-open-active.png") !important;
}

#editBookmarkPanelContent {
  min-width: 260px;
}

#editBMPanel_folderTree {
  margin: 6px 4px 0 4px;
}






#editBMPanel_namePicker[droppable="false"] {
  -moz-appearance: none;
  margin: 0px;
  border: none;
  padding: 0px;
  height: auto !important;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-dropmarker {
  display: none;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-editable-box {
  


  -moz-appearance: textfield;
  cursor: text;
  margin: 4px 4px;
  border: 3px solid;
  -moz-border-top-colors: transparent #888888 #000000;
  -moz-border-right-colors: transparent #FFFFFF #000000;
  -moz-border-bottom-colors: transparent #FFFFFF #000000;
  -moz-border-left-colors: transparent #888888 #000000;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomleft: 2px;
  padding: 0;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#editBMPanel_namePicker[droppable="false"][disabled="true"] > .menulist-editable-box {
  cursor: default;
  -moz-border-top-colors: transparent ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: transparent ThreeDShadow -moz-Dialog;
  -moz-border-bottom-colors: transparent ThreeDShadow -moz-Dialog;
  -moz-border-left-colors: transparent ThreeDShadow -moz-Dialog;
  color: GrayText;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-editable-box > html|*.textbox-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}



#editBMPanel_namePicker[droppable="false"] > .menulist-dropmarker {
  display: none;
}

#editBMPanel_namePicker[droppable="false"] > menupopup {
  display: none;
}






#editBMPanel_tagsField #treecolAutoCompleteValue {
  visibility: collapse;
}


	

#editBMPanel_folderMenuList[selectedIndex="0"],
#editBMPanel_toolbarFolderItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;  
}

#editBMPanel_folderMenuList[selectedIndex="1"],
#editBMPanel_bmRootItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png") !important;  
}

#editBMPanel_folderMenuList[selectedIndex="2"],
#editBMPanel_unfiledRootItem {
  list-style-image: url("chrome://browser/skin/places/unfiledBookmarks.png") !important;  
}
