




































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


.folder-icon > .menulist-label-box > .menulist-icon,
.folder-icon > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("chrome://global/skin/tree/folder.png") !important;
}

.menulist-icon {
	margin: 0 !important;
}



#editBMPanel_folderTree {
   margin: 6px 0;
}



.expander-up,
.expander-down {
  -moz-appearance: none;
  margin-left: 8px;
  padding: 0;
  min-width: 0;
}

.expander-up {
	list-style-image: url("chrome://browser/skin/places/expander-open.png") !important;
}

.expander-down {
	list-style-image: url("chrome://browser/skin/places/expander-closed.png") !important;
}

.expander-down:hover:active {
	list-style-image: url("chrome://browser/skin/places/expander-closed-active.png") !important;
}

.expander-up:hover:active {
	list-style-image: url("chrome://browser/skin/places/expander-open-active.png") !important;
}






#editBMPanel_namePicker[droppable="false"] {
  -moz-appearance: none;
  margin: 0px;
  border: none;
  padding: 0px;
  height: auto !important;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-dropmarker {
  display: none;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-editable-box {
  


  -moz-appearance: textfield;
  cursor: text;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  padding: 2px 2px 3px 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-editable-box > html|*.textbox-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}



#editBMPanel_namePicker[droppable="false"] > .menulist-dropmarker {
  display: none;
}

#editBMPanel_namePicker[droppable="false"] > menupopup {
  display: none;
}
