



#handlersView > richlistitem {
  -moz-binding: url("chrome://browser/content/preferences/handlers.xml#handler");
}

#handlersView > richlistitem[selected="true"] {
  -moz-binding: url("chrome://browser/content/preferences/handlers.xml#handler-selected");
}






.actionsMenu > menupopup > menuitem > .menu-iconic-left {
  display: -moz-box;
  min-width: 16px;
}

listitem.offlineapp {
  -moz-binding: url("chrome://browser/content/preferences/handlers.xml#offlineapp");
}


@media (resolution: 2dppx) {
  #handlersView > richlistitem,
  .actionsMenu > menupopup > menuitem > .menu-iconic-left {
    image-rendering: -moz-crisp-edges;
  }
}
