



#oneClickProvidersList richlistitem {
  -moz-binding: url("chrome://global/content/bindings/checkbox.xml#checkbox");
  -moz-padding-start: 5px;
  height: 22px; 

}

#oneClickProvidersList {
  height: 178px;
}

.searchengine-menuitem > .menu-iconic-left {
  display: -moz-box
}

.checkbox-label-box {
  -moz-box-align: center;
  -moz-appearance: none;
}

.checkbox-icon {
  margin: 3px 3px;
  max-width: 16px;
}
