




box,
.splitview-nav {
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

.splitview-nav-container {
  -moz-box-pack: center;
}

.loading .splitview-nav-container > .placeholder {
  display: none !important;
}

.splitview-controller,
.splitview-main {
  -moz-box-flex: 0;
}

.splitview-controller {
  min-height: 3em;
  max-height: 14em;
  max-width: 400px;
  min-width: 200px;
}

.splitview-nav {
  display: -moz-box;
  overflow-x: hidden;
  overflow-y: auto;
}


.splitview-side-details > * {
  display: none;
}
.splitview-side-details > .splitview-active {
  display: -moz-box;
}

.splitview-landscape-resizer {
  cursor: ew-resize;
}


@media (min-width: 551px) {
  .splitview-root {
    -moz-box-orient: horizontal;
  }
  .splitview-controller {
    max-height: none;
  }
  .splitview-details {
    display: none;
  }
  .splitview-details.splitview-active {
    display: -moz-box;
  }
}


ol.splitview-nav > li.splitview-filtered {
  display: none;
}


.splitview-nav:empty,
.splitview-nav.splitview-all-filtered,
.splitview-nav + .splitview-nav.placeholder {
  display: none;
}
.splitview-nav.splitview-all-filtered ~ .splitview-nav.placeholder.all-filtered,
.splitview-nav:empty ~ .splitview-nav.placeholder.empty {
  display: -moz-box;
}

.splitview-portrait-resizer {
  display: none;
}


@media (max-width: 550px) {
  .splitview-landscape-splitter {
    display: none;
  }

  .splitview-portrait-resizer {
    display: -moz-box;
  }

  .splitview-controller {
    max-width: none;
  }
}
