











































#technicalContentText {
  overflow: auto;
  white-space: pre-wrap;
}

.expander[hidden],
.expander[hidden] + *,
.expander[collapsed] + * {
  display: none;
}
