



body {
  
  overflow: visible;
}

.showcase {
  width: 100%;
  margin: 0 auto;
}

.showcase-menu,
.showcase {
  min-width: 350px;
  max-width: 730px;
}

.showcase > header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100000;
  width: 100%;
  padding-bottom: 1em;
}

.showcase > header > h1,
.showcase > section > h1 {
  font-size: 2em;
  font-weight: bold;
  margin: .5em 0;
}

.showcase-menu > a {
  margin-right: .5em;
  padding: .2rem;
  margin-top: .2rem;
}

.showcase > section {
  position: relative;
  padding-top: 15em;
  clear: both;
}

.showcase > section > h1 {
  margin: 1em 0;
  border-bottom: 1px solid #aaa;
}

.showcase > section .comp {
  margin: 0 auto; 
}

.showcase > section .comp.dashed {
  border: 1px dashed #ccc;
}

.showcase > section > .example {
  margin-bottom: 6em;
}

.showcase > section > h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1.5em 0;
}

.showcase > section .example > h3 {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px dashed #aaa;
  margin: 1em 0;
  margin-top: -15em;
  padding-top: 15em;
  text-align: left;
}

.showcase > section .example > h3 a {
  text-decoration: none;
  color: #555;
}

.showcase p.note {
  margin: 0;
  padding: 0;
  color: #666;
  font-style: italic;
}

.override-position * {
  


  position: relative !important;
}


.showcase .fx-embedded .local-stream {
  position: absolute;
}

.showcase p.note > strong {
  font-weight: bold;
}





.standalone .video-layout-wrapper,
.standalone .remote_wrapper {
  min-height: 550px;
}

@media screen and (max-width:640px) {

  .standalone .local-stream {
    background-size: cover;
  }

  .standalone .local-stream,
  .conversation .media.nested .remote {
    background-size: cover;
    background-position: center;
  }

  .standalone .remote_wrapper {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

.remote_wrapper {
  background-image: url("sample-img/video-screen-remote.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.local-stream {
  background-image: url("sample-img/video-screen-local.png");
  background-repeat: no-repeat;
}

  .local-stream.local:not(.local-stream-audio) {
    background-size: cover;
  }

.call-action-group .btn-group-chevron,
.call-action-group .btn-group {
  
  max-width: 120px;
}

.conversation .media.nested .remote {
  

  bottom: auto;
}

.standalone .ended-conversation .remote_wrapper,
.standalone .video-layout-wrapper {
  
  background: none;
}


.standalone .room-conversation .remote_wrapper {
  background: none;
}



.svg-icons h3 {
  clear: left;
}

.svg-icon-list {
  display: block;
  margin: .5rem 0;
  clear: left;
}

.svg-icon-entry {
  width: 180px;
  float: left;
  background-color: rgba(255,0,255,.1)
}

.svg-icon-entry > p {
  float: left;
  margin-right: .5rem;
}

.svg-icon {
  display: inline-block;
  width:  16px;
  height: 16px;
  margin-left: .5rem;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}
