










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");



menu,
menuitem {
  -moz-appearance: menuitem;
  -moz-box-align: center;
  color: MenuText;
  background-color:  Menu;
  font: menu;
  list-style-image: none;
  -moz-image-region: auto;
}

menuitem[default="true"] {
  font-weight: bold;
}

menu[disabled="true"], menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] {
  color: GrayText;
}

menuitem.spell-suggestion {
  font-weight:bold;
}



.menu-accel,
.menu-iconic-accel,
.menu-text,
.menu-iconic-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  -moz-margin-start: 0px !important;
  -moz-margin-end: 0px !important;
  color: inherit;
}

.menu-text {
  -moz-margin-start: 17px !important;
  font-weight: inherit;
}

.menu-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}

.menu-accel,
.menu-iconic-accel {
  -moz-margin-end: 19px !important;
  -moz-margin-start: 8px !important;
  color: inherit;
}

.menu-iconic-text {
  -moz-margin-start: 2px !important;
}

.menu-iconic-left {
  padding: 1px;
  min-width: 15px;
  min-height: 15px;
}



.menu-right {
  margin-top: 2px;
  margin-bottom: 3px;
  -moz-padding-end: 6px;
  list-style-image: none;
  list-style-image: url("chrome://global/skin/menu/Menu-arrow.png");
  -moz-image-region: auto;
}



menubar > menu {
  border: 0;
  -moz-margin-start: 2px;
  -moz-margin-end: 3px;
  margin-top: 2px;
  margin-bottom: 0;
}

menubar > menu[_moz-menuactive="true"][open="true"] {
  color: -moz-MenuBarHoverText;
  background-color: -moz-MenuHover;
}



.menubar-left {
  color: inherit;
}

.menubar-text {
  color: inherit;
}



menupopup > menu,
popup > menu,
menupopup > menuitem,
popup > menuitem {
  max-width: 42em;
  padding-bottom: 2px;
}

menupopup > menu[_moz-menuactive="true"],
menupopup > menuitem[_moz-menuactive="true"],
popup > menu[_moz-menuactive="true"],
popup > menuitem[_moz-menuactive="true"] {
  background: -moz-MenuHover;
  color: -moz-MenuHoverText;
}



.menulist-menupopup > menuitem,
menulist > menupopup > menuitem,
.menulist-menupopup > menu,
menulist > menupopup > menu {
  border: 1px solid transparent;
  -moz-padding-end: 30px;
  -moz-padding-start: 5px;
  padding-top: 0;
  padding-bottom: 0;
  max-width: none;
  font: message-box;
  color: -moz-FieldText;
  background-color: -moz-Field;
}

.menulist-menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menuitem > .menu-iconic-left,
.menulist-menupopup > menu > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
  display: none;
}

menulist > menupopup > menuitem[_moz-menuactive="true"] {
  border: 1px dotted #F5DB95;
}

menulist > menupopup > menuitem > .menu-iconic-text {
  margin: 0 !important;
}




menuitem[checked="true"] {
  list-style-image: url("chrome://global/skin/menu/menu-check.gif");
  -moz-image-region: auto;
}




menuseparator {
  margin: 3px 0 3px 0 !important;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}

menulist > menupopup > menuseparator,
.menulist-menupopup > menuseparator {
  margin: 0;
  border-top: 1px solid #000000;
  border-bottom: none;
}



.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}



.treecell-popupcell-menu {
  -moz-margin-start: -2px;
  list-style-image: url("chrome://global/skin/columnselect.gif");
  -moz-image-region: auto;
}

