










































@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml"); 



scrollbar {
  -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
  cursor: default;
  background: scrollbar;
  border: 1px solid;
  -moz-border-top-colors: ThreeDShadow;
  -moz-border-right-colors: ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDHighlight;
  -moz-border-left-colors: ThreeDShadow;
  min-height: 14px;
}

scrollbar[orient="vertical"] 
{
  min-width: 14px;
}



thumb,
scrollbarbutton {
  border: 2px solid;
  -moz-border-top-colors: ThreeDHighlight ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDHighlight;
  background: -moz-Dialog no-repeat 50% 50%;
}

thumb:active,
scrollbarbutton:hover:active, 
scrollbarbutton[active="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDHighlight;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}

thumb {
  background-image: url("chrome://global/skin/arrow/thumb-vrt.gif");
  min-height: 17px;
  min-width: 0;
}
thumb[orient="horizontal"] {
  background-image: url("chrome://global/skin/arrow/thumb-hrz.gif");
  min-height: 0;
  min-width: 17px;
}



scrollcorner { 
  -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar-base);
  width: 14px;
  cursor: default;
  background-color: -moz-Dialog;
}



scrollbarbutton[type="increment"] {
  min-width: 17px;
  min-height: 12px;
  background-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}

scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-rit-dis.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  min-width: 12px;
  min-height: 17px;
  background-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"][disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}



scrollbarbutton[type="decrement"] {
  min-width: 17px;
  min-height: 12px;
  background-image: url("chrome://global/skin/arrow/arrow-lft.gif");
}

scrollbarbutton[type="decrement"][disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-lft-dis.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  min-width: 12px;
  min-height: 17px;
  background-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"][disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-up-dis.gif");
}




@media print {
  
  
  html|div scrollbar {
    -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
    cursor: default;
    background: scrollbar;
    border: 1px solid;
    -moz-border-top-colors: ThreeDLightShadow;
    -moz-border-right-colors: ThreeDHighlight;
    -moz-border-bottom-colors: ThreeDHighlight;
    -moz-border-left-colors: ThreeDShadow;
    min-height: 14px;
  }
  
  html|div scrollbar[orient="vertical"] 
  {
    min-width: 14px;
  }
  
  
  
  html|div thumb,
  html|div scrollbarbutton {
    border: 2px solid;
    -moz-border-top-colors: ThreeDHighlight ThreeDHighlight;
    -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-left-colors: ThreeDHighlight ThreeDHighlight;
    background: -moz-Dialog no-repeat 50% 50%;
  }
  
  html|div thumb:hover:active,
  html|div scrollbarbutton:hover:active, 
  html|div scrollbarbutton[active="true"] {
    -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-right-colors: ThreeDHighlight ThreeDHighlight;
    -moz-border-bottom-colors: ThreeDHighlight ThreeDHighlight;
    -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
  }
  
  
  
  html|div scrollcorner { 
    -moz-binding: url(chrome://global/content/bindings/scrollbar.xml#scrollbar-base);
    width: 14px;
    cursor: default;
    background-color: -moz-Dialog;
  }
  
  
  
  html|div scrollbarbutton[type="increment"] {
    min-width: 17px;
    min-height: 12px;
    background-image: url("chrome://global/skin/arrow/arrow-rit.gif");
  }
  
  html|div scrollbarbutton[type="increment"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-rit-dis.gif");
  }
  
  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
    min-width: 12px;
    min-height: 17px;
    background-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  }
  
  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
  }
  
  
  
  html|div scrollbarbutton[type="decrement"] {
    min-width: 17px;
    min-height: 12px;
    background-image: url("chrome://global/skin/arrow/arrow-lft.gif");
  }
  
  html|div scrollbarbutton[type="decrement"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-lft-dis.gif");
  }
  
  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
    min-width: 12px;
    min-height: 17px;
    background-image: url("chrome://global/skin/arrow/arrow-up.gif");
  }
  
  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-up-dis.gif");
  }
} 
