



%define WINDOWS_AERO
%include downloads.css
%undef WINDOWS_AERO

@media (-moz-windows-default-theme) {
  richlistitem[type="download"] {
    border: 1px solid transparent;
    border-bottom: 1px solid hsl(213,40%,90%);
  }

  #downloadsPanel:not([keyfocus]) > #downloadsListBox > richlistitem[type="download"][state="1"]:hover {
    border: 1px solid hsl(213,45%,65%);
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.5) inset,
                0 1px 0 hsla(0,0%,100%,.3) inset;
    background-image: linear-gradient(hsl(212,86%,92%), hsl(212,91%,86%));
    color: black;
  }
}

@media (-moz-windows-compositor) {
  


  #toolbar-menubar #downloads-indicator:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon:not(:-moz-lwtheme),
  #TabsToolbar[tabsontop=true] #downloads-indicator:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon:not(:-moz-lwtheme),
  #navigator-toolbox[tabsontop=false] > #nav-bar #downloads-indicator:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon:not(:-moz-lwtheme),
  #nav-bar + #customToolbars + #PersonalToolbar[collapsed=true] + #TabsToolbar[tabsontop=false]:last-child #downloads-indicator:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon:not(:-moz-lwtheme),

  



  
  #toolbar-menubar #downloads-indicator:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
  
  #TabsToolbar[tabsontop=true] #downloads-indicator:not(:-moz-lwtheme):not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
  
  #navigator-toolbox[tabsontop=false] > #nav-bar #downloads-indicator:not(:-moz-lwtheme):not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
  
  #nav-bar + #customToolbars + #PersonalToolbar[collapsed=true] + #TabsToolbar[tabsontop=false]:last-child #downloads-indicator:not(:-moz-lwtheme):not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter {
    background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-inverted.png"), 0, 108, 18, 90);
  }

  #toolbar-menubar #downloads-indicator-counter:not(:-moz-lwtheme),
  #TabsToolbar[tabsontop=true] #downloads-indicator-counter:not(:-moz-lwtheme),
  #navigator-toolbox[tabsontop=false] > #nav-bar #downloads-indicator-counter:not(:-moz-lwtheme),
  #nav-bar + #customToolbars + #PersonalToolbar[collapsed=true] + #TabsToolbar[tabsontop=false]:last-child #downloads-indicator-counter:not(:-moz-lwtheme) {
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,.7),
                 0 1px 1.5px rgba(0,0,0,.5);
  }
}

#downloads-indicator-counter {
  margin-bottom: -1px;
}
