



#aboutDialogContainer {
  background-image: url("chrome://branding/content/about-background.png");
  background-repeat: no-repeat;
  background-color: rgb(19,8,36);
  color: #fff;
}

.text-link {
  color: #fff !important;
  text-decoration: underline;
}

.text-link:-moz-focusring {
  border-color: #fff;
}

#rightBox {
  
  margin-left: 280px;
  margin-right: 20px;
}

#bottomBox {
  padding: 15px 10px 15px;
  background-color: rgba(0,0,0,.7);
}

#version {
  margin-top: 30px;
}
